﻿@model GestionTitreFoncierApp.Models.Operations

<div class="modal-header" style="background-color:#47c02f;border:none;">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@using (Html.BeginForm("ValidationConfirmer", "Operations", FormMethod.Post))
{
    @Html.HiddenFor(model => model.id)
    <div class="modal-body" style="background-color:#47c02f;border:hidden;">
        @Html.AntiForgeryToken()
        <h3 style="color:#ffffff;">
            Etes-vous sur de vouloir valider cette operation ?
        </h3>
    </div>
    <div class="modal-footer" style="background-color:#47c02f;border:hidden;">
        <input type="submit" value="Oui" class="btn btn-default btn-lg " />
        <button class="btn btn-default btn-lg" type="button" id="closbtn" data-dismiss="modal">Non</button>
    </div>
}


