﻿@using GestionTitreFoncierApp.Helpers
@model GestionTitreFoncierApp.Models.Operations

@{
    ViewBag.Title = "Create";
}


<div class="row col-md-offset-1" style="margin-right:10px;">
    @*@Html.Partial("~/Views/Operations/DetailsTF.cshtml", Model)*@

    @{ Html.RenderAction("DetailsTF", "Operations", new { id = Model.idTF }); }
    <div class="col-md-10">
        <div class="panel panel-default Pan">
            <div class="panel-heading" style="background-color:#70cfd5;">
                <h3 class="panel-title" style="color:#000000;">
                    <b class="col-md-offset-5"> Images du TF </b>
                </h3>
                <span class="pull-right clickables"><i id="ii" class="glyphicon glyphicon-chevron-down shev"></i></span>
            </div>

            <div class="panel-body bod">
                @*@{ Html.RenderAction("DisplayImages", "Other", new { numerotf = Model.tf.numerotf, typview = 1, imageindex = 1 }); }*@

            </div>
        </div>
    </div>

    <div class="col-md-10">

        @using (Html.BeginForm("Create", "Operations", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color:#9dacad;">
                        <h3 class="panel-title" style="color:#ffffff;">
                            <b style="text-align:left;"> Enregistrement d'une nouvelle Opération <u class="col-md-offset-7"> Etape 1/2</u></b>
                        </h3>

                    </div>
                    <div class="panel-body">
                        @if (TempData["message"] != null)
                {
                         if (TempData["status"].ToString() == "Success")
                    {
                         <div class="alert-message alert-message-success">
                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                              <h4>	<i class="glyphicon glyphicon-ok"></i> Success!</h4>
                              <p> <strong> @TempData["message"]</strong><a href="@Url.Action("Details","Hypotheques",new {id= TempData["IDHypo"].ToString()})"><i> voir detaille</i></a></p>
                          </div>
                    }
                            if (TempData["status"].ToString() == "Erreur")
                            {
                                <div class="alert-message alert-message-warning">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4>	<i class="glyphicon glyphicon-ok"></i> Erreur!</h4>
                                    <p> <strong class="text-warning"> @TempData["message"]</strong></p>
                                </div>
                            }
                }
                        @Html.ValidationSummary(true)
                        @Html.Hidden("idNatureOperation")
                        @Html.Hidden("IDTF")


                        <div class="form-group">
                            @Html.Label("Type de l'opération :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.DropDownList("idTypeOperation", null, "---- Selectionnez un type d'Opération ----- ", htmlAttributes: new { @class = "form-control select2", style = "width:300px;", required = "required" })
                                @Html.ValidationMessageFor(model => model.idTypeOperation)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Date de l'opération : ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.dateOperation, htmlAttributes: new { @class = "form-control", type = "date", required = "required" })
                            </div>
                            <div class="col-md-4">
                                @Html.ValidationMessageFor(model => model.dateOperation, null, htmlAttributes: new { @class = "" })
                            </div>
                        </div>
                        @if ((ViewBag.idNatureOperation == 2 && Model.idTypeOperation == null) || Model.idTypeOperation == 1 || Model.idTypeOperation == 15 || (ViewBag.idNatureOperation == 1 && Model.idTypeOperation == null))/* && ViewBag.idType == 3)*/
                        {
                            <div class="form-group" id="Mont">
                                @Html.Label("Montant", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.montantOperation, htmlAttributes: new { @class = "form-control Montant"/*, placeholder = "0000"*/ , @type = "number" })
                                        <div class="input-group-addon">
                                            <i class=""> <b> FDJ </b> </i>
                                        </div>
                                        @if (ViewBag.idNatureOperation == 2)
                                        {
                                            if (ViewBag.MaxMontant > 0)
                                            {
                                                <div class="input-group-addon">
                                                    <i><b style="color:#009c05;">=< @ViewBag.MaxMontant <sup>FDJ</sup></b></i>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="input-group-addon">
                                                    <i><b style="color:#ff0000;"> @ViewBag.MaxMontant <sup>FDJ</sup></b></i>
                                                </div>
                                            }
                                        }
                                    </div>
                                    @Html.ValidationMessageFor(model => model.montantOperation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        @if ((ViewBag.idNatureOperation == 1 && Model.idTypeOperation == null) || Model.idTypeOperation == 3)/* && ViewBag.idType == 3)*/
                        {
                            <div class="form-group" id="Denom">
                                @Html.Label("Nouveau Nom : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBox("Denomination", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessage("Denomination")
                                </div>
                            </div>
                            <div class="form-group" id="typeent">
                                @Html.Label("Type d'entreprise : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.DropDownList("Typeentreprise", null, "---- Selectionnez un type d'entreprise ----- ", htmlAttributes: new { @class = "form-control select2" })
                                    @Html.ValidationMessage("Typeentreprise")
                                </div>
                            </div>
                        }

                        @if (ViewBag.idNatureOperation == 2)
                        {
                            <div class="form-group">
                                @Html.Label("Le débiteur est un :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.DropDownList("Debiteur", new List<SelectListItem> {
                                                new SelectListItem { Text = "Proprietaire", Value = "1" },
                                                new SelectListItem { Text = "Hypotheque Cautionnaire", Value = "2" },},
                                                htmlAttributes: new { @class = "form-control select2" })
                                    @Html.ValidationMessage("Debiteur")
                                </div>
                            </div>
                            <div class="form-group" id="IDebiteur">
                                @Html.Label("Debiteur :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.DropDownList("IDDebiteur", null, "---- Selectionnez le debiteur ----- ", htmlAttributes: new { @class = "form-control select2" })
                                        @*<div class="input-group-addon" data- style="background-color:#3bb03f;" id="NewDebiteur">
                                                <span class="glyphicon glyphicon-plus" style="color:#ffffff;"></span>
                                            </div>*@
                                        <div class="input-group-addon" style="padding:0px 0px 0px 0px;">
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Ajout Debiteur", "CreateDebiteurPartiel", "Operations", htmlAttributes: new { data_modal = "", @class = "NewDebiteur btn btn-success" })

                                        </div>
                                    </div>
                                    @Html.ValidationMessage("IDDebiteur", "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Date fin de l'hypothèque : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.dateFin, htmlAttributes: new { @class = "form-control", type = "date"})
                                    @Html.ValidationMessageFor(model => model.dateFin)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Créancier :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.DropDownList("idActeur", null, "---- Selectionnez un Créancier ----- ", htmlAttributes: new { @class = "form-control select2", required = "required" })
                                        @Html.ValidationMessageFor(model => model.idActeur)
                                        <div class="input-group-addon" style="padding:0px 0px 0px 0px;">
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", "Ajout Creancier", "CreateCreancierPartiel", "Operations", htmlAttributes: new { data_modal = "", @class = "NewCreancier btn btn-success" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Rang : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.rang, htmlAttributes: new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.rang)
                                </div>
                            </div>
                        }
                        @if (ViewBag.idNatureOperation == 1 && Model.idTypeOperation == null)
                        {
                            <div class="form-group" id="Incorpor">
                                @Html.Label("Superficie a rajouter : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-4">
                                    <div class="input-group">
                                        @Html.TextBox("Superficie", "", htmlAttributes: new { @class = "form-control Superficie" })
                                        @Html.ValidationMessage("Superficie")
                                        <div class="input-group-addon">
                                            <i class=""> <b> m&sup2; </b> </i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        }

                        <div class="panel-footer" style="margin:1px 1px 1px 1px;">
                            <button type="submit" class="btn btn-success btn-lg col-md-offset-9"> Continuer l'operation <span class="glyphicon glyphicon-play"></span></button>

                        </div>


                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script type="text/javascript">




    //$('#Montant').prop('required', true);
    //$(function () {
    //    $(".Montant").on('change', function () {
    //        var x = $(".Montant").val();
    //        $(".Montant").val(addCommas(x));
    //    });
    //});

    //function addCommas(x) {
    //    var parts = x.toString().split(".");
    //    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    //    return parts.join(".");
    //}
    $(function () {
        $('#idTypeOperation').change(function () {
            var value = $(this).val();

            var v = document.getElementById('idNatureOperation').value;
            if(v=='1'){
                if (value == '1' || value =='15') {
                    $('#Mont').show();
                    $('.Montant').prop('required', true);

                } else {
                    $('#Mont').hide();
                    $('.Montant').prop('required', false);
                }
            }

        });
    });
    $(function () {
        $('#idTypeOperation').change(function () {
            var value = $(this).val();

            var v = document.getElementById('idNatureOperation').value;
            if(v=='1'){
                if (value == '16') {
                    $('#Incorpor').show();
                    $('.Superficie').prop('required', true);

                } else {
                    $('#Incorpor').hide();
                    $('.Superficie').prop('required', false);
                }
            }
        });
    });

    $(function () {
        $('#idTypeOperation').change(function () {
            var value = $(this).val();
            var v = document.getElementById('idNatureOperation').value;
            if(v=='1'){
                if (value == '3') {
                    $('#Denom').show();
                    $('#typeent').show();
                    $('#Denomination').prop('required', true);
                    $('#Typeentreprise').prop('required', true);

                } else {
                    $('#Denom').hide();
                    $('#typeent').hide();
                    $('#Denomination').prop('required', false);
                    $('#Typeentreprise').prop('required', false);
                }
            }
        });
    });
    if( document.getElementById('Debiteur').value == '2') {
        $('#IDebiteur').show();
        $('#IDDebiteur').prop('required', true);
    }
    else {
        $('#IDebiteur').hide();
        $('#IDDebiteur').prop('required', false);
    }



    $(function () {
        $('#Debiteur').change(function () {
            var value = $(this).val();
            if (value == '2') {
                $('#IDebiteur').show();
                $('#IDDebiteur').prop('required', true);

            } else {
                $('#IDebiteur').hide();
                $('#IDDebiteur').prop('required', false);
            }
        });
    });

</script>
<script>
    $('#Mont').@ViewBag.style;
    $('#Denom').@ViewBag.style;
    $('#typeent').@ViewBag.style;
    $('#Incorpor').@ViewBag.style;
</script>
<script>
    $(function () {
        $.ajaxSetup({ cache: false });

        $('.NewCreancier').on("click", function (e) {
            //alert(" PAGE  PROP");
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                //  alert(" propModalContent load");
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                //alert(" propModalContent apres show");
                bindFormCreancier(this);
            });
            return false;
        });
    });

    function bindFormCreancier(dialog) {
        $('form', dialog).submit(function () {
            // alert(" propModalContent bindForm(dialog) form");
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        //  alert(" propModalContent ajax succes");
                        $('#myModal').modal('hide');

                        // var markup = "<option value='0'> ---- Selectionnez ----- </option>";
                        for (var x = 0; x < result.infos.length; x++) {
                            var  markup = "<option value=" + result.infos[x].Value + ">" + result.infos[x].Text + "</option>";

                            $("#idActeur").html(markup).show();
                            $("#idActeur").prop('required', true);
                            //$('#idActeur').load(result);
                            //$("#idActeur").empty();
                            //$.each(result.infos, function (index, itemData) {
                            //    $("#idActeur").append($('<option/>', {
                            //        value: itemData.Value,
                            //        text: itemData.Text
                            //    }));
                            //});
                        }
                        //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        // alert(" propModalContent ajax echec");
                        $('#myModalContent').html(result);
                        bindFormProp(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>
<script>
    $(function () {
        $.ajaxSetup({ cache: false });

        $('.NewDebiteur').on("click", function (e) {
            //alert(" PAGE  PROP");
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                //  alert(" propModalContent load");
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                //alert(" propModalContent apres show");
                bindFormDebiteur(this);
            });
            return false;
        });
    });

    function bindFormDebiteur(dialog) {
        $('form', dialog).submit(function () {
            // alert(" propModalContent bindForm(dialog) form");
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        //  alert(" propModalContent ajax succes");
                        $('#myModal').modal('hide');

                        // var markup = "<option value='0'> ---- Selectionnez ----- </option>";
                        for (var x = 0; x < result.debit.length; x++) {
                            var markup = "<option value=" + result.debit[x].Value + ">" + result.debit[x].Text + "</option>";
                            //var lastValue = markup.options[markup.options.length - 1].value;


                        }
                        $("#IDDebiteur").html(markup).show();
                        //   var theSelect = document.getElementById('idOfSelect');


                        //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        // alert(" propModalContent ajax echec");
                        $('#myModalContent').html(result);
                        bindFormProp(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>