﻿@model GestionTitreFoncierApp.Models.Operations

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Operation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datecreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datecreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datemodification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datemodification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.montantOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.montantOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tempOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tempOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activeOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activeOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valideOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valideOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NatureOperation.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NatureOperation.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tf.numerotf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tf.numerotf)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
