﻿@using GestionTitreFoncierApp.Helpers
@model GestionTitreFoncierApp.Models.Operations

@{
    ViewBag.Title = "Details";
}


<div class="row col-md-offset-1" style="margin-bottom:50px;margin-right:0px;">
    @*@Html.Partial("~/Views/Operations/DetailsTF.cshtml", Model)*@
    @{ Html.RenderAction("DetailsTF", "Operations", new { id = Model.idTF }); }
    @using (Html.BeginForm("Valider", "Operations", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()
    <div class="col-md-10">
        <div class="form-horizontal">
            <div class="panel panel-success" style="border:hidden;">
                <div class="panel-heading" style="background-color:#c0d2d3;">
                    <h3 class="panel-title" style="color:#ffffff;">
                        <b>
                            Details Opération
                        </b>
                    </h3>
                    @if (Model.IDStatus == 3 || Model.IDStatus == 5)
                        {

                        <img src="~/Images/Valider.png" alt="oui" class="img-responsive img-circle col-md-offset-11" style="margin-top:0px;" />
                        @* <p> Opération Valide  </p>*@

                        }
                    @if (Model.IDStatus == 2)
                        {

                        <img src="~/Images/NonValide.png" alt="Non" class="img-responsive img-circle col-md-offset-11" style="margin-top:0px;" />
                        @* <p> Opération Non Valide </p>*@

                        }
                    @if (Model.IDStatus == 1 || Model.IDStatus == 4)
                        {

                        <img src="~/Images/Annuler.png" alt="NonValide" class="img-responsive img-circle col-md-offset-11" style="margin-top:0px;" />
                        @* <p> Opération Non Valide </p>*@

                        }



                </div>
                <div class="panel-body">

                    @Html.HiddenFor(model => model.id)
                    <div class="col-md-12">
                        <div class="col-md-offset-0">
                            <table class="table table-bordered ">
                                <tr>
                                    <th>@Html.DisplayName("Opération : ") </th>
                                    <td>@Html.DisplayFor(model => model.NatureOperation.nom)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayName("Type d'opération : ") </th>
                                    <td>@Html.DisplayFor(model => model.TypesOperation.nom)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayName("Date de l'opération :") </th>
                                    <td>@Html.DisplayFor(model => model.dateOperation)</td>
                                </tr>

                                @if ((Model.idNatureOperation == 2) || (Model.idNatureOperation == 1 && (Model.idTypeOperation == 1 || Model.idTypeOperation == 15)))
                                    {
                                    <tr>
                                        <th>@Html.DisplayName("Montant : ")</th>

                                        @if (@*Model.montantOperation != 0 ||*@ Model.montantOperation != null)
                                            {
                                        <td>
                                            @Html.DisplayFor(model => model.montantOperation) <sup>FDJ</sup>
                                        </td>
                                            }
                                            else
                                            {
                                        <td>
                                            <b>0</b> <sup>FDJ</sup>
                                        </td>
                                            }


                                    </tr>
                                    }
                                @if (Model.idTypeOperation == 18 || Model.idTypeOperation == 19 )
                                {
                                    <tr>
                                        @if (Model.idTypeOperation == 18)
                                        {
                                            <th>@Html.DisplayName("Nouvelle Valeur du TF : ")</th>
                                        } 
                                        @if (Model.idTypeOperation == 19)
                                        {
                                            <th>@Html.DisplayName("Nouvelle Superficie du TF : ")</th>
                                        }
                                        @if (Model.montantOperation != null)
                                        {

                                            <td>
                                                @Html.DisplayFor(model => model.montantOperation) 
                                                @if (Model.idTypeOperation == 18)
                                                {
                                                     <sup>FDJ</sup>
                                                }
                                                @if (Model.idTypeOperation == 19)
                                                {
                                                    <b>m²</b>
                                                }
                                               
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <b>0</b> 
                                                @if (Model.idTypeOperation == 18)
                                                {
                                                    <sup>FDJ</sup>
                                                }
                                                @if (Model.idTypeOperation == 19)
                                                {
                                                    <sup>m²</sup>
                                                }
                                            </td>
                                        }


                                    </tr>
                                }
                                @if (Model.idTypeOperation == 16)
                                {
                                <tr>
                                    <th>@Html.DisplayName("Superficie a rajouter : ")</th>
                                    <td>@Html.DisplayFor(model => model.montantOperation) <b>m&sup2;</b></td>
                                </tr>
                                }
                                <tr>
                                    <th>@Html.DisplayName("Statut de l'opération : ")</th>
                                    <td>@Html.DisplayFor(model => model.Operations_Status.Libelle)</td>
                                </tr>
                                @if (Model.Vendors != null && Model.idTypeOperation == 3)
                                    {
                                        if (Model.valideOperation == 0)
                                        {
                                    <tr>
                                        <th>@Html.DisplayName("Nouveau nom :")</th>
                                        <td>@Html.DisplayFor(model => model.Vendors.NomDenom)</td>
                                    </tr>
                                        }
                                        else
                                        {
                                    <tr>
                                        <th>@Html.DisplayName("L'ancien Nom :")</th>
                                        <td>@Html.DisplayFor(model => model.Vendors.NomDenom)</td>
                                    </tr>
                                        }
                                    }
                                @if (Model.Vendors != null && Model.idNatureOperation == 2 && ViewBag.Debiteurs != null)
                                    {
                                    <tr>
                                        <th>@Html.DisplayName("Cautionnaire :")</th>
                                        <td>@ViewBag.Debiteurs</td>
                                    </tr>

                                    }
                                <tr>
                                    <th>@Html.DisplayName("Date de création :")</th>
                                    <td>@Html.DisplayFor(model => model.datecreation)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayName("Dernière mise à jour :")</th>
                                    <td>@Html.DisplayFor(model => model.datemodification)</td>
                                </tr>




                                @if (Model.idNatureOperation == 2)
                                    {

                                    <tr>
                                        <th>@Html.DisplayName("Créancier : ")</th>
                                        <td>@Html.DisplayFor(model => model.Acteurs.nom)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayName("Rang de l'hypothèque : ")</th>
                                        <td>@Html.DisplayFor(model => model.rang)</td>
                                    </tr>
                                    if (Model.dateFin != null)
                                    {
                                    <tr>
                                        <th>@Html.DisplayName("Date fin de l'hypothèque : ")</th>
                                        <td>@Html.DisplayFor(model => model.dateFin)</td>
                                    </tr>
                                    }
                                }
                                @if (Model.idNatureOperation == 3)
                                    {

                                        if (Model.IDStatus == 2)
                                        {
                                    <tr>
                                        <th>@Html.DisplayName("Nouvelle Valeur du terrain : ")</th>
                                        <td>@Html.DisplayFor(model => model.TFFusions_Principals.ValeurTerrain) <sup>FDJ</sup> </td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayName("Nouvelle Superficie: ")</th>
                                        <td>@Html.DisplayFor(model => model.TFFusions_Principals.Superficie) m&sup2;</td>
                                    </tr>
                                        }
                                        if (Model.IDStatus == 3)
                                        {
                                    <tr>
                                        <th>@Html.DisplayName("Ancienne Valeur du terrain : ")</th>
                                        <td>@Html.DisplayFor(model => model.TFFusions_Principals.ValeurTerrain) <sup>FDJ</sup> </td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayName("Ancienne Superficie: ")</th>
                                        <td>@Html.DisplayFor(model => model.TFFusions_Principals.Superficie) m&sup2;</td>
                                    </tr>
                                        }
                                    }
                            </table>


                        </div>
                        <div class="panel-footer">
                            <div class="col-md-offset-10">
                                @if (Model.IDStatus == 2 || Model.IDStatus == 3)
                                    {
                                        if (((User.IsInRole("Special"))) || ((Model.idNatureOperation == 1 && User.IsInRole("Modifier Mutation")) || (Model.idNatureOperation == 2 && User.IsInRole("Modifier Hypotheque"))))
                                        {

                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'> Modifier </span>", "Edit", "Edit", "Operations", routeValues: new { id = Model.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-primary" })

                                        }
                                        else
                                        {
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'> Modifier</span>", "Edit", "Edit", "Operations", routeValues: new { id = Model.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-primary", disabled = "disabled" })
                                        }
                                    }
                                    else
                                    {
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'> Modifier</span>", "Edit", "Edit", "Operations", routeValues: new { id = Model.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-primary", disabled = "disabled" })
                                    }
                            </div>
                        </div>
                    </div>


                    @if (Model.idNatureOperation == 4)
                        {
                        <div class="row">
                            <div class="col-md-12" id="replacedist">
                                @{ Html.RenderAction("Index", "Distractions", new { id = Model.idTF,idd=Model.id }); }
                            </div>
                        </div>
                                        }
                    @if (Model.idNatureOperation == 3)
                        {
                        <div class="row">
                            <div class="col-md-12" id="replacedist">
                                @{ Html.RenderAction("Index", "Fusions", new { id = Model.IDFusion }); }
                            </div>
                        </div>
                                        }

                    <div class="row">
                        <div class="col-md-12">
                            @{ Html.RenderAction("List", "Actes", new { id = Model.id }); }
                        </div>
                    </div>




                    @if (Model.idNatureOperation == 1)
                    {
                        if (Model.idTypeOperation != 3 && Model.idTypeOperation != 16)
                        {
                        <div class="row">
                            <div class="col-md-12" id="replaceprop">
                                @{ Html.RenderAction("ListDetails", "proprietaires", new { id = Model.id }); }
                            </div>
                        </div>
                                    }
                                    if (Model.valideOperation == 1 && Model.idTypeOperation != 15 && Model.idTypeOperation != 16)
                                    {

                        <div class="row">
                            <div class="col-md-12" id="replaceVend">
                                @{ Html.RenderAction("Vendors", "proprietaires", new { id = Model.id }); }
                            </div>
                        </div>
                                        }
                                    }

                    <div class="row">
                        <div class="col-md-12">
                            @{ Html.RenderAction("ListeHistoriques", "Historiques", new { id = Model.id }); }
                        </div>
                    </div>

                </div>

            </div>
        </div>



        @if (Model.activeOperation == 1)
                {
            <div>
                @Html.Display("Active")
            </div>
            }
            else
            {
            <div>
                @Html.Display("Innactive")
            </div>
            }



    </div>
                                    if ((User.IsInRole("Annuler Operation") || User.IsInRole("Valider Operation") || User.IsInRole("Special")))
                                    {
                                        if (Model.valideOperation == 0 && Model.activeOperation == 1)
                                        {
    <div class="navbar navbar-default navbar-fixed-bottom" style="margin-bottom:02px;border:1px solid #808080;margin-right:01px; padding: 10px 02px 10px 10px;background-color:#c0d2d3;">

        <div class="col-md-offset-4">

            <button class="btn btn-success btn-lg" type="button" name="ValiderOperations" id="ValiderOperations" data-id="@Model.id"><span class="glyphicon glyphicon-ok"> Valider l'operation </span></button>
            <button class="btn btn-danger  btn-lg" type="button" name="AnnulerOperations" id="AnnulerOperations" data-id="@Model.id"><span class="glyphicon glyphicon-ban-circle"> Annuler l'operation </span></button>
        </div>
    </div>
                                            }

                                        }
                                    }
</div>
