﻿@using GestionTitreFoncierApp.Helpers

@model GestionTitreFoncierApp.Models.Operations

@{
    ViewBag.Title = "Edit";
}


<div class="row col-md-offset-1" style="margin-right:1px;">
    <div class="col-md-10">
        @using (Html.BeginForm("Edit", "Operations", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <div class="panel panel-success" style="border:hidden;">
                    <div class="panel-heading" style="background-color:#c0d2d3;">
                        <h3 class="panel-title" style="color:#ffffff;">Mise à jour d'une Opération</h3>
                        @*<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>*@
                    </div>
                    <div class="panel-body">

                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.id)
                        @Html.HiddenFor(model => model.idNatureOperation)
                        @Html.HiddenFor(model => model.idTypeOperation)
                        @Html.HiddenFor(model => model.valideOperation)
                        @Html.HiddenFor(model => model.activeOperation)
                        @Html.HiddenFor(model => model.tempOperation)
                        @Html.HiddenFor(model => model.idTF)
                        @Html.HiddenFor(model => model.datecreation)
                        @Html.HiddenFor(model => model.idVendor)
                        @Html.HiddenFor(model => model.IDFusion)
                       
             @if ((Model.IDStatus == 1) || (Model.IDStatus == 2) || (ViewBag.Role==1 && Model.IDStatus==3))
             {
                        <div class="form-group">
                            @Html.Label("Type de l'opération :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.DropDownList("idTypeOperation", null, "---- Selectionnez un type d'Opération ----- ", htmlAttributes: new { @class = "form-control select2", style = "width:300px;", required = "required", @readonly = "true", disabled = "true" })
                                @Html.ValidationMessageFor(model => model.idTypeOperation)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Date de l'opération : ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.dateOperation, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date", required = "required" })
                                @Html.ValidationMessageFor(model => model.dateOperation)
                            </div>
                        </div>
                        if (Model.idTypeOperation == 16)
                        {
                            <div class="form-group">
                                @Html.Label("Superficie a rajouter :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.montantOperation, htmlAttributes: new { @class = "form-control" })
                                        <div class="input-group-addon">
                                            <i class=""> <b> m&sup2; </b> </i>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.montantOperation)
                                </div>
                            </div>
                        }
                 if (Model.idNatureOperation == 1 && Model.idTypeOperation == 3)
                 {
                            <div class="form-group" id="Denom">
                                @Html.Label("Nouveau Nom : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBox("Denomination", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessage("Denomination")
                                </div>
                            </div>
                            <div class="form-group" id="typeent">
                                @Html.Label("Type d'entreprise : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.DropDownList("Typeentreprise", null, "---- Selectionnez un type d'entreprise ----- ", htmlAttributes: new { @class = "form-control select2" })
                                    @Html.ValidationMessage("Typeentreprise")
                                </div>
                            </div>
                 }
                 if ((Model.idNatureOperation == 1 && (Model.idTypeOperation == 1 || Model.idTypeOperation == 15)) || (Model.idNatureOperation == 2) || (Model.idTypeOperation == 18) || (Model.idTypeOperation == 19))
                 {
                        <div class="form-group" id="Mont">
                            @if (Model.idTypeOperation == 18)
                            {
                                @Html.Label("Nouvelle Valeur", htmlAttributes: new { @class = "control-label col-md-4" })
                            }
                            else if (Model.idTypeOperation == 19)
                            {
                                @Html.Label("Nouvelle Superficie", htmlAttributes: new { @class = "control-label col-md-4" })
                            }
                            else
                            {
                                @Html.Label("Montant :", htmlAttributes: new { @class = "control-label col-md-4" })
                            }
                            <div class="col-md-4">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.montantOperation, htmlAttributes: new { @class = "form-control Montant", placeholder = "0000", @type = "number" })
                                    @if (Model.idTypeOperation == 19)
                                    {
                                        <div class="input-group-addon">
                                            <i class=""> <b> m² </b> </i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group-addon">
                                            <i class=""> <b> FDJ </b> </i>
                                        </div>
                                    }
                                   
                                </div>
                                @Html.ValidationMessageFor(model => model.montantOperation, "", new { @class = "text-danger" })
                            </div>
                        </div>
                 }

                 if (Model.idNatureOperation == 2)
                 {
                     if (Model.idVendor != null  && Model.idNatureOperation == 2 && ViewBag.EstDEB != null)
                     {
                            <div class="form-group" id="IDebiteur">
                                @Html.Label("Debiteur :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.DropDownList("IDDebiteur", null, "---- Selectionnez le debiteur ----- ", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessage("IDDebiteur")
                                </div>
                            </div>
                     }
                            <div class="form-group">
                                @Html.Label("Créancier :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-5">
                                    @Html.DropDownList("idActeur", null, "---- Selectionnez un Créancier ----- ", htmlAttributes: new { @class = "form-control", style = "width:300px;", required = "required" })
                                    @Html.ValidationMessageFor(model => model.idActeur)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Rang de l'hypothèque", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.rang, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.rang)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Date fin de l'hypothèque : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.dateFin, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date" })
                                    @Html.ValidationMessageFor(model => model.dateFin)
                                </div>
                            </div>
                 }
                 if (Model.idNatureOperation == 3)
                 {

                    <div class="form-group">
                        @Html.Label("Numeros du TF :", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-3">
                            @Html.TextBox("NumeroTF", null, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.tf.numerotf)
                        </div>
                    </div>
                        <div class="form-group">
                            @Html.Label("Nouvelle valeur du terrain :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBox("FusionValeur", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessage("FusionSuperficie")
                            </div>
                        </div>
                            <div class="form-group">
                                @Html.Label("Nouvelle superficie :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBox("FusionSuperficie", null, htmlAttributes: new { @class = "form-control", @id = "SuperficieTF" })
                                    @Html.ValidationMessage("FusionSuperficie")
                                </div>
                            </div>

                 }

                 if (Model.idNatureOperation == 3)
                 {
                    <div class="row">
                        <div class="col-md-12" id="replacedist">
                            @{ Html.RenderAction("List", "Fusions", new { id = Model.IDFusion }); }
                        </div>
                    </div>
                                }
                                if (Model.idNatureOperation == 4)
                                {
                    <div class="row">
                        <div class="col-md-12" id="replacedist">
                            @{ Html.RenderAction("List", "Distractions", new { id = Model.idTF ,idd=Model.id}); }
                        </div>
                    </div>

                                }



                                                }
                                                else
                                                {
                <div class="form-group">
                    @Html.Label("Type de l'opération :", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.DropDownList("idTypeOperation", null, "---- Selectionnez un type d'Opération ----- ", htmlAttributes: new { @class = "form-control select2", style = "width:300px;", required = "required", @readonly = "true", disabled = "true"})
                        @Html.ValidationMessageFor(model => model.idTypeOperation)
                    </div>
                </div>

                        <div class="form-group">
                            @Html.Label("Date de l'opération : ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.dateOperation, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date", required = "required", @readonly = "true", disabled = "true"})
                                @Html.ValidationMessageFor(model => model.dateOperation)
                            </div>
                        </div>
                        if (Model.idTypeOperation == 16)
                        {
                            <div class="form-group">
                                @Html.Label("Superficie a rajouter :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.montantOperation, htmlAttributes: new { @class = "form-control", @readonly = "true", disabled = "true" })
                                        <div class="input-group-addon">
                                            <i class=""> <b> m&sup2; </b> </i>
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.montantOperation)
                                </div>
                            </div>
                        }
                                    if (Model.idNatureOperation == 1 && Model.idTypeOperation == 3)
                                    {
                    <div class="form-group" id="Denom">
                        @Html.Label("Nouveau Nom : ", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-3">
                            @Html.TextBox("Denomination", null, htmlAttributes: new { @class = "form-control", @readonly = "true", disabled = "true" })
                            @Html.ValidationMessage("Denomination")
                        </div>
                    </div>
                            <div class="form-group" id="typeent">
                                @Html.Label("Type d'entreprise : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.DropDownList("Typeentreprise", null, "---- Selectionnez un type d'entreprise ----- ", htmlAttributes: new { @class = "form-control select2", @readonly = "true", disabled = "true"})
                                    @Html.ValidationMessage("Typeentreprise")
                                </div>
                            </div>
                 }
                 if ((Model.idNatureOperation == 1 && (Model.idTypeOperation == 1 || Model.idTypeOperation == 15)) || (Model.idNatureOperation == 2))
                 {
                    <div class="form-group" id="Mont">
                        @Html.Label("Montant", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.montantOperation, htmlAttributes: new { @class = "form-control Montant", @readonly = "true", disabled = "true" })
                                <div class="input-group-addon">
                                    <i class=""> <b> FDJ </b> </i>
                                </div>
                                @if (Model.idNatureOperation == 2)
                                {
                                    if (ViewBag.MaxMontant > 0)
                                    {
                                        <div class="input-group-addon">
                                            <i><b style="color:#009c05;">=< @ViewBag.MaxMontant</b></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="input-group-addon">
                                            <i><b style="color:#ff0000;"> @ViewBag.MaxMontant <em>(@ViewBag.MontantInsufisant)</em></b></i>
                                        </div>
                                    }
                                }
                            </div>
                            @Html.ValidationMessageFor(model => model.montantOperation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                                    }

                                    if (Model.idNatureOperation == 2)
                                    {
                                        if (Model.idVendor != null && Model.idNatureOperation == 2 && ViewBag.EstDEB != null)
                                        {
                        <div class="form-group" id="IDebiteur">
                            @Html.Label("Debiteur :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.DropDownList("IDDebiteur", null, "---- Selectionnez le debiteur ----- ", htmlAttributes: new { @class = "form-control", @readonly = "true", disabled = "true" })
                                @Html.ValidationMessage("IDDebiteur")
                            </div>
                        </div>
                     }
                    <div class="form-group">
                        @Html.Label("Créancier :", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.DropDownList("idActeur", null, "---- Selectionnez un Créancier ----- ", htmlAttributes: new { @class = "form-control", style = "width:300px;", required = "required", @readonly = "true", disabled = "true" })
                            @Html.ValidationMessageFor(model => model.idActeur)
                        </div>
                    </div>

                            <div class="form-group">
                                @Html.Label("Rang de l'hypothèque", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.rang, htmlAttributes: new { @class = "form-control", @readonly = "true", disabled = "true" })
                                    @Html.ValidationMessageFor(model => model.rang)
                                </div>
                            </div>
                                        if (Model.dateFin != null)
                                        {
                            <div class="form-group">
                                @Html.Label("Date fin de l'hypothèque : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.dateFin, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date", required = "required", @readonly = "true", disabled = "true" })
                                    @Html.ValidationMessageFor(model => model.dateFin)
                                </div>
                            </div>
                                        }
                                    }
                                    if (Model.idNatureOperation == 3)
                                    {

                    <div class="form-group">
                        @Html.Label("Numeros du TF :", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-3">
                            @Html.TextBox("NumeroTF", null, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                            @Html.ValidationMessageFor(model => model.tf.numerotf)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Nouvelle valeur du terrain :", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-3">
                            @Html.TextBox("FusionValeur", null, htmlAttributes: new { @class = "form-control" , @readonly = "true" })
                            @Html.ValidationMessage("FusionSuperficie")
                        </div>
                    </div>
                        <div class="form-group">
                            @Html.Label("Nouvelle superficie :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBox("FusionSuperficie", null, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessage("FusionSuperficie")
                            </div>
                        </div>
                            <fieldset>
                                <legend> <h3 class="col-md-offset-3"> Liste des Titres Fonciers en fusions</h3> </legend>

                                <table class="table table-bordered table-hover" style="background-color:#e5e5e5;">
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Numéros TF")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Valeur Terrain")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Superficie")
                                        </th>
                                        <th>

                                        </th>
                                    </tr>

                                    @foreach (var item in Model.TFFusions_Principals.tf)
                                    {
                                        <tr>
                                            <td>
                                                @item.numerotf
                                            </td>
                                            @if (item.valeurterrain != null)
                                            {
                                                <td>
                                                    @item.valeurterrain
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    Pas Indiqué
                                                </td>
                                            }

                                            @if (item.superficie != null)
                                            {
                                                <td>
                                                    @item.superficie
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    Pas Indiqué
                                                </td>
                                            }
                                            <td>
                                               
                                            </td>

                                        </tr>
                                    }
                                </table>
                            </fieldset>
                                    }
                                    if (Model.idNatureOperation == 4)
                                    {
                                        <div class="row">
                                            <div class="col-md-12" id="replacedist">
                                                @{ Html.RenderAction("Index", "Distractions", new { id = Model.idTF,idd=Model.id }); }
                                            </div>
                                        </div>
 }

                                                    }


        <div class="row">
            <div class="col-md-12" id="replaceactes">
                @{ Html.RenderAction("Index", "Actes", new { id = Model.id }); }
            </div>
        </div>

        <div id='propModal' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='propModalContent'></div>
                </div>
            </div>
        </div>

       @if (Model.idNatureOperation == 1)
       {
           if (Model.idTypeOperation != 3 && Model.idTypeOperation != 16)
           {
               if (Model.IDStatus == 2 || (Model.IDStatus == 1 && Model.tempOperation == 1))
               {
            <div class="row">
                <div class="col-md-12" id="replaceprop">
                    @{ Html.RenderAction("List", "proprietaires", new { id = Model.id }); }
                </div>
            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-md-12" id="replaceprop">
                                    @{ Html.RenderAction("ListDetails", "proprietaires", new { id = Model.id }); }
                                </div>
                            </div>
                                            }
                                        }
                                        if (Model.valideOperation == 1 && Model.idTypeOperation != 15 && Model.idTypeOperation != 16)
                                        {

                            <div class="row">
                                <div class="col-md-12" id="replaceVend">
                                    @{ Html.RenderAction("Vendors", "proprietaires", new { id = Model.id }); }
                                </div>
                            </div>

                                            }
                                        }



                      
                
    </div>
                    <div class="panel-footer" style="margin:1px 1px 50px 1px;padding-bottom:50px">
                          
                        <div class="col-md-2 col-md-offset-5">
                            @if ((Model.IDStatus == 2) || (ViewBag.Role == 1 && Model.IDStatus == 3))
                            {
                                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-saved"></span> Enregistrer </button>
                            }
                        </div>

                            <div class="col-md-2">
                                @Html.NoEncodeActionLink(" Voir Détail <span class='glyphicon glyphicon-chevron-right'></span>", "  Retour au detail de cet operation", "Details", "Operations", routeValues: new { id = Model.id }, htmlAttributes: new { @class = " btn btn-default " })
                            </div>
                    </div>
</div>
</div>
                        }
                        
    </div>
</div>
