﻿@model GestionTitreFoncierApp.Models.Operations

@{
    ViewBag.Title = "EditCreate";
}


<div class="row col-md-offset-1">
    <div class="col-md-10">
        @using (Html.BeginForm("EditCreate", "Operations", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @*@Html.AntiForgeryToken()*@
            <div class="form-horizontal">
                <div class="panel panel-success" style="border:hidden;">
                    <div class="panel-heading" style="background-color:#9dacad;">
                        <h3 class="panel-title" style="color:#ffffff;">
                            <b style="text-align:left;"> Mise à jour d'une Opération <u class="col-md-offset-8"> Etape 2/2</u></b>
                        </h3>

                    </div>
                    <div class="panel-body">
                    @if (TempData["message"] != null)
                    {
                        if (TempData["status"].ToString() == "Erreur")
                        {
                            <div class="alert-message alert-message-warning">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4>	<i class="glyphicon glyphicon-ok"></i> Erreur!</h4>
                                <p> <strong class="text-warning"> @TempData["message"]</strong></p>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="alert alert-info">
                            <strong> PS:</strong> Veuillez ajouter au moin un acte avant de Terminer l'ajout de l'operation
                        </div>
                    }



                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.idNatureOperation)
                    @Html.HiddenFor(model => model.valideOperation)
                    @Html.HiddenFor(model => model.activeOperation)
                    @Html.HiddenFor(model => model.tempOperation)
                    @Html.HiddenFor(model => model.idTF)
                    @Html.HiddenFor(model => model.idVendor)
                    @Html.HiddenFor(model => model.idTypeOperation)
                    @Html.HiddenFor(model => model.datecreation)
                    @Html.HiddenFor(model => model.datemodification)
                    @Html.HiddenFor(model => model.proprietaire)
                    @Html.HiddenFor(model => model.idActeur)
                    @Html.HiddenFor(model => model.IDFusion)




                    <div class="form-group">
                        @Html.Label("Type de l'opération :", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-5">
                            @Html.DropDownList("idTypeOperation", null, "---- Selectionnez un type d'Opération ----- ", htmlAttributes: new { @class = "form-control select2", style = "width:300px;", @readonly = "true", disabled = "true", required = "required" })
                            @Html.ValidationMessageFor(model => model.idTypeOperation)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Date de l'opération : ", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(model => model.dateOperation, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date", required = "required" })
                            @Html.ValidationMessageFor(model => model.dateOperation)
                        </div>
                    </div>
                    @if (Model.idNatureOperation == 1)
                    {
                        if (Model.idTypeOperation == 3)
                        {
                            <div class="form-group" id="Denom">
                                @Html.Label("Nouveau Nom : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBox("Denomination", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessage("Denomination")
                                </div>
                            </div>
                            <div class="form-group" id="typeent">
                                @Html.Label("Type d'entreprise : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.DropDownList("Typeentreprise", null, "---- Selectionnez un type d'entreprise ----- ", htmlAttributes: new { @class = "form-control select2", @readonly = "true" })
                                    @Html.ValidationMessage("Typeentreprise")
                                </div>
                            </div>
                        }
                    }
                    @if (Model.idTypeOperation == 1 || Model.idTypeOperation == 15 || Model.idTypeOperation == 19 || Model.idTypeOperation == 18)
                    {
                        <div class="form-group">
                            @if (Model.idTypeOperation == 18)
                            {
                                @Html.Label("Nouvelle Valeur", htmlAttributes: new { @class = "control-label col-md-4" })
                            }
                            else if (Model.idTypeOperation == 19)
                            {
                                @Html.Label("Nouvelle Superficie", htmlAttributes: new { @class = "control-label col-md-4" })
                            }
                            else
                            {
                                @Html.Label("Montant :", htmlAttributes: new { @class = "control-label col-md-4" })
                            }
                            <div class="col-md-3">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.montantOperation, htmlAttributes: new { @class = "form-control", @type = "number" })
                                    @if (Model.idTypeOperation == 19)
                                    {
                                        <div class="input-group-addon">
                                            <i class=""> <b> m² </b> </i>
                                        </div>
                                    }
                                    else
                                    {
                                    <div class="input-group-addon">
                                        <i class=""> <b> FDJ </b> </i>
                                    </div>
                                    @*  *@}
                                </div>
                                @Html.ValidationMessageFor(model => model.montantOperation)
                            </div>
                        </div>
                    }

                    @if (Model.idNatureOperation == 2)
                    {
                        if (Model.idVendor != null)
                        {
                            <div class="form-group" id="IDebiteur">
                                @Html.Label("Debiteur :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.DropDownList("IDDebiteur", null, "---- Selectionnez le debiteur ----- ", htmlAttributes: new { @class = "form-control select2", disabled = "true" })
                                </div>
                                @Html.ValidationMessage("IDDebiteur", "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="form-group">
                            @Html.Label("Montant :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.montantOperation, htmlAttributes: new { @class = "form-control", @type = "number" })
                                    <div class="input-group-addon">
                                        <i class=""> <b> FDJ </b> </i>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.montantOperation)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Créancier :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.DropDownList("idActeur", null, "---- Selectionnez un Créancier ----- ", htmlAttributes: new { @class = "form-control", style = "width:300px;", required = "required", disabled = "true" })
                                @Html.ValidationMessageFor(model => model.idActeur)
                            </div>
                        </div>

                            <div class="form-group">
                                @Html.Label("Rang de l'hypothèque", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.rang, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                                    @Html.ValidationMessageFor(model => model.rang)
                                </div>
                            </div>
                        if (Model.dateFin != null)
                        {
                            <div class="form-group">
                                @Html.Label("Date fin de l'hypothèque : ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(model => model.dateFin, "{0:yyyy-MM-dd}", htmlAttributes: new { @class = "form-control", type = "date", @readonly = "true", required = "required" })
                                    @Html.ValidationMessageFor(model => model.dateFin)
                                </div>
                            </div>
                        }
                    }
@if (Model.idTypeOperation == 16)
{
    <div class="form-group">
        @Html.Label("Superficie a rajouter :", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-3">
            <div class="input-group">
                @Html.TextBoxFor(model => model.montantOperation, htmlAttributes: new { @class = "form-control" })
                <div class="input-group-addon">
                    <i class=""> <b> m&sup2; </b> </i>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.montantOperation)
        </div>
    </div>
}
                    @if (Model.idNatureOperation == 3)
                    {
                        <div class="form-group">
                            @Html.Label("Numeros du TF :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBox("NumeroTF",null, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.tf.numerotf)
                            </div>
                        </div>
                            <div class="form-group">
                                @Html.Label("Nouvelle valeur du terrain :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBox("FusionValeur", null, htmlAttributes: new { @class = "form-control"})
                                    @Html.ValidationMessage("FusionSuperficie")
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Nouvelle superficie :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-3">
                                    @Html.TextBox("FusionSuperficie",null, htmlAttributes: new { @class = "form-control", @id = "SuperficieTF" })
                                    @Html.ValidationMessage("FusionSuperficie")
                                </div>
                            </div>
                            @*<fieldset >
                                <legend > <h3 class="col-md-offset-3"> Liste des Titres Fonciers en fusions</h3> </legend>

                                <table class="table table-bordered table-hover" style="background-color:#e5e5e5;">
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Numéros TF")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Valeur Terrain")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Superficie")
                                        </th>
                                    </tr>

                                    @foreach (var item in Model.TFFusions_Principals.tfs)
                                    {
                                        <tr>
                                            <td>
                                                @item.numerotf
                                            </td>
                                                @if (item.valeurterrain != null)
                                                {
                                                    <td>
                                                        @item.valeurterrain
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        Pas Indiqué
                                                    </td>
                                                }
                                            
                                                @if (item.superficie != null)
                                                {
                                                <td>
                                                    @item.superficie
                                                </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        Pas Indiqué
                                                    </td>
                                                }
                                           
                                        </tr>
                                    }
                                </table>
                            </fieldset>*@
                    }
                        @if (Model.idNatureOperation == 3)
                        {
                            <div class="row">
                                <div class="col-md-12" id="replacedist">
                                    @{ Html.RenderAction("List", "Fusions", new { id = Model.IDFusion }); }
                                </div>
                            </div>
                                        }
                    @if (Model.idNatureOperation == 4)
                    {
                        <div class="row">
                            <div class="col-md-12" id="replacedist">
                                @{ Html.RenderAction("List", "Distractions", new { id = Model.idTF, idd = Model.id }); }
                            </div>
                        </div>
                                    }
                        
                    <div class="row">
                        <div class="col-md-12" id="replaceactes">
                            @{ Html.RenderAction("Index", "Actes", new { id = Model.id }); }
                        </div>
                    </div>
                    @if (Model.idNatureOperation == 1 && Model.idTypeOperation != 3 && Model.idTypeOperation != 16)
                    {
                        <div class="row">
                            <div class="col-md-12" id="replaceprop">
                                @{ Html.RenderAction("List", "proprietaires", new { id = Model.id }); }
                            </div>
                        </div>
                                    }

                    <div class="panel-footer" style="margin:1px 1px 1px 1px;">
                        <button type="submit" class="btn btn-success btn-lg col-md-offset-9"> Terminé l'operation <span class="glyphicon glyphicon-play"></span></button>
                    </div>


                </div>
                    </div>
            </div>
                                    }

        <!-- modal placeholder-->
        @*<div id='saadModal' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='saadModalContent'></div>
                </div>
            </div>
        </div>*@

        @*<div class="row">
            <div class="col-md-12" id="replaceactes">
                @{ Html.RenderAction("Index", "Actes", new { id = Model.id }); }
            </div>
        </div>*@

        <div id='propModal' class='modal fade in'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='propModalContent'></div>
                </div>
            </div>
        </div>

        @*@if (Model.idNatureOperation == 1)
        {
            <div class="row">
                <div class="col-md-12" id="replaceprop">
                    @{ Html.RenderAction("List", "proprietaires", new { id = Model.id }); }
                </div>
            </div>
                        }*@
        


    </div>
</div>