﻿@using GestionTitreFoncierApp.Helpers
@*@model PagedList.IPagedList<GestionTitreFoncierApp.Models.Operation>
@using PagedList.Mvc;*@
@model IEnumerable <GestionTitreFoncierApp.Models.Operations>
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@


@{
    ViewBag.Title = "Index";
}

<div class="row col-md-offset-1" style="margin-top:50px;margin-right:10px;margin-bottom:80px;">

    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title" style="text-align:center;font-size:18px;"><strong> Recherche des opérations </strong></h1>
            </div>
            @using (Html.BeginForm("Index", "Operations", FormMethod.Get, new { enctype = "multipart/form-data", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">


                    <div class="col-lg-4">

                        <div class="form-group">
                            @Html.Label("Opération:")
                            @Html.DropDownList("IDOperations", ViewBag.CurrentFilterOp as SelectList, " ----- Selectionnez l'operation --------", htmlAttributes: new { @class = "form-control select2 " })
                        </div>

                        <div class="form-group">
                            @Html.Label("Numéro du TF: ")
                            @Html.TextBox("NumTF", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control", placeholder = "0000", type = "number" })
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="form-group">
                            @Html.Label("Type d'opération: ")
                            @Html.DropDownList("IDTypeOperations", ViewBag.CurrentFilterTy as SelectList, " ---- Selectionnez le type d'operation -----", htmlAttributes: new { @class = "form-control select2 DRTypeOperations" })
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="form-group ">
                            @Html.Label("Statut:")
                            @Html.DropDownList("IDStatus", ViewBag.CurrentFilterSTA as SelectList, " ----- Selectionnez le status --------", htmlAttributes: new { @class = "form-control select2 " })
                        </div>


                    </div>
                    
                </div>
            <div class="panel-footer">
              
                <div class="col-md-offset-8">
                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-search"></span> Rechercher
                    </button>
                    <button class="btn btn-danger" onclick="Reset()">
                        <span class="glyphicon glyphicon-remove"></span>
                        Réinitialiser
                    </button>
                </div>
          </div>
            }

            
        </div>
    </div>

    <div class="col-md-10">
        <div class="panel panel-primary" style="border:hidden;">
            <div class="panel-heading">
                <h1 class="panel-title" style="text-align:center;">Liste des operations</h1>
            </div>
            <div class="panel-body">
                @if (ViewBag.NbreOperations > 0)
                {
                    <div class="col-md-offset-5" style="margin-bottom:20px;margin-top:5px;">
                        <u> Le nombre de(s) opération(s) trouvés est </u><b>: @ViewBag.NbreOperations</b>
                    </div>
                }
                <div class="table-responsive">
                    <table id="example" class="table table-bordered">
                        <thead style="">

                            <tr>
                                <th> # </th>
                                <th>
                                    @Html.DisplayName("N° TF")
                                </th>
                                <th>
                                    @Html.DisplayName("Opération")
                                </th>

                                <th class="col-md-3">
                                    @Html.DisplayName("Type d'opération")
                                </th>

                                <th>
                                    @Html.DisplayName("Date de l'opération")
                                </th>
                                <th>
                                    @Html.DisplayName("Saisie le")
                                </th>
                                <th class="col-md-3">
                                    @Html.DisplayName("Statut")
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                            @{ var index = 1; }
                            @foreach (var item in Model)
                            {
                                if (item.activeOperation == 1 && item.valideOperation == 0)
                                {
                                    <tr style="background-color:#81d5ff;">
                                        <td> @Html.DisplayFor(modelItem => @index)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tf.numerotf)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NatureOperation.nom)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypesOperation.nom)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.dateOperation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.datecreation)
                                        </td>
                                        <td>
                                            <b>   @Html.DisplayFor(modelItem => item.Operations_Status.Libelle)</b>
                                        </td>
                                        <td>
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Détails</span>", "Details", "Details", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-default" })

                                        </td>
                                    </tr>{ index++; }
                                }
                                if (item.activeOperation == 0 && item.valideOperation == 0)
                                {
                                    <tr class="danger">
                                        <td> @Html.DisplayFor(modelItem => @index)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tf.numerotf)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NatureOperation.nom)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypesOperation.nom)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.dateOperation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.datecreation)
                                        </td>

                                        <td style="text-align:center;">
                                            <b> @Html.DisplayFor(modelItem => item.Operations_Status.Libelle)</b>
                                        </td>

                                        <td>
                                            @if (item.IDStatus == 4)
                                            {
                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Details</span>", "Details", "Details", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-default" })
                                            }
                                            @if (item.IDStatus == 1)
                                            {
                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Details</span>", "Details", "Details", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-default " })

                                                @*@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-play'> Continuer</span>", "Reprendre", "EditCreate", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-success pull-right" })*@
                                            }
                                        </td>
                                    </tr>{ index++; }
                                }
                                if (item.activeOperation == 1 && item.valideOperation == 1)
                                {
                                    <tr class="success">
                                        <td> @Html.DisplayFor(modelItem => @index)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.tf.numerotf)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NatureOperation.nom)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TypesOperation.nom)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.dateOperation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.datecreation)
                                        </td>
                                        <td style="text-align:center;">
                                            @if (item.IDStatus == 3)
                                            {
                                                <b >
                                                    Valide
                                                </b>
                                            }
                                            else
                                            {
                                                <b>   @Html.DisplayFor(modelItem => item.Operations_Status.Libelle)</b>
                                            }
                                        </td>
                                        <td>
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Details</span>", "Details", "Details", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-default" })
                                        </td>
                                    </tr>
                                    { index++; }
                                }
                            }
</table>
             </div>    
          </div>
       </div>
   </div>
</div>

<script>
    function Reset() {
        var dropDownop = document.getElementById("IDOperations");
        var dropDowntypop = document.getElementById("IDTypeOperations");
        var dropDownSTA = document.getElementById("IDStatus");
        document.getElementById("NumTF").value = "";
        dropDownop.selectedIndex = 0;
        dropDowntypop.selectedIndex = 0;
        dropDownSTA.selectedIndex = 0;
    }
</script>