﻿@using GestionTitreFoncierApp.Helpers
@model IEnumerable<GestionTitreFoncierApp.Models.Operations>


@if (Model.Count() > 0)
{
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Opération")
            </th>

            <th>
                @Html.DisplayName("Type d'Opération")
            </th>
            <th>
                @Html.DisplayName("Date de l'operation")
            </th>
            <th>
                @Html.DisplayName("Statut")
            </th>
            <th> Actions</th>
        </tr>
    </thead>

   @foreach (var item in Model)
   {
       if (item.IDStatus == 2)
       {
            <tr style="background-color:#81d5ff;">
                <td>
                    @Html.DisplayFor(modelItem => item.NatureOperation.nom)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TypesOperation.nom)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.dateOperation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operations_Status.Libelle)
                </td>
                <td>

                    <div class="pull-right">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Détails</span>", "Consulter les Details", "Details", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "modalActe btn btn-default" })

                    </div>


                </td>
            </tr>
       }
       if (item.IDStatus == 4)
       {
            <tr class="danger">
                <td>
                    @Html.DisplayFor(modelItem => item.NatureOperation.nom)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TypesOperation.nom)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.dateOperation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operations_Status.Libelle)
                </td>


                <td>

                    <div class="pull-right">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Détails</span>", "Consulter les Details", "Details", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "modalActe btn btn-default" })
                    </div>


                </td>
            </tr>
       }
       if (item.IDStatus == 3 || item.IDStatus == 5)
       {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.NatureOperation.nom)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TypesOperation.nom)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.dateOperation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operations_Status.Libelle)
                </td>
                <td>

                    <div class="pull-right">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Détails</span>", "Consulter les Details", "Details", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "modalActe btn btn-default" })
                    </div>


                </td>
            </tr>
       }
   }
</table>
   }
    else
   {
    @: <div class="text-muted" style="text-align:center">&nbsp;Aucune opération n'est lié à ce TF</div>
   }

