﻿@model GestionTitreFoncierApp.Models.Acteurs

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-center"> Acteur N° @Model.id</h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nom :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>
        <dt>
            @Html.DisplayName("Type personne :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.typeproprietaire.libelle)
        </dd>
        <dt>
            @Html.DisplayName("Type acteur :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeActeur.libelle)
        </dd>
        @if (Model.IDTypeProprietaire == 1)
        {
        <dt>
            @Html.DisplayName("Numero CIN :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerocin)
        </dd>
        <dt>
            @Html.DisplayName("Telephone Portable :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephonePortable)
        </dd>
        }
        else
        {

        <dt>
            @Html.DisplayName("Telephone Fixe :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephoneFixe)
        </dd>
        }
        <dt>
            @Html.DisplayName("Email :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayName("Adresse :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>
       

    </dl>
</div>
