﻿@model GestionTitreFoncierApp.Models.Acteurs



<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-center">@Model.TypeActeur.libelle: @Model.nom  </h4>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.Label("Type Acteur: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.DropDownList("idTypeActeur", null, "------- Selectionnez --------", htmlAttributes: new { @class = "form-control select2", required = "required" })
                    @Html.ValidationMessageFor(model => model.idTypeActeur)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Type personne: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.DropDownList("IDTypeProprietaire", null, "------- Selectionnez --------", htmlAttributes: new { @class = "form-control select2", required = "required" })
                    @Html.ValidationMessageFor(model => model.IDTypeProprietaire)
                </div>

            </div>
            <div class="form-group">
                @Html.Label("Nom: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.nom, htmlAttributes: new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.nom)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Numero CIN: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.numerocin, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.numerocin)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Nom mere: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.nommere, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nommere)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Telephone Portable: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.telephonePortable, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telephonePortable)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Telephone Fixe: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.telephoneFixe, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telephoneFixe)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Email: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.email, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Adresse: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.adresse, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.adresse)
                </div>
            </div>
        </div>
    </div>
        <div class="alert-success modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Annuler</button>
            <input class="btn btn-primary" type="submit" value="Modifier" />
        </div>


}


