﻿@using GestionTitreFoncierApp.Helpers
@model IEnumerable<GestionTitreFoncierApp.Models.Acteurs>
@*@using PagedList.Mvc;*@
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<div class="row col-md-offset-1" style="margin-top:50px;margin-right:10px;margin-bottom:80px;">

    @*@RenderPage("SearchOperations.cshtml")*@
    <div class="col-md-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title" style="text-align:center;font-size:18px;"><strong> Recherche des Acteurs </strong></h1>
            </div>
            @using (Html.BeginForm("Index", "Parametrages", FormMethod.Get, new { enctype = "multipart/form-data", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">


                    <div class="col-lg-4">

                        <div class="form-group">
                            @Html.Label("Type d'acteur: ")
                            @Html.DropDownList("IDTypeActeurs", ViewBag.CurrentFilterTA as SelectList, " ----- Selectionnez --------", htmlAttributes: new { @class = "form-control select2 " })
                        </div>
                    </div>
                    <div class="col-lg-4">

                        <div class="form-group">
                            @Html.Label("Type de personne: ")
                            @Html.DropDownList("IDTypeProprietaire", ViewBag.CurrentFilterTP as SelectList, " ----- Selectionnez --------", htmlAttributes: new { @class = "form-control select2 " })
                        </div>


                    </div>
                    <div class="col-lg-4">
                        <div class="form-group  col-md-8">
                            @Html.Label("Nom de l'acteur: ")
                            @Html.TextBox("Nom", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control"})
                        </div>


                    </div>

                </div>
                <div class="panel-footer">
                    <div class="col-md-offset-8">
                        <button type="submit"  class="btn btn-info"> 
                            <span class="glyphicon glyphicon-search"></span> Rechercher
                        </button>
                        <button class="btn btn-warning" onclick="Reset()">
                            <span class="glyphicon glyphicon-remove"></span>
                        Réinitialiser</button>
                    </div>
                </div>
            }


        </div>
    </div>

    <div class="col-md-10">
        <div class="panel panel-primary" style="border:hidden;">
            <div class="panel-heading">
                <h1 class="panel-title" style="text-align:center;">Liste des Acteurs</h1>
            </div>
            <div class="panel-body" id="T">
                <div class="table-responsive">

                    <table id="example" class="table table-bordered table-condensed ">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th>
                                    @Html.DisplayName("Nom Acteur")
                                </th>
                                <th>
                                    @Html.DisplayName("Type personne")
                                </th>

                                <th>
                                    @Html.ActionLink("Type Acteur", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                                </th>

                                @*<th>
                            @Html.DisplayName("Telephone")
                        </th>
                        <th>
                            @Html.DisplayName("Adresse")
                        </th>*@
                                <th>
                                    @if (User.IsInRole("Creer Acteur") || User.IsInRole("Special"))
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'>  Nouveau Acteur</span>", "Nouveau Acteur", "Create", "Parametrages", routeValues: new { id = ViewBag.ID_OP }, htmlAttributes: new { data_modal = "", @class = "DetailActeur btn btn-info pull-right" })
                                    }
                                    else
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'>  Nouveau Acteur</span>", "Nouveau Acteur", "Create", "Parametrages", routeValues: new { id = ViewBag.ID_OP }, htmlAttributes: new { data_modal = "", @class = "DetailActeur btn btn-info pull-right", disabled = "disabled" })

                                    }
                                </th>
                            </tr>
                            </thead>
                       

                            @{ var index = 1; }
                            @foreach (var item in Model)
                            {
                                if (item.IDTypeProprietaire == 1)
                                {
                                    <tbody>
                                        <tr style="background-color:#f0f0f0;">
                                            <td> @Html.DisplayFor(modelItem => @index)</td>
                                            <td>
                                                <b>@Html.DisplayFor(modelItem => item.nom)</b>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.typeproprietaire.libelle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeActeur.libelle)
                                            </td>

                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.telephonePortable)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.adresse)
                                                </td>*@
                                            <td>
                                                @*<button class="btn btn-default" type="button" name="DetailActeur" id="DetailActeur" data-id="@item.id"><span class="glyphicon glyphicon-th-list"> Details </span></button>*@

                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-zoom-in'> Voir Détails</span>", "Details", "Details", "Parametrages", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "DetailActeur btn btn-default pull-right" })

                                                @if (User.IsInRole("Modifier Acteur") || User.IsInRole("Special"))
                                                {
                                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'> Modifier</span>", "Modifier", "Edit", "Parametrages", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "DetailActeur btn btn-primary pull-right" })
                                                }
                                                else
                                                {
                                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'> Modifier</span>", "Modifier", "Edit", "Parametrages", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-primary pull-right", disabled = "disabled" })
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                    { index++; }

                                }
                                else
                                {
                                    <tbody>
                                        <tr class="danger">
                                            <td> @Html.DisplayFor(modelItem => @index)</td>
                                            <td>
                                                <b>  @Html.DisplayFor(modelItem => item.nom)</b>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.typeproprietaire.libelle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TypeActeur.libelle)
                                            </td>

                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.telephoneFixe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.adresse)
                                            </td>*@
                                            <td>
                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-zoom-in'>Voir Détails</span>", "Details", "Details", "Parametrages", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "DetailActeur btn btn-default pull-right" })

                                                @if (User.IsInRole("Modifier Acteur") || User.IsInRole("Special"))
                                                {
                                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'> Modifier</span>", "Modifier", "Edit", "Parametrages", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "DetailActeur btn btn-primary pull-right" })
                                                }
                                                else
                                                {
                                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'> Modifier</span>", "Modifier", "Edit", "Parametrages", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-primary pull-right", disabled = "disabled" })
                                                }
                                            </td>

                                        </tr>
                                        </tbody>
                                    { index++; }
                                }

                            }

</table>
                </div>

                @*<div class="panel-footer">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index",
                             new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, currentFilterTA = ViewBag.CurrentFilterTA, currentFilterTP = ViewBag.CurrentFilterTP }))
                </div>*@
            </div>
        </div>
    </div>
</div>



<script>
  



    $(function () {
        $.ajaxSetup({ cache: false });

        $(".DetailActeur").on("click", function (e) {
            // alert(" PAGE ACTES");
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#saadModalContent').load(this.href, function () {
                // alert(" saadModalContent load");
                $('#saadModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                // alert(" saadModalContent apres show");
                bindFor(this);
            });
            return false;
        });
    });

    function bindFor(dialog) {
        $('form', dialog).submit(function () {
            // alert(" bindForm form");
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        //alert(" bindForm form saadModalContent succes");
                        $('#saadModal').modal('hide');
                        //$("#myModal").modal('hide');
                        //$('#T').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                        location.reload();

                    } else {
                        $('#saadModalContent').html(result);
                        bindFor(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>
<script>
    function Reset() {
        var dropDownop = document.getElementById("IDTypeActeurs");
        var dropDowntypop = document.getElementById("IDTypeProprietaire");
        document.getElementById("Nom").value = "";
        dropDownop.selectedIndex = 0;
        dropDowntypop.selectedIndex = 0;
    }
</script>