﻿@using GestionTitreFoncierApp.Helpers
@model GestionTitreFoncierApp.Models.Operations
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>
<div class="row col-md-offset-1" style="margin-right:10px;">

    @{ Html.RenderAction("DetailsTF", "Operations", new { id = Model.tf.id }); }
    <div class="col-md-10">
        <div class="panel panel-default Pan">
            <div class="panel-heading" style="background-color:#70cfd5;">
                <h3 class="panel-title" style="color:#000000;">
                    <b class="col-md-offset-5"> Images du TF </b>
                </h3>
                <span class="pull-right clickables"><i id="ii" class="glyphicon glyphicon-chevron-down shev"></i></span>
            </div>

            <div class="panel-body bod">
                @*@{ Html.RenderAction("DisplayImages", "Other", new { numerotf = Model.tf.numerotf, typview = 1, imageindex = 1 }); }*@

            </div>
        </div>
    </div>

    <div class="col-md-10">

        @using (Html.BeginForm("Create", "TfDefinitifs", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color:#9dacad;">
                        <h3 class="panel-title" style="color:#ffffff;">
                            <b style="text-align:left;"> Concession Definitive <u class="col-md-offset-7"> Etape 1/2</u></b>
                        </h3>

                    </div>
                    <div class="panel-body">
                        @if (TempData["message"] != null)
                        {
                            if (TempData["status"].ToString() == "Success")
                            {
                                <div class="alert-message alert-message-success">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4>	<i class="glyphicon glyphicon-ok"></i> Success!</h4>
                                    <p> <strong> @TempData["message"]</strong><a href="@Url.Action("Details", "Hypotheques", new { id = TempData["IDHypo"].ToString() })"><i> voir detaille</i></a></p>
                                </div>
                            }
                            if (TempData["status"].ToString() == "Erreur")
                            {
                                <div class="alert-message alert-message-warning">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4>	<i class="glyphicon glyphicon-ok"></i> Erreur!</h4>
                                    <p> <strong class="text-warning"> @TempData["message"]</strong></p>
                                </div>
                            }
                        }
                        @Html.ValidationSummary(true)
                        @Html.Hidden("idNatureOperation")
                        @Html.Hidden("IDTF")
                        @Html.Hidden("idTypeOperation")


                        @* ---------------- Partie Gauche ------------------------*@

                        <div align="center" style="border-right:1px solid #000000;">
                            <div>
                                
                                    <div class="form-group col-md-offset-2">
                                        <label class="control-label col-md-4"> Date d'operation :</label>
                                        <div class="col-md-4">
                                            @Html.TextBox("dateOperation", "", htmlAttributes: new { @class = "form-control", type = "date", required = "required" })

                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <button type="submit" class="btn btn-success btn-lg col-md-offset-5"> Continuer l'operation <span class="glyphicon glyphicon-play"></span></button>
                    </footer>
                </div>
            </div>}
    </div>
</div>
