﻿@model GestionTitreFoncierApp.Models.quartier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>quartier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estlotissement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estlotissement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_create)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_create)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.region.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.region.libelle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
