﻿@model GestionTitreFoncierApp.Models.quartier

@{
    ViewBag.Title = "Edit";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
<link href="~/css/QuartierCss.css" rel="stylesheet" />

<script type="text/javascript" language="javascript">
    $(document).ready(function () {

    });
function validateForm() {
        var isValid = false;
        var nom = $('#libelle').val();


        var reg = $('#' + 'regionid' + ' option:selected').val();
        var url = "/utilisateurs/verfyuserLogin/";
        if (nom == '' || login == null) {
            $('#libelle').css({ 'background-color': 'pink' });
            alert("nom de la location est obligatoire!");
            isValid=false; return isValid;
        }
        else
        {
            $('#libelle').css({ 'background-color': 'white' });
        }


        if (reg == '' || reg == null) {
            alert("Région est obligatoire!");
            $('#regionid').css({ 'background-color': 'pink' });
            isValid = false; return isValid;

        }
        else {
            $('#regionid').css({ 'background-color': 'white' });
        }
        isValid = true;
        return isValid;
}
</script>
<link href="~/css/utilisateurLabelStyle.css" rel="stylesheet" />



@*<div class="panel panel-info" style="height:82%">
    <div class="panel-heading"><left><h3><b>Modifier un  Location</b></h3></left></div>
    <div class="panel-body">

        <p>
            <a href="/tfs/index" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-arrow-left"></span> Retour à l'accueil
            </a>
        </p>*@

@*@using (Html.BeginForm("Edit", "quartiers", FormMethod.Post, new { onsubmit = "return validateForm()" }))

    {*@
<div class="row col-md-offset-1">
    <div class="col-md-10">
        <form class="form-horizontal" role="form" action="/quartiers/edit/" method="post" onsubmit="return validateForm()">

            @Html.AntiForgeryToken()

            @Html.HiddenFor(Model => Model.id)
            <div class="form-horizontal">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color:#9dacad;">
                        <h3 class="panel-title" style="color:#ffffff;">
                            <b style="text-align:center;"> Enregistrement d'une nouvelle localisation </b>
                        </h3>

                    </div>
                    <div class="panel-body">


                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.Label("Nom du lieu :", htmlAttributes: new { @class = "control-label col-md-4" })
                            @*@Html.Label("Nom du lieu :", htmlAttributes: new { @class = "lblFontfamily lblFontsize  control-label col-lg-6" })*@
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.libelle, htmlAttributes: new { @class = "form-control" })
                                @*@Html.EditorFor(model => model.libelle)*@
                                @Html.ValidationMessageFor(model => model.libelle)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Est un Lotissement :", htmlAttributes: new { @class = "control-label col-md-4" })
                            @*@Html.Label("Est un Lotissement:", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-lg-6" })*@
                            <div class="col-md-3">
                                @*@Html.TextBoxFor(model => model.estlotissement, htmlAttributes: new { @class = "form-control" })*@
                                @Html.EditorFor(model => model.estlotissement)
                                @Html.ValidationMessageFor(model => model.estlotissement)
                            </div>
                        </div>





                        <div class="form-group">
                            @Html.Label("Région :", htmlAttributes: new { @class = "control-label col-md-4" })
                            @* @Html.Label("Région:", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-lg-6" })*@
                            <div class="col-md-3">
                                @Html.DropDownList("RegId", null, "..Choisissez une région..", htmlAttributes: new { @class = "form-control select2", style = "width:300px;", required = "required" })
                                @Html.ValidationMessageFor(model => model.regionid)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Ville :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.DropDownList("VilleId", null, " --------- Tout -------", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" id="Communes">
                            @Html.Label("Commune :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.DropDownList("CommuneId", null, " --------- Tout -------", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group" id="Arrond">
                            @Html.Label("Arrondissement :", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.DropDownList("ArrondId", null, " --------- Tout -------", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="panel-footer">

                            <button type="submit" class="btn btn-success col-md-offset-5"><span class="glyphicon glyphicon-floppy-save"></span> Enregistrer</button>
                        </div>
                    </div>
                    @*}*@


                </div>
            </div>
        </form>
    </div>
</div>
