﻿@using GestionTitreFoncierApp.Helpers
@model GestionTitreFoncierApp.Models.Factures_Acteurs

@{
    ViewBag.Title = "Details";
}


<div class="row col-md-offset-1" style="margin-bottom:50px;margin-right:0px;">
  
        <div class="col-md-10">
            <div class="form-horizontal">
                <div class="panel panel-success" style="border:hidden;">
                    <div class="panel-heading" style="background-color:#5472e6;">
                        <h3 class="panel-title" style="color:#ffffff;">
                            <b>
                                Details de la facture N° @Html.DisplayFor(model => model.NumeroFact)
                            </b>
                        </h3>
                        </div>
                    <div class="panel-body">
                        <table class="table table-bordered ">
                            <tr>
                                <th>@Html.DisplayName("Nom Acteur : ") </th>
                                <td>@Html.DisplayFor(model => model.Acteurs.nom)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayName("Date de la Facture : ") </th>
                                <td>@Html.DisplayFor(model => model.DateFacture)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayName("Mois Concerner : ") </th>
                                <td>@Html.DisplayFor(model => model.Nom_Mois)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayName("Années Concerner : ") </th>
                                <td>@Html.DisplayFor(model => model.Annees)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayName("Nombre de consultation: ") </th>
                                <td>@Html.DisplayFor(model => model.NbrConsultation)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayName("Status de la Facture : ") </th>
                                <td>@Html.DisplayFor(model => model.Factures_Status.Libelle)</td>
                            </tr>
                            @if (Model.Status == 1)
                            {
                                <tr>
                                    <th>@Html.DisplayName("Montant a payer : ") </th>
                                    <td>@Html.DisplayFor(model => model.Montant) <sup>FDJ</sup></td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th>@Html.DisplayName("Montant payée : ") </th>
                                    <td>@Html.DisplayFor(model => model.Paiments_Factures.Montant)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayName("Date de Paiement : ") </th>
                                    <td>@Html.DisplayFor(model => model.Paiments_Factures.DatePaiement)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayName("Numeros du quittance : ") </th>
                                    <td>@Html.DisplayFor(model => model.Paiments_Factures.NumerosQuittance)</td>
                                </tr>
                            }

                            </table>


</div>
                    <div class="panel-footer">
                        <div class="col-md-offset-4">
                            @if (Model.ID_Paiment == null)
                            {
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-usd'> Regler la Facture</span>", "Paiement", "ReglementFacture", "FacturationsActeurs", routeValues: new { id = Model.ID }, htmlAttributes: new { data_modal = "", @class = " btn btn-primary Reglement" })
                            }
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-file'> Imprimer la facture</span>", "Imprimer la Facture", "ImpressionFacture", "FacturationsActeurs", routeValues: new { id = Model.ID }, htmlAttributes: new { data_modal = "", @class = " btn btn-success" })
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>



<script>
    $(function () {
        $.ajaxSetup({ cache: false });

        $('.Reglement').on("click", function (e) {
            //alert(" PAGE  PROP");
            // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
            //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

            $('#myModalContent').load(this.href, function () {
                //  alert(" propModalContent load");
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                //alert(" propModalContent apres show");
                bindFormReglement(this);
            });
            return false;
        });
    });

    function bindFormReglement(dialog) {
        $('form', dialog).submit(function () {
            // alert(" propModalContent bindForm(dialog) form");
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        //  alert(" propModalContent ajax succes");
                        $('#myModal').modal('hide');
                        location.reload();
                    
                        //  Load data from the server and place the returned HTML into the matched element
                    } else {
                        // alert(" propModalContent ajax echec");
                        $('#myModalContent').html(result);
                        bindFormReglement(dialog);
                    }
                }
            });
            return false;
        });
    }
</script>
