﻿<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-center">Reglement de la facture</h4>
</div>
<div class="modal-body">
    @if (TempData["message"] != null)
    {

        if (TempData["status"].ToString() == "Erreur")
        {
            <div class="alert-message alert-message-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>	<i class="glyphicon glyphicon-ok"></i> Erreur!</h4>
                <p> <strong class="text-warning"> @TempData["message"]</strong></p>
            </div>
        }
    }
    @using (Html.BeginForm("ReglerFacture", "FacturationsActeurs", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Hidden("id")
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Numeros de quittance: ", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.TextBox("NumQui", null, htmlAttributes: new { @class = " form-control" })
                    @Html.ValidationMessage("NumQui", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Montant", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    @Html.TextBox("Montant", null, htmlAttributes: new { @class = " form-control", @type = "number" })
                    @Html.ValidationMessage("Montant", "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
            <div class="modal-footer">
                <input type="submit" value="Enregistrer" class="btn btn-success " />
            </div>
    }
</div>

