﻿@model GestionTitreFoncierApp.Models.TFFusions_Principals

@{
    ViewBag.Title = "Create";
}
<div class="alert-success modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Affectation TF</h4>
</div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.IDTF_Principal)
    @Html.HiddenFor(model => model.Superficie)
    @Html.HiddenFor(model => model.ValeurTerrain)
    @Html.HiddenFor(model => model.tf)
    @Html.Hidden("IDTF_Principal")
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-4"> Numéro de TF :</label>
                <div class="col-md-4">
                    @Html.TextBox("NumTFS", "", htmlAttributes: new { @class = "form-control", type = "number", required = "required", @id = "NumTFS" })

                </div>
                <div class="col-md-4">
                    <label id="ReponseFus" style="color:red;"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4"> Valeurs de TF :</label>
                <div class="col-md-4">
                    @Html.TextBox("ValeurTFS", "", htmlAttributes: new { @class = "form-control", @id = "ValeurTFS", @readonly = "true" })

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4"> Superficie de TF :</label>
                <div class="col-md-4">
                    @Html.TextBox("SuperficieTFS", "", htmlAttributes: new { @class = "form-control", @id = "SuperficieTFS", @readonly = "true" })

                </div>
            </div>
        </div>
    </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="AjouTF">Ajouter</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
}
            <script>
                $('#ReponseFus').hide();

                $('#AjouTF').hide();
                var TeamURL = '/Fusions/VerifieExistTF';
                $(function () {
                    $('#NumTFS').on("change", function () {
                        // var name = $(this).get.name;
                        var value = $(this).val();
                        var v = document.getElementById('NumTFS').value;
                       // var idP = document.getElementById('IDTF').value;
                       // var va = document.getElementById('valeur').value;
                       // var su = document.getElementById('superficie').value;
                        var options = { "backdrop": "static", keyboard: true };
                        if (v != 0) {
                            $.ajax({
                                type: "POST",
                                url: TeamURL,
                                cache: false,

                                data: { id: v },
                                datatype: "json",
                                success: function (data) {
                                    //debugger;

                                    if (data.success) {
                                        $('#NumTFS').css("background-color", "#a5e2a4");
                                        document.getElementById('SuperficieTFS').value = data.sup;
                                        document.getElementById('ValeurTFS').value = data.val;
                                        $('#ReponseFus').hide();
                                        $('#AjouTF').show();
                                    }
                                    else {
                                        $('#NumTFS').css("background-color", "red");
                                        document.getElementById('SuperficieTFS').value = "";
                                        document.getElementById('ValeurTFS').value = "";
                                        $('#AjouTF').hide();
                                        var str = '';
                                        str += 'Ce Tf ne peux pas être fusionné, veuillez revoir ce TF';
                                        $('#ReponseFus').show();
                                        $('#ReponseFus').html(str);
                                    }
                                },

                            });
                        }
                    });
                });
            </script>

