﻿@model GestionTitreFoncierApp.Models.ProprietaresViewModel

@{
    Layout = null;
    AjaxOptions options = new AjaxOptions
    {

        UpdateTargetId = "lst",
        //Confirm = "Are you sure to start search?",
        InsertionMode = InsertionMode.InsertAfter,
        //LoadingElementId = "divLoading"
        OnSuccess = "chargeindex()",
        //OnSuccess = "chargeindex("+Model.id+")"
        OnBegin = "return validateFormProprietares()"
    };
}
<script type="text/javascript" language="javascript">
    function validateFormProprietares() {
        var v = $('input[name=protype]:checked').val();
        if (v == "physic") // Physique
        {
            if ($("#prenom").val() == "" || $("#prenom").val() == null)
            {
                alert("3 name are obligateory");
                return false;
            }
            if ($("#nome2").val() == "" || $("#nome2").val() == null) {
                alert("3 name are obligateory");
                return false;
            }
            if ($("#nom3").val() == "" || $("#nom3").val() == null) {
                alert("3 name are obligateory");
                return false;
            }
            return true;
        }
        else  //Moral
        {
            if ($("#nomestablishment").val() == "" || $("#nomestablishment").val() == null)
            {
                alert("Establishmet Name is obligateory");
                return false;
            }
            return true;
        }

    }
    function chargeindex() {

        //var x = $("#lst").find("p").length;

        //for (var i = 1; i <= x; i++) {
        //    var proindex = i - 1;

        //    var x = $("#lst").find('p').eq(proindex).attr('disabled');

        //    //if (typeof attr !== typeof undefined && attr !== false) {
        //    if (x = true) {

        //        $("#lst").find("p").eq(proindex).remove();
        //    }
        //}


        $('#myModal3').modal('hide');

    }
    $(document).ready(function () {
        $(".date").datepicker(
            {
                dateFormat: "dd/mm/yy"
            });
        $(".control-label").css(

              //{ "font-size": "17px", "font-weight": "bold" }
                              { "font-weight": "bold", "font-sezie": "15px" }

           )
        $('input[name=protype]').on('change', function () {
            var v = $(this).val();
            if (v == 'physic') {

                //$("#ph").prop("disabled", false);
                $("#ph").find("input,button,textarea,select").removeAttr('disabled');

                $("#mo").find("input,button,textarea,select").attr("disabled", "disabled");
                $('.nav-tabs a[href="#ph"]').tab('show');

            }
            else {

                //$("#mo").prop("disabled", false);
                //$("#mo").removeAttr('disabled');
                $("#mo").find("input,button,textarea,select").removeAttr('disabled');

                $("#ph").find("input,button,textarea,select").attr("disabled", "disabled");
                $('.nav-tabs a[href="#mo"]').tab('show')



            }
        });
    });



</script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>create</title>
</head>
<body>

        @using (Ajax.BeginForm("Create", "proprietaires"
                                                                                                            , options))
        {

            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.ValidationSummary(true)
            <p>
                <input type='radio' id='protype' name='protype' value='physic' checked /><text>Physique</text>
                <input type='radio' id='protype' name='protype' value='moral' /><text>Moral</text>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
                <button type="button" class="close btn-danger btn-lg" data-dismiss="modal">&times;</button>

            </p>
            <div class="panel-heading">
                @*<p>Détails</p>*@
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#ph">Physique</a></li>
                    <li><a href="#mo">Moral</a></li>


                </ul>
            </div>
            <div class="tab-content">

                <div id="ph" class="tab-pane fade in active">

                    <div class="form-horizontal">
                       
                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                        <div class="form-group">
                            @Html.Label("Nom 1:", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.prenom)
                                @Html.ValidationMessageFor(model => model.prenom)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nome2, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nome2)
                                @Html.ValidationMessageFor(model => model.nome2)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nom3, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nom3)
                                @Html.ValidationMessageFor(model => model.nom3)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.prenommere, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.prenommere)
                                @Html.ValidationMessageFor(model => model.prenommere)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nommere2, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nommere2)
                                @Html.ValidationMessageFor(model => model.nommere2)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nommere3, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nommere3)
                                @Html.ValidationMessageFor(model => model.nommere3)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.lieuNaisance, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.lieuNaisance)
                                @Html.ValidationMessageFor(model => model.lieuNaisance)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.dateNaissace, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.dateNaissace)
                                @Html.ValidationMessageFor(model => model.dateNaissace)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nationalite, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("Nationalite", "..Choisissez..")
                                @Html.ValidationMessageFor(model => model.nationalite)
                            </div>
                        </div>
                    </div>



                </div>
                

                    <div id="mo" class="tab-pane fade">
                        <div class="form-horizontal">

                            @*<input type="submit" value="Create" class="btn btn-default" />*@
                            <hr />
                            <div class="form-group">
                                @Html.LabelFor(model => model.nomestablishment, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.nomestablishment)
                                    @Html.ValidationMessageFor(model => model.nomestablishment)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.nomeresponsable1, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.nomeresponsable1)
                                    @Html.ValidationMessageFor(model => model.nomeresponsable1)
                                </div>
                            </div>
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.nomeresponsable2, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.nomeresponsable2)
                                    @Html.ValidationMessageFor(model => model.nomeresponsable2)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.nomeresponsable3, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.nomeresponsable3)
                                    @Html.ValidationMessageFor(model => model.nomeresponsable3)
                                </div>
                            </div>*@
                            <div class="form-group">
                                @Html.Label("Type établissement: ", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.typestablishment)
                                    @Html.ValidationMessageFor(model => model.typestablishment)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.secturactivite, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.secturactivite)
                                    @Html.ValidationMessageFor(model => model.secturactivite)
                                </div>
                            </div>
                        </div>

                            
                        </div>
                </div>
                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.typepiece, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownList("typepiece", "..Choisissez Type..")
                            @Html.ValidationMessageFor(model => model.typepiece)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.numeropiece, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.numeropiece)
                            @Html.ValidationMessageFor(model => model.numeropiece)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.piecedateemission, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.piecedateemission)
                            @Html.ValidationMessageFor(model => model.piecedateemission)
                        </div>
                    </div>
                </div>

                    @*<div class="form-horizontal">

                            @Html.ValidationSummary(true)


                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>*@
                    }


</body>
</html>
