﻿
@model GestionTitreFoncierApp.Models.ProprietaresViewModel

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="propModalLabel">Nouveau Propriétaire</h4>
</div>
   @using (Html.BeginForm())
   {
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(model => model.idOperation)
            @Html.ValidationSummary(true)
            <p>
                <input type='radio' id='protype' name='protype' value='physic' checked /><text>Physic</text>
                <input type='radio' id='protype' name='protype' value='moral' /><text>Moral</text>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                

            </p>
            <div class="panel-heading">
                @*<p>Détails</p>*@
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#ph">Physique</a></li>
                    <li><a href="#mo">Moral</a></li>


                </ul>
            </div>
            <div class="tab-content">

                <div id="ph" class="tab-pane fade in active">

                    <div class="form-horizontal">

                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.prenom, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.prenom)
                                @Html.ValidationMessageFor(model => model.prenom)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nome2, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nome2)
                                @Html.ValidationMessageFor(model => model.nome2)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nom3, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nom3)
                                @Html.ValidationMessageFor(model => model.nom3)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.prenommere, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.prenommere)
                                @Html.ValidationMessageFor(model => model.prenommere)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nommere2, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nommere2)
                                @Html.ValidationMessageFor(model => model.nommere2)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nommere3, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nommere3)
                                @Html.ValidationMessageFor(model => model.nommere3)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.lieuNaisance, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.lieuNaisance)
                                @Html.ValidationMessageFor(model => model.lieuNaisance)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.dateNaissace, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.dateNaissace)
                                @Html.ValidationMessageFor(model => model.dateNaissace)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nationalite, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.DropDownList("Nationalite", "..Choisissez..")
                                @Html.ValidationMessageFor(model => model.nationalite)
                            </div>
                        </div>
                    </div>



                </div>


                <div id="mo" class="tab-pane fade">
                    <div class="form-horizontal">

                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(model => model.nomestablishment, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nomestablishment)
                                @Html.ValidationMessageFor(model => model.nomestablishment)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.nomeresponsable1, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.nomeresponsable1)
                                @Html.ValidationMessageFor(model => model.nomeresponsable1)
                            </div>
                        </div>
                        @*<div class="form-group">
                        @Html.LabelFor(model => model.nomeresponsable2, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.nomeresponsable2)
                            @Html.ValidationMessageFor(model => model.nomeresponsable2)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.nomeresponsable3, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.nomeresponsable3)
                            @Html.ValidationMessageFor(model => model.nomeresponsable3)
                        </div>
                    </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.typestablishment, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.typestablishment)
                                @Html.ValidationMessageFor(model => model.typestablishment)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.secturactivite, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.secturactivite)
                                @Html.ValidationMessageFor(model => model.secturactivite)
                            </div>
                        </div>
                    </div>


                </div>

                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.LabelFor(model => model.typepiece, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownList("typepiece", "..Choisissez Type..")
                            @Html.ValidationMessageFor(model => model.typepiece)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.numeropiece, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.numeropiece)
                            @Html.ValidationMessageFor(model => model.numeropiece)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.piecedateemission, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.piecedateemission, htmlAttributes: new { type="date" })
                            @Html.ValidationMessageFor(model => model.piecedateemission)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    

    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">Annuler</button>
        <input class="btn btn-primary" id="saveProp" type="submit" value="Enregistrer" />
    </div>
   }


            <script type="text/javascript" language="javascript">
                
             
                $(document).ready(function () {

                    $('#saveProp').on("click", function (e) {
                        //alert(" PAGE CREATE PROP");
                        var v = $('input[name=protype]:checked').val();
                        if (v == "physic") // Physique
                        {
                            if ($("#prenom").val() == "" || $("#prenom").val() == null) {
                                alert("3 name are obligateory");
                                return false;
                            }
                            if ($("#nome2").val() == "" || $("#nome2").val() == null) {
                                alert("3 name are obligateory");
                                return false;
                            }
                            if ($("#nom3").val() == "" || $("#nom3").val() == null) {
                                alert("3 name are obligateory");
                                return false;
                            }
                            return true;
                        }
                        else  //Moral
                        {
                            if ($("#nomestablishment").val() == "" || $("#nomestablishment").val() == null) {
                                alert("Establishmet Name is obligateory");
                                return false;
                            }
                            return true;
                        }

                    });

                    $(".date").datepicker(
                        {
                            dateFormat: "dd/mm/yy"
                        });
                    $(".control-label").css(

                          //{ "font-size": "17px", "font-weight": "bold" }
                                          { "font-weight": "bold", "font-sezie": "15px" }

                       )
                    $('input[name=protype]').on('change', function () {
                        var v = $(this).val();
                        if (v == 'physic') {

                            //$("#ph").prop("disabled", false);
                            $("#ph").find("input,button,textarea,select").removeAttr('disabled');

                            $("#mo").find("input,button,textarea,select").attr("disabled", "disabled");
                            $('.nav-tabs a[href="#ph"]').tab('show');

                        }
                        else {

                            //$("#mo").prop("disabled", false);
                            //$("#mo").removeAttr('disabled');
                            $("#mo").find("input,button,textarea,select").removeAttr('disabled');

                            $("#ph").find("input,button,textarea,select").attr("disabled", "disabled");
                            $('.nav-tabs a[href="#mo"]').tab('show')



                        }
                    });
                });



            </script>
