﻿@model GestionTitreFoncierApp.Models.ProprietaresViewModel

<div class="alert-success modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Details du proprietaire </h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        @if (Model.typeproprietaire == 1)
        {
        <dt>
            @Html.DisplayName("Nom et prenom :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.prenom) @Html.DisplayFor(model => model.nome2) @Html.DisplayFor(model => model.nom3)
        </dd>
        <dt>
            @Html.DisplayName("Date de Naissace :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateNaissace)
        </dd>

        <dt>
            @Html.DisplayName("Lieu de Naisance :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lieuNaisance)
        </dd>
        <dt>
            @Html.DisplayName("Nationalite :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nationalite)
        </dd>


        <dt>
            @Html.DisplayName("Nom mere :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenommere) @Html.DisplayFor(model => model.nommere2) @Html.DisplayFor(model => model.nommere3)
        </dd>

        <dt>
            @Html.DisplayName("Profession :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profession)
        </dd>

        <dt>
            @Html.DisplayName("Telephone :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayName("Adresse :")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>
        }
        else
        {
            <dt>
                @Html.DisplayName("Nom de l'entreprise :")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nomestablishment) 
            </dd>
            <dt>
                @Html.DisplayName("Nom du responsable :")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nomeresponsable1) @Html.DisplayFor(model => model.nomeresponsable2) @Html.DisplayFor(model => model.nomeresponsable3)
            </dd>

            <dt>
                @Html.DisplayName("Secture d'activite :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.secturactivite)
            </dd>
            <dt>
                @Html.DisplayName("Telephone fixe :")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.telfix)
            </dd>


            <dt>
                @Html.DisplayName("Fax :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fax) 
            </dd>

            <dt>
                @Html.DisplayName("Profession :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.profession)
            </dd>

            <dt>
                @Html.DisplayName("Telephone :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telephone)
            </dd>

            <dt>
                @Html.DisplayName("Adresse :")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.adresse)
            </dd>

        }
    </dl>
</div>
