﻿
@{
    Layout = null;
}
@model GestionTitreFoncierApp.Models.proprietaire

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
</head>
<body>
    <p id="@Model.id" class="table-striped">


       
        @if (Model.typeproprietaire == 1)
        {
           <text> @Model.prenom &nbsp; &nbsp; &nbsp; &nbsp; @Model.nome2 &nbsp; &nbsp; &nbsp; &nbsp; @Model.nom3 </text>

        }
        else
        {
            <text> @Model.nomestablishment </text>

}


    @*@Model.prenom;&nbsp;&nbsp;&nbsp;&nbsp;@Model.nome2&nbsp;&nbsp;&nbsp;&nbsp;@Model.nom3*@


    <button type="button" class="btn btn-info btn-sm" onclick="update('@Model.id')">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>

    <button type="button" class="btn btn-danger btn-sm" onclick="deletepro('@Model.id')">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</p>    <br />
    @*<div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.id)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.prenom)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.prenom)
                </dd>



            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>*@
</body>
</html>
