﻿@using GestionTitreFoncierApp.Helpers
@model IEnumerable<GestionTitreFoncierApp.Models.proprietaire>

<div class="panel panel-default" id="partviewprop">
    <div class="panel-heading" style="background-color:#97cfcb;">
        <h2 class="panel-title" style="text-align:center;"><strong><b> Bénéficiaire(s) </b></strong></h2>
    </div>

    <table class="table table-condensed table-striped table-bordered">

        <tr>
            <th>
                @Html.DisplayName("Type du bénéficiaire")
            </th>

            <th>
                @Html.DisplayName("Nom du bénéficiaire")
            </th>


            <th>
                @Html.DisplayName("Numéro du téléphone")
            </th>


            <th>

            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.typeproprietaire1.libelle)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.prenom)
                    @Html.DisplayFor(modelItem => item.nome2)
                    @Html.DisplayFor(modelItem => item.nom3)
                    @Html.DisplayFor(modelItem => item.nomestablishment)


                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.telephone)
                </td>



                <td>
                    <div class="pull-right">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Détails </span>", "Details", "detailsProp", "proprietaires", routeValues: new { id = item.id, idop = ViewBag.ID_OP }, htmlAttributes: new { data_modal = "", @class = "modalProp btn btn-default" })
                   
                    </div>
                </td>
            </tr>
        }

    </table>
</div>

<script type="text/javascript">


        $(function () {
            $.ajaxSetup({ cache: false });

            $('.modalProp').on("click", function (e) {
                //alert(" PAGE  PROP");
                // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
                //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

                $('#propModalContent').load(this.href, function () {
                  //  alert(" propModalContent load");
                    $('#propModal').modal({
                        /*backdrop: 'static',*/
                        keyboard: true
                    }, 'show');
                    //alert(" propModalContent apres show");
                    bindFormProp(this);
                });
                return false;
            });
        });

        function bindFormProp(dialog) {
            $('form', dialog).submit(function () {
               // alert(" propModalContent bindForm(dialog) form");
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                          //  alert(" propModalContent ajax succes");
                            $('#propModal').modal('hide');
                            $('#replaceprop').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                        } else {
                           // alert(" propModalContent ajax echec");
                            $('#propModalContent').html(result);
                            bindFormProp(dialog);
                        }
                    }
                });
                return false;
            });
        }
</script>
