﻿@model GestionTitreFoncierApp.Models.saisie

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>saisie</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.datesaisie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datesaisie)
                @Html.ValidationMessageFor(model => model.datesaisie)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.utilistaurid, "utilistaurid", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("utilistaurid", String.Empty)
                @Html.ValidationMessageFor(model => model.utilistaurid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.typesaisie, "typesaisie", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("typesaisie", String.Empty)
                @Html.ValidationMessageFor(model => model.typesaisie)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.datesaisie1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.datesaisie1)
                @Html.ValidationMessageFor(model => model.datesaisie1)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
