﻿@model IEnumerable<GestionTitreFoncierApp.Models.saisie>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
@*<link href="~/css/IndexinfoLableStyle.css" rel="stylesheet" />*@
<script type="text/javascript" language="javascript">

    function btnfunc() {
             var datedu=$('#datedu').val();
        var dateau=$('#dateau').val();
        var user=$('#' + 'user' + ' option:selected').val();
        @*var url = '@Url.Action("DeleteConfirmed", "tfs")?id=' + id;*@
        var url = "/saisies/saisiesview/";
        $.ajax({
            type: "POST",
            url: url,
            data: { datedu: datedu, dateau: dateau, user: user },
            success: function (data) {
                var htmltbl = "<table  class='table table-bordered' style='width:auto;height:auto' border='1px'>" +
                                               "<thead><tr class='info'><th>Utilisateur</th><th>Tout enregistrement</th><th>Tout mise jour</th><th>Tout saisies</th></thead>";
                //var g=
                if (data.length > 1)
                {for (var x = 0; x < data.length; x++)
                   { var b = data.length;
                   if (b > 1)


                       var usernom = "<tr><td><input  id='proprietaires_" + 0 + "__prenom' name='proprietaires[" + 0 + "].prenom'  type='label'  /></td>";
                       var usernom = "<tr><td>" + data[x].usernom + "</td>";

                       var allsave = "<td>"+ data[x].totalSaisieSave+"</td>";

                       var alledit = "<td>"+ data[x].totalSaisieEdit+"</td>";
                       var allsaisies = "<td>"+ data[x].totalSaisie+"</td></tr>";
                       var htmltbl = htmltbl + usernom + allsave + alledit + allsaisies;

                }
                htmltbl += "</table>";
                $('#tblres').html("");
                $('#tblres').html(htmltbl);
                $('#panelhead').css("display","block");
                }

                  else
                  {
                    var usernom = "<tr><td>" + data[0].usernom + "</td>";

                    var allsave = "<td>" + data[0].totalSaisieSave + "</td>";

                    var alledit = "<td>" + data[0].totalSaisieEdit + "</td>";
                    var allsaisies = "<td>" + data[0].totalSaisie + "</td></tr>";
                    var htmltbl = htmltbl + usernom + allsave + alledit + allsaisies;
                    htmltbl += "</table>";
                    $('#tblres').html("");
                    $('#tblres').html(htmltbl);
                    //alert("one");
                  }

            },
            error: function (msg) {
                alert($(this).id);
            }
        });


    }
</script>
<div class="row col-md-offset-1" style="margin-top:50px;margin-right:10px;margin-bottom:80px;">

    <div class="col-md-10">
        <div class="panel panel-default" style="border:hidden;">
            <div class="panel-heading">
                <h1 class="panel-title" style="text-align:center;">Effectuer une Recherche de Saisie</h1>
            </div>
            
               
                    @using (@Html.BeginForm("Index", "saisies", FormMethod.Get))
            {
                        <div class="panel-body">
                            @*<b>Rechercher par:</b>*@
                            <div class="form-horizontal">
                                <div class="col-lg-4">

                                    <div class="form-group">
                                        @Html.Label("Du :", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-md-3", style = "text-align:right; font-family: 'Microsoft Sans Serif', Times;font-size:18px; font-weight: bold;" })
                                        <div class="col-md-8">
                                            <input style="text-align:left;font-size:18px" class="date form-control" id="datedu" name="datedu" type="date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">

                                    <div class="form-group">
                                        @Html.Label("Au :", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-md-3", style = "text-align:right; font-family: 'Microsoft Sans Serif', Times;font-size:18px; font-weight: bold;" })
                                        <div class="col-md-9">
                                            <input style="text-align:left;font-size:18px" class="date form-control" id="dateau" name="dateau" type="date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">

                                    <div class="form-group">
                                        @Html.Label("Utilisateur :", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-md-4", style = "text-align:right; font-family: 'Microsoft Sans Serif', Times;font-size:18px; font-weight: bold;" })

                                        <div class="col-md-8" style="text-align:right;" >
                                        @Html.DropDownList("user",null, "..Tout..", htmlAttributes: new { @class = "form-control select2" })
                                            
                                            </div>
                                    </div>
                                </div>
                               
                            </div>

                            </div>
                            <div class="panel-footer">
                                <div class="col-md-offset-5">
                                    <button type="button" class="btn btn-info" onclick='btnfunc()'>
                                        <span class="glyphicon glyphicon-search"></span> Rechercher
                                    </button>
                                </div>
                            </div>
                    }
                       
            </div>
        </div>
    <div class="col-md-10">
            <div class="panel panel-primary" style="border:hidden;">
                <div id="panelhead" class="panel-heading" style="display:none">
                    <h1 class="panel-title" style="text-align:center;">Liste de la recherche</h1>
                </div>
                <div class="panel-body">
                            <table id="tblres" class="table table-bordered">
                                <thead>
                                    <tr class="warning"></tr>
                                </thead>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
