﻿ <!-- Datepicker -->
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
<!-- Select2 -->
<script src="@Url.Content("~/Scripts/select2.full.min.js")"></script>
<!-- DataTables -->
<script src="@Url.Content("~/Scripts/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>

<script src="@Url.Content("~/Scripts/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/dataTables.bootstrap.min.js")"></script>
@*/*----------------------------------- JS Synchronisation des Localisation ---------------------------------- */*@
<script src="@Url.Content("~/Scripts/Synchronisations_Localisations.js")"></script>
<script src="@Url.Content("~/Scripts/JavaCheckBoxes.js")"></script>


<script>
	$(document).ready(function () {
	    $('#example').DataTable();

    $('#example_filter').hide();

	});
</script> 
<script>

    $(document).ready(function () {
        $('#idTypeOperation').on('change', function () {
            //  var listid = '#' + $(this).attr('id') + '1';
            var v = document.getElementById('idTypeOperation').value;
            //var tp = $('input[name=typLieu]').val();
            var url = "/Operations/ListCreancier/";
            $.ajax({
                type: "POST",
                url: url,
                //url: url,
                data: { id: v },
                cache: false,
                success: function (data) {
                    if (data.length > 0) {
                        var markup = "<option value> ---- Selectionnez ----- </option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        //document.getElementById('IDCreancier').disabled = false;
                        $("#idActeur").html(markup).show(); 
                        $("#idActeur").attr('required', true);
                    }
                    else {
                        if (data = null || data.length == 0) {
                            var markup = "<option value='0'>Vide</option>";
                            //document.getElementById('communeId').disabled = true;

                            $("#idActeur").html(markup).show();
                            //document.getElementById('IDCreancier').disabled = true;
                        }
                    }
                },
                error: function (msg) {
                    alert($(this).id);
                }
            });
        });
    });

    var URLAnnuler = '/Operations/Annuler';
    $(function () {
        $("#AnnulerOperations").click(function () {
            //debugger;
            var $buttonClicked = $(this);
            var idop = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: URLAnnuler,
                contentType: "application/json; charset=utf-8",
                data: { id: idop },
                datatype: "json",
                success: function (data) {
                    //debugger;
                    $("#myModalContent").html(data);
                    $("#myModal").modal(options);
                    $("#myModal").modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed. 1");
                }
            });
        });

        $("#closbtn").click(function () {
            $("#myModal").modal('hide');
        });
    });

    var URLValider = '/Operations/Valider';
    $(function () {
        $("#ValiderOperations").click(function () {
            //debugger;
            var $buttonClicked = $(this);
            var idop = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: URLValider,
                contentType: "application/json; charset=utf-8",
                data: { id: idop },
                datatype: "json",
                success: function (data) {
                    //debugger;
                    $("#myModalContent").html(data);
                    $("#myModal").modal(options);
                    $("#myModal").modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed. 1");
                }
            });
        });

        $("#closbtn").click(function () {
            $("#myModal").modal('hide');
        });
    });

    $(document).ready(function () {
        $('#IDOperations').on('change', function () {
            //  var listid = '#' + $(this).attr('id') + '1';
            var v = document.getElementById('IDOperations').value;
            //var tp = $('input[name=typLieu]').val();
            var url = "/Operations/ListTypeOperation/";
            $.ajax({
                type: "POST",
                url: url,
                //url: url,
                data: { id: v },
                cache: false,
                success: function (data) {
                    if (data.length > 0) {
                        var markup = "<option value='0'> ---- Selectionnez le type d'operation -----</option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        //document.getElementById('IDCreancier').disabled = false;
                        $("#IDTypeOperations").html(markup).show();
                    }
                    else {
                        if (data = null || data.length == 0) {
                            var markup = "<option value='0'>Vide</option>";
                            //document.getElementById('communeId').disabled = true;

                            $("#IDTypeOperations").html(markup).show();;
                            //document.getElementById('IDCreancier').disabled = true;
                        }
                    }
                },
                error: function (msg) {
                    alert($(this).id);
                }
            });
        });
    });
</script>

<script>
    $('.bod').slideUp();


    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })
    $(document).on('click', '.panel-heading span.clickables', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.Pan').find('.bod').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('#ii').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');

           
        } else {
            $this.parents('.Pan').find('.bod').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('#ii').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })
</script>



<script>
    //var URLCreancier = '/Operations/CreateCreancierPartiel';
    //$(function () {
    //    $("#NewCreancier").click(function () {
    //        //debugger;
    //        var $buttonClicked = $(this);
    //        var v = document.getElementById('idTypeOperation').value;
    //        //var id = $buttonClicked.attr('data-id');
    //        var options = { "backdrop": "static", keyboard: true };
    //        $.ajax({
    //            type: "GET",
    //            url: URLCreancier,
    //            contentType: "application/json; charset=utf-8",
    //            data: {id : v},
    //            datatype: "json",
    //            success: function (data) {
    //                //debugger;
    //                $("#myModalContent").html(data);
    //                $("#myModal").modal(options);
    //                $("#myModal").modal('show');

    //            },
    //            error: function () {
    //                alert("Dynamic content load failed.");
    //            }
    //        });
    //    });

    //    $("#closbtn").click(function () {
    //        $("#myModal").modal('hide');
    //    });
    //});
   
   
 
    $(function () {
        $("#RefreshCreancier").click(function () {
            var url = "/Operations/GetListCreancier/";
            var select = $("#idActeur");
            select.empty();
            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                data: false,
                success: function (data) {
                    if (data.length > 0) {
                        var markup = "<option value='0'> ---- Selectionnez ----- </option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#idActeur").html(markup).show();
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }

            });
        });
    });
</script>
<script>
    var URLDebiteur = '/Operations/CreateDebiteurPartiel';
    $(function () {
        $("#NewDebiteur").click(function () {
            //debugger;
            var $buttonClicked = $(this);
            //var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: URLDebiteur,
                contentType: "application/json; charset=utf-8",
                data: {},
                datatype: "json",
                success: function (data) {
                    //debugger;
                    $("#myModalContent").html(data);
                    $("#myModal").modal(options);
                    $("#myModal").modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });

        $("#closbtn").click(function () {
            $("#myModal").modal('hide');
        });
    });


    $(function () {
        $("#RefreshDebiteur").click(function () {
            var url = "/Operations/GetListDebiteur/";
            var select = $("#IDDebiteur");
            select.empty();
            $.ajax({
                type: "POST",
                url: url,
                cache: false,
                data: false,
                success: function (data) {
                    if (data.length > 0) {
                        var markup = "<option value='0'> ---- Selectionnez ----- </option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        $("#IDDebiteur").html(markup).show();
                    }
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }

            });
        });
    });
</script>

@*///* ------ Desactivation des boutons d'enregistrement apres clickage ------*/*@
<script>
    //$(document).on('invalid-form.validate', 'form', function () {
    //    var button = $(this).find('button[type="submit"]');
    //    setTimeout(function () {
    //        button.removeAttr('disabled');
    //    }, 1);
    //});
    //$(document).on('submit', 'form', function () {
    //    var button = $(this).find('button[type="submit"]');
    //    setTimeout(function () {
    //        button.attr('disabled', 'disabled');
    //    }, 0);
    //});
</script>





