﻿
<link href="@Url.Content("~/Content/Alerts.css")" rel="stylesheet" />
 <!-- iCheck for checkboxes and radio inputs -->
<link href="@Url.Content("~/css/flat/green.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/flat/red.css")" rel="stylesheet" />
<!-- DataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/dataTables.bootstrap.css")">
<link href="@Url.Content("~/Content/dataTables.bootstrap.min.css")" rel="stylesheet" />

<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading span {
        margin-top: -20px;
        font-size: 15px;
    }

    .modal-content {
        width: 600px !important;
        margin: 30px auto !important;
    }
</style>