﻿
@model GestionTitreFoncierApp.Models.TFSViewModel

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<link href="~/css/EditorFormStyle1.css" rel="stylesheet" />
<script src="~/Scripts/Commoncustom.js"></script>
<link href="~/css/CalenderCSS/pikaday.css" rel="stylesheet" />
<link href="~/css/CalenderCSS/site.css" rel="stylesheet" />
<link href="~/css/CalenderCSS/theme.css" rel="stylesheet" />
<link href="~/css/CalenderCSS/triangle.css" rel="stylesheet" />
<script src="~/Scripts/pikaday.js"></script>
<script src="~/Scripts/DsiplayImageOnCreateForm.js"></script>
<script>
    var indeximage = 0;
    var lstSelectedtextvalue;
    var fielcount;
</script>
<script src="~/Scripts/ValidateTheFormBeforePosting.js"></script>
<script src="~/Scripts/bttnAddPropritreCreateTF.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#numerotf').prop('readonly', true);
        $("#imageupload").prop("disabled", true);
        $('#numerotf').css({ 'background-color': 'lightGrey' });
        $('#imageupload').css({ 'background-color': 'lightGrey' });


    });
   
    $(document).ready(function () {
        $('input[name=protype]').on('change', function () {
            var v = $(this).val();
            if (v == 'physic') {
                $("#myTable2").find("input,button,textarea,select").css("background-color", "lightgrey");
                $("#myTable").find("input,button,textarea,select").css("background-color", "white");
                $("#myTable").find("button").css("background-color", "red");
                $("#myTable2").find("input,button,textarea,select").attr("disabled", "disabled");
                $("table#myTable :text").prop("disabled", false);
                $("table#myTable :button").prop("disabled", false);
                $("#myTable2").find("input[type='text'],input[type='date'],select").val("");
                $("#myTableRowPhysic1").find("#prenom").focus();
            }
            else {

                $("#myTable2").find("input,button,textarea,select").css("background-color", "white");
                $("#myTable").find("input,button,textarea,select").css("background-color", "lightgrey");
                $("#myTable2").find("button").css("background-color", "red");
                $("#myTable").find("input,button,textarea,select").attr("disabled", "disabled");
                $("table#myTable2 :text").prop("disabled", false);
                $("table#myTable2 :button").prop("disabled", false);
                // $("#myTable").find("input,button,textarea,select").val("");
                $("#myTable").find("input[type='text'],input[type='date'],select").val("");
                //("#myTable").find('.wrapperDivHidden input[type="hidden"]').val();
                $("#myTableRowMoral1").find("#nomestablishment").focus();

            }
        });
    });
    $(document).ready(function () {

    });

    function imageselectPrepare() {
       
        var inp = document.getElementById('imageupload');
        var filename = inp.files.item(0).name.toString();
        var str = "";
        //var b = filename.charAt(13);
        for (var i = 0; i < filename.length; i++) {
            // str = filename.charAt(p);
            if (filename.charAt(parseInt(i)) == " ") {
                break;
            }
            else {
                str += filename.charAt(parseInt(i));
            }

        }
        var numero = "";
        for (var i = str.length; i > 0; i--) {
            if (str.charAt(parseInt(i)) == "-") {
                break;
            }
            else {
                numero += str.charAt(parseInt(i));
            }
        }

        var no = numero.split("").reverse().join("");
        $("#numerotf").attr("readonly", true);
        $('#numerotf').val(no);
        $("#numerotf").css("background-color", "lightgrey");
        $('#cheminimage').val("D:\\Domaine\\" + str);
        var parentfolder = "D:\\Domaine\\" + str;
        var urlll = '@Url.Action("imageviewer", "tfs")?pathofimg1=' + parentfolder + '&imgnvaindex=' + 0;

        $('#right_col').load(urlll);


    }
</script>
<script src="~/Scripts/bttnDeletePropritreCreateTF.js"></script>

<div id="wrapParent" style="height:100%;width:100%;border:inset">

    @*<div id="left_col" style="float:left;width:100%;height:100%;border:none;margin-right:auto">*@
    <div id="left_col" style="float:left;width:50%;height:100%;border:none;margin-right:auto">

        <form class="form-inline" role="form" action="/tfs/edit/" method="post" onsubmit="return validateForm(2)" style="height:100%;width:100%;background-color:whitesmoke">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.cheminimage)
            <div class="panel panel-info" style="overflow:scroll;float:left;width:100%;height:100%;background-color:white">

                <div class="panel-heading" style="height:8%;width:140%">
                    <p>Principale Information</p>

                </div>
                <div class="panel-body container-inner" style="height:31%;width:140%;background-color:whitesmoke">
                    <div class="row">

                        
                            <label>Numéro TF:</label>
                            @*<input type="text" id="numerotf" name="numerotf" />*@
                            @Html.EditorFor(model => model.numerotf)
                       
                            <label>Date Imma:</label>
                            @Html.EditorFor(model => model.datetf)
                            @*<input class="date" id="datetf" name="datetf" type="text" />*@
                            @*@if (Model.datetf != null)
                    {
                        <script>
                            $("#datetf").val(@(Html.Raw((Convert.ToDateTime(Model.datetf)))))
                        </script>
                    }*@
                            <script type="text/javascript">

                                var picker = new Pikaday(
                                        {
                                            field: document.getElementById('datetf'),
                                            firstDay: 1,
                                            minDate: new Date('1950-01-01'),
                                            yearRange: [2000, 2020],
                                            numberOfMonths: 1,
                                            theme: 'dark-theme'
                                        });
                            </script>

                        


                    </div>
                    <br />


                    <div class="row">
                        
                            @*<label>Images:</label>*@
                            <input type="file" class="btn-success" name="imageupload" id="imageupload" onchange="imageselectPrepare()" />

                       
                    </div>
                </div>
            

                <div class="panel-heading" style="height:8%;width:900px">
                    <p>Détails</p>
                </div>
                <div class="panel-body" style="height:68%;width:140%;background-color:whitesmoke">
                    <ul id="tabs" class="nav nav-pills" style="background-color:#cff8fb">
                        <li class="active"><a data-toggle="pill" href="#DivPros" style="font-weight: bold">Propriétaire(s)</a></li>
                        <li><a data-toggle="pill" href="#Immatricule" style="font-weight: bold">Immatriculation</a></li>
                        <li><a data-toggle="pill" href="#Location" style="font-weight: bold">Location</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="DivPros" class="tab-pane fade in active">
                            <input type='radio' id='protype' name='protype' value='physic' checked /><text class="radioStyletext">Physic</text>
                            <input type='radio' id='protype' name='protype' value='moral' /><text class="radioStyletext">Moral</text>

                            <button id='btnadd' type='button' class='btn btn-success btn-xs' onclick='btnfunc()'><span class='glyphicon glyphicon-plus'></span></button>

                            @if (Model.proprietaires.Any(x => x.typeproprietaire == 1))
                            {
                                <table id='myTable' class='table' style='width:auto;height:auto' border:'1px'>
                                    <thead><tr id='myTableRowPhysic88' class='info'><th>Supprimer</th><th>Prénom</th><th>Nom2</th><th>Nom3</th><th>Nationalité</th></tr></thead>

                                    @for (int i = 0; i < Model.proprietaires.Count(); i++)
                                    {
                                        var rowid = "myTableRowPhysic" + (i + 1);
                                        <tr id=@(Html.Raw(rowid))>
                                            <td style="position:relative;top:-22px;vertical-align:middle"><button type='button' class='btn-danger btn-xs' onclick='DeletRow(1, @(Html.Raw(Json.Encode(rowid))))'><span class='glyphicon glyphicon-remove'></span></button></td>
                                            <td><input id='prenom' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).prenom))) type='text' /></td>

                                            <td><input id='nome2' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nome2))) /></td>

                                            <td><input id='nom3' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nom3))) /></td>
                                            <td style="padding-top:9px;vertical-align:top">
                                                <select id='nationalite' style='width: 90px;background-color: white'>
                                                    <option value='0'>... Choisissez...</option>
                                                    <option value='1'>djiboutian</option>
                                                    <option value='2'>étranger</option>
                                                </select>
                                                <script>
                                                    $(@(Html.Raw(rowid))).find('#' + "nationalite option").filter(function () { return this.value === @(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nationalite))) }).prop('selected', true);
                                                </script>
                                            </td>
                                            <td><input id='id' name='id' type='hidden' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).id))) /></td>
                                        </tr>
                                    }

                                </table>
                                <table id='myTable2' class='table' style='width:auto;height:auto' border:'1px'>
                                    <thead><tr id='myTableRowMoral188' class='info'><th>Nom Establissment</th><th>Nom Rsponsable</th><th>Type Establishment</th><th>Secteur Actif</th></tr></thead>
                                    @{ var rowidMoral = "myTableRowMoral1"; }

                                    <tr id=@(Html.Raw(Json.Encode(rowidMoral)))>
                                        <td style="position:relative;top:-22px;vertical-align:middle"><button type='button' class='btn-danger btn-xs' onclick='DeletRow(2, @(Html.Raw(Json.Encode(rowidMoral))))'><span class='glyphicon glyphicon-remove'></span></button></td>
                                        <td><input id='nomestablishment' style='background-color: white;' value='' type='text' /></td>

                                        <td><input id='nomeresponsable1' type='text' value='' style='background-color: white;' /></td>

                                        <td><input id='typestablishment' type='text' style='background-color: white;' value='' /></td>
                                        <td><input id='secturactivite' type='text' style='background-color: white;' value='' /></td>


                                        <td><input id='id' name='id' type='hidden' value='0' /></td>
                                    </tr>
                                </table>
                                <script>
                                    var $radios = $('input:radio[name=protype]');
                                    $radios.filter('[value=physic]').prop('checked', true);
                                    $("#myTable2").find("input,button,textarea,select").css("background-color", "lightgrey");
                                    $("#myTable").find("input,button,textarea,select").css("background-color", "white");
                                    $("#myTable").find("button").css("background-color", "red");
                                    $("#myTable2").find("input,button,textarea,select").attr("disabled", "disabled");
                                    $("table#myTable :text").prop("disabled", false);
                                    //$("#myTable2").find("input,button,textarea,select").val("");
                                    $("#myTable2").find("input[type='text'],input[type='date'],select").val("");
                                </script>
                            }
                            else // if Moral
                            {
                                <table id='myTable' class='table' style='width:auto;height:auto' border:'1px'>
                                    <thead><tr id='myTableRowPhysic88' class='info'><th>Supprimer</th><th>Prénom</th><th>Nom2</th><th>Nom3</th><th>Nationalité</th></tr></thead>


                                    @{ var rowid = "myTableRowPhysic1";
                                    }
                                    <tr id=@(Html.Raw(rowid))>
                                        <td><button type='button' class='btn btn-danger btn-lg' onclick='DeletRow(1,@(Html.Raw(Json.Encode(rowid))))'><span class='glyphicon glyphicon-remove'></span></button></td>
                                        <td><input id='prenom' style='background-color: white;' value='' type='text' /></td>

                                        <td><input id='nome2' type='text' style='background-color: white;' value='' /></td>

                                        <td><input id='nom3' type='text' style='background-color: white;' value='' /> </td>
                                        <td>
                                            <select id='nationalite' style='width: 90px;background-color: white'>
                                                <option value='0'>... Choisissez...</option>
                                                <option value='1'>djiboutian</option>
                                                <option value='2'>étranger</option>
                                            </select>
                                        </td>
                                        <td><input id='id' name='id' type='hidden' value='0' /></td>
                                    </tr>


                                </table>
                                <table id='myTable2' class='table' style='width:auto;height:auto' border:'1px'>
                                    <thead><tr id='myTableRowMoral188' class='info'><th>Nom Establissment</th><th>Nom Rsponsable</th><th>Type Establishment</th><th>Secteur Actif</th></tr></thead>
                                    @for (int i = 0; i < Model.proprietaires.Count(); i++)
                                    {
                                        var rowidMoral = "myTableRowMoral" + (i + 1);
                                        <tr id=@(Html.Raw(Json.Encode(rowidMoral)))>
                                            <td style="padding-top:9px;vertical-align:top"><button type='button' class='btn btn-danger btn-lg' onclick='DeletRow(2,@(Html.Raw(Json.Encode(rowidMoral))))'><span class='glyphicon glyphicon-remove'></span></button></td>
                                            <td><input id='nomestablishment' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nomestablishment))) type='text' /></td>

                                            <td><input id='nomeresponsable1' type='text' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nomeresponsable1))) style='background-color: white;' /></td>

                                            <td><input id='typestablishment' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).typestablishment))) /></td>
                                            <td><input id='secturactivite' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).secturactivite))) /></td>


                                            <td><input id='id' name='id' type='hidden' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).id))) /></td>
                                        </tr>
                                    }
                                </table>
                                <script>
                                    var $radios = $('input:radio[name=protype]');
                                    $radios.filter('[value=moral]').prop('checked', true);
                                    $("#myTable").find("input,button,textarea,select").css("background-color", "lightgrey");
                                    $("#myTable2").find("input,button,textarea,select").css("background-color", "white");
                                    $("#myTable2").find("button").css("background-color", "red");
                                    $("#myTable").find("input,button,textarea,select").attr("disabled", "disabled");
                                    $("table#myTable2 :text").prop("disabled", false);
                                    //$("#myTable").find("input,button,textarea,select").val("");
                                    $("#myTable").find("input[type='text'],input[type='date'],select").val("");
                                </script>
                                        }

                        </div>



                        <div id="Immatricule" class="tab-pane fade">
                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    <label>N° ACP:</label>
                                    @Html.EditorFor(model => model.numacp)
                                </div>
                                <div class="col-lg-6 input-lg">
                                    <label>Type TF:</label>
                                    @*<select  id="typetf" name="typetf">
                    <option>..Choisissez type..</option>
                    </select>*@
                                    @Html.DropDownList("typetf", "..Choisissez type..")

                                    <script>
                                        $('#' + "typetf option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.typetf1.id)))'}).prop('selected', true);
                                    </script>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    <label>Date Opération:</label>
                                    @Html.EditorFor(model => model.DateOperation)
                                    <script type="text/javascript">
                                        var picker = new Pikaday(
                                                {
                                                    field: document.getElementById('DateOperation'),
                                                    firstDay: 1,
                                                    minDate: new Date('1950-01-01'),
                                                    yearRange: [2000, 2020],
                                                    numberOfMonths: 1,
                                                    theme: 'dark-theme'
                                                });
                                    </script>
                                </div>
                                <div class="col-lg-6 input-lg">
                                    <label>Pièce</label>
                                    @*<select id="PIECEJUSTIFICATIVE_id" name="PIECEJUSTIFICATIVE_id">
                    <option>..Choisissez type..</option>
                    </select>*@
                                    @Html.DropDownList("PIECEJUSTIFICATIVE_id", "..Choisissez pièce..")
                                    <script>
                                        $('#' + "PIECEJUSTIFICATIVE_id option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.piecejustificative.id)))'}).prop('selected', true);
                                    </script>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    <label>Valeur:</label>
                                    @Html.EditorFor(model => model.valeurterrain)
                                    @*<input type="text" id="valeurterrain" name="valeurterrain"  />*@
                                    <script>
                                        $("#valeurterrain").val(@(Html.Raw(Json.Encode(Model.valeurterrain))));
                                    </script>
                                </div>
                                <div class="col-lg-6 input-lg">
                                    <label>Superficie:</label>
                                    @Html.EditorFor(model => model.superficie)
                                    <script>
                                        $("#superficie").val(@(Html.Raw(Json.Encode(Model.superficie))));
                                    </script>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8 input-lg">
                                    <label>Terrain bâti:</label>
                                    @*@Html.CheckBoxFor(model => model.estbati, new { @checked = "checked" })*@
                                    @Html.EditorFor(model => model.estbati)




                                </div>
                            </div>



                        </div>

                        <div id="Location" class="tab-pane">


                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    <label>Région:</label>
                                    @Html.DropDownList("RegId", "... Choisissez Région...")

                                    <script>
                                        $('#' + "RegId option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.quartier.region.id)))'}).prop('selected', true);
                                    </script>


                                </div>
                                <div class="col-lg-6 input-lg">
                                    <label>Ilot:</label>
                                    @*<input type="checkbox" id="estillot" name="estillot" />*@
                                    @*<input type="checkbox" id="estillot" name="estillot"  />*@

                                    @*@Html.CheckBoxFor(model => model.estbati)*@
                                    @Html.EditorFor(model => model.estillot)


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 input-lg" style="align-items:center">
                                    <label>Type Lieu:</label>

                                    @Html.RadioButton("typLieu", "Quart", true) <text>Quartier</text>
                                    @Html.RadioButton("typLieu", "Lotis") <text>Lottisment</text>
                                    @if (Model.typelieu == 1)
                                    {
                                        <script>
                                            var $radios = $('input:radio[name=typLieu]');
                                            $radios.filter('[value=Quart]').prop('checked', true);
                                        </script>
                                    }
                                    else
                                    {
                                        <script>
                                            var $radios = $('input:radio[name=typLieu]');
                                            $radios.filter('[value=Lotis]').prop('checked', true);
                                        </script>
                                    }

                                    @*@Html.RadioButton("typLieu", "Quart", true) <text>Quartier</text>
                    @Html.RadioButton("typLieu", "Lotis") <text>Lottisment</text>*@
                                </div>
                                <div class="col-lg-6 input-lg">
                                    <label>Nom îlot:</label>

                                    @*<input id="nomillot" name="nomillot" type="text" />*@
                                    @Html.EditorFor(model => model.nomillot)

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    <label>Lieu:</label>
                                    @*<input type="text" id="valeurterrain" name="valeurterrain" />*@
                                    <script>
                                        $('#' + "idquartier option").filter(function () { return this.value === @(Html.Raw(Json.Encode(Model.quartier.region.id))) }).prop('selected', true);
                                    </script>
                                    @Html.DropDownList("idquartier", "...Choisissez Quartier...")
                                    @Html.ValidationMessageFor(model => model.idquartier)

                                    <script>
                                        $('#' + "idquartier option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.quartier.id)))'}).prop('selected', true);
                                    </script>
                                </div>
                                <div class="col-lg-6 input-lg">
                                    <label>N°Lot:</label>
                                    @Html.EditorFor(model => model.numerolot)


                                </div>
                            </div>

                        </div>

                    </div>
                    <button type="submit" class="btn-sm btn btn-info btn-lg"><span class="glyphicon glyphicon-floppy-save"></span> </button>

                </div>
            </div>

        </form>
    </div>
    <div id="right_col" style="overflow:scroll;width:50%;height:100%;float:right;background-color:whitesmoke">
        @*<div class="panel panel-info container" style="height:100%">*@
            @*<div class="panel-heading input-lg">
            <p>Principale Information</p>
            </div>*@
            @*<div class="panel-body">*@

                <script>
                    var urlll = '@Url.Action("imageviewer", "tfs")?pathofimg1=' + @(Html.Raw(Json.Encode(Model.cheminimage)))+ '&imgnvaindex=' + 0;
                    $('#right_col').load(urlll);


                </script>
            @*</div>*@
        @*</div>*@
    </div>
</div>


@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@*<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>*@
