﻿body {
    /*height:100%;*/
}
.parentpanel
{
    
}

/*.form-control {*/
label{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 17px;
     font-weight:bold;
     text-align:right;
     /*position:fixed;*/
    
     /*display:block;*/
       /*display: inline-block;*/
      color:black;
     /*float:left;*/ 
     /*display:block;*/ 
     width:100px;
      /*float:right;*/

}
.EditorDate{
     /*float:right;*/
        font-family: 'Microsoft Sans Serif', Times;
   font-size: 17px;
   text-align:left;
   color:darkslategrey;
   font-weight:bold;
   /*position:relative;
   vertical-align:top;*/
  border-radius:5px;
  /*margin-bottom:-30px;*/
    /*width:80px;*/   
   
     /*display:;*/
     /*position:fixed;*/
}
input[type='text'] {
    /*float:right;*/
        font-family: 'Microsoft Sans Serif', Times;
   font-size: 17px;
   text-align:left;
   color:darkslategrey;
   font-weight:bold;
   /*position:relative;
   vertical-align:top;*/
  border-radius:5px;
  /*margin-bottom:-30px;*/
    /*width:80px;*/   
   
     /*display:;*/
     /*position:fixed;*/
}

input[type='number'] {
       font-family: 'Microsoft Sans Serif', Times;
   font-size: 17px;
   text-align:left;
   color:darkslategrey;
   font-weight:bold;
   /*position:relative;
   vertical-align:top;*/
  border-radius:5px;
 
    /*width:80px;*/   
   /*width:80px;*/     

   /*float:right;*/
}

input[type='checkbox'] {
        font-family: 'Microsoft Sans Serif', Times;
   font-size: 17px;
   text-align:left;
   color:darkslategrey;
   font-weight:bold;
   /*position:relative;
   vertical-align:top;*/
  border-radius:5px;
  margin-bottom:-30px;
    /*width:80px;*/   
   /*width:80px;*/     

   /*float:right;*/
}
/*input[type='file'] {
        font-family: 'Microsoft Sans Serif', Times;
   font-size: 15px;
   text-align:right;
   color:darkslategrey;
   font-weight:bold;
 
  border-radius:5px;
  
  align-items:center;
}*/
select{
    border-radius:5px;
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 17px;
      text-align:left;
     color:darkslategrey;
            font-weight:bold;
height:45px;
/*float:right;*/
 /*color:purple;*/
 /*align-content:center;*/
 

}


/*input[type='text'] {
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 17px;
     font-weight:bold;
     text-align:right;
     color:darkslategrey;
}*/
/*select{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 17px;
     font-weight:bold;
     text-align:left;
     color:darkslategrey;
     width:auto;

}*/
li{
    font-size: 16px;
    font-weight:bold;
}
.AddpropritareButton{

}
.radioStyletext{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 15px;
     font-weight:bold;
     text-align:left;
     color:darkslategrey;
}
/*input[type='radio'] {
  -webkit-appearance:none;
  width:17px;
  height:17px;
  border:1px thin darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:57%;
  height:57%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:#0094ff;
}*/

.FirstLevelDiv{
    position: relative;
    top:-45px;
    height:20%;
}
.radioStyle{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 30px;
     font-weight:bold;
     text-align:left;
     color:darkslategrey;

}
th {
    height: auto;
    text-align:center;
    color:black;
   font-size:15px;
    font-weight: bold;
    font-style: normal;
    text-align:center;
}
tr{
   
}
td{
     color:darkslategrey;
   font-size:15px;
    font-weight: bold;
    font-style: normal;
    text-align:center;

}
.panel-heading{
    /*height:100px;*/
  
  text-align:left;
   /*border:solid;*/
    border-color: #3db5d8;
  
}
p{
   font-weight:bold;
   font-size: 20px;
   vertical-align:central;
   position:relative;
   top:-10px;
   /*color:pink;*/
}

/*.panel-info{
    border:solid;
    border-color: #3db5d8;
    background-color:whitesmoke;
}*/



.radioStyle{
    
}

.cheboxStyle{

}
