﻿body {
}

.lblFontfamily {
  /*font-family: "Times New Roman", Times, serif;*/
    font-family: 'Microsoft Sans Serif', Times;

}

.lblFontsize {
  font-size: 15px;
}



    /*font-family: "Times New Roman", Times, serif;

p.normal {
    font-style: normal;
}

p.italic {
    font-style: italic;
}

p.oblique {
    font-style: oblique;
}

font-size: 40px;


p.thick {
    font-weight: bold;
}*/