﻿body {
}
.lblInfoFontStyle {
 

}
table {
    height:200px;
}
th {
    height: 40px;
    text-align:center;
    color:black;
   font-size:15px;
    font-weight: bold;
    font-style: normal;
    text-align:center;
}
tr{
   
}
td{
     color:darkslategrey;
   font-size:15px;
    font-weight: bold;
    font-style: normal;
    text-align:center;

}