﻿body {
}
.panel-info
{
    width:100%;
    position:relative;
    height:100%;
}
.panel-heading{
    height:33px;
    position:relative;
    font-weight:bold;
    font-size: 19px
}

.labelStyle{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 17px;
     font-weight:bold;
     text-align:right;
}
.EditorStyle{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 50px;
     font-weight:bold;
     text-align:left;
     color:darkslategrey;
}
.radioStyletext{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 17px;
     font-weight:bold;
     text-align:left;
     color:darkslategrey;
}
input[type='radio'] {
  -webkit-appearance:none;
  width:17px;
  height:17px;
  border:1px thin darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;

}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:57%;
  height:57%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:#0094ff;
}

    

}
table {
    height:200px;
    width:40px
}
th {
    height: auto;
    text-align:center;
    color:black;
   font-size:15px;
    font-weight: bold;
    font-style: normal;
    text-align:center;
}
tr{
   
}
td{
     color:darkslategrey;
   font-size:14px;
    font-weight: bold;
    font-style: normal;
    text-align:center;

}