﻿input[type='checkbox'] {
        font-family: 'Microsoft Sans Serif', Times;
   font-size: 17px;
   text-align:left;
   color:darkslategrey;
   font-weight:bold;
   /*position:relative;
   vertical-align:top;*/
  border-radius:5px;
  margin-bottom:-30px;
    /*width:80px;*/   
   /*width:80px;*/     

   /*float:right;*/
}
input[type='text'] {
        font-family: 'Microsoft Sans Serif', Times;
   font-size: 17px;
   text-align:left;
   color:darkslategrey;
   font-weight:bold;
 /*width:50px;*/
  border-radius:5px;
  /*padding:10px;*/
  align-items:center;
}
select {
        font-family: 'Microsoft Sans Serif', Times;
   font-size: 17px;
   text-align:right;
   color:darkslategrey;
   font-weight:bold;
 width:230px;
 height:35px;
  border-radius:5px;
  /*padding:10px;*/
  align-items:center;
}