﻿body {
    height:100%;
}
.FirstLevelDiv{
    position: relative;
    top:-45px;
    height:20%;
}
/*#wrapParent
{
 height:5000px;
}*/
/*.panel-info
{    height:10%;
    width:100%;
    
    position:relative;
   
}*/
.panel-heading{
    height:70px;
    text-align:center
}

select{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 10px;
     font-weight:bold;
     text-align:right;
     /*position:relative;
     top:-30px;*/

}
.control-label{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 20px;
     font-weight:bold;
     text-align:right;
}
.inputFile
{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 20px;
     font-weight:bold;
     text-align:right;
}
.EditorStyle{
    font-family: 'Microsoft Sans Serif', Times;
     font-size: 15px;
     font-weight:bold;
     text-align:left;
     color:darkslategrey;
}
.menuStyle{
    
}
.radioStyle{
    
}

.cheboxStyle{

}
