﻿body {
}
.lblFontfamily {
  /*font-family: "Times New Roman", Times, serif;*/
    font-family: 'Microsoft Sans Serif', Times;

}

.lblFontsize {
  font-size: 20px;
}
.lblitalic {
  font-style: oblique;
}

lblThick {
    font-weight: bold;
}
