﻿@model GestionTitreFoncierApp.Models.Actes

@{
    ViewBag.Title = "Create";
}

<div class="alert-success modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Nouveau Acte</h4>
</div>
@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (TempData["message"] != null)
            {

                if (TempData["status"].ToString() == "Erreur")
                {
                    <div class="alert-message alert-message-warning">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>	<i class="glyphicon glyphicon-ok"></i> Erreur!</h4>
                        <p> <strong class="text-warning"> @TempData["message"]</strong></p>
                    </div>
                }
            }
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.idOperation)
            <div class="form-group">
                @Html.Label("Type Répresentant :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-5">


                    @Html.DropDownList("idTypeActeur", null, "------- Selectionnez --------", htmlAttributes: new { @class = "form-control" })


                </div>
            </div>

            <div class="form-group">
                @Html.Label("Nom du Répresentant :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.DropDownList("idActeur", null, "------- Selectionnez --------", htmlAttributes: new { @class = "form-control IDActeur" })
                    @Html.ValidationMessageFor(model => model.idActeur)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Type de l'acte :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.DropDownList("idTypeActe", null, "------- Selectionnez --------", htmlAttributes: new { id = "idTypeActe", @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.idTypeActe)
                </div>
            </div>

            <div class="form-group" id="numacte">
                @Html.Label("Numéro de l'acte :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.numacte, htmlAttributes: new { @class = "form-control", id = "numacteValue" })
                    @Html.ValidationMessageFor(model => model.numacte)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Date de l'acte :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.dateacte, htmlAttributes: new { @class = "form-control", type = "date", required = "required" })
                    @Html.ValidationMessageFor(model => model.dateacte)
                </div>
            </div>
            <!--/*modif par ikram-->
            <div class="form-group">
                 @Html.Label("Numéro ACP :", htmlAttributes: new { @class = "control-label col-md-4" })
                 <div class="col-md-5">
                      @Html.TextBoxFor(model => model.numacp, htmlAttributes: new { @class = "form-control", required = "required" })
                      @Html.ValidationMessageFor(model => model.numacp)
                 </div>
            </div>

            <div class="form-group">
                 @Html.Label("Date d'enregistrement :", htmlAttributes: new { @class = "control-label col-md-4" })
                 <div class="col-md-5">
                      @Html.TextBoxFor(model => model.dateacp, htmlAttributes: new { @class = "form-control", type = "date", required = "required"})
                      @Html.ValidationMessageFor(model => model.dateacp)
                 </div>
            </div>


            <div id="Subro" style="">
                <div class="form-group">
                    @Html.Label("Creancier :", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.DropDownList("Creancier", null, "------- Selectionnez --------", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessage("Creancier")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Montant :", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5">
                        @Html.TextBox("Montant", "", htmlAttributes: new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessage("Montant")
                    </div>
                </div>
            </div>



        </div>

    </div>
        <div class="alert-success modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Annuler</button>
            <input class="btn btn-primary" type="submit" value="Enregistrer" />
        </div>
}

       
<script type="text/javascript">
    $('#Subro').hide();
    $(document).ready(function () {
        $('#idTypeActeur').on('change', function () {
            //  var listid = '#' + $(this).attr('id') + '1';
            var v = document.getElementById('idTypeActeur').value;
            //var tp = $('input[name=typLieu]').val();
            var url = "/Operations/ListActeurs/";
            $.ajax({
                type: "POST",
                url: url,
                //url: url,
                data: { id: v },
                cache: false,
                success: function (data) {
                    if (data.length > 0) {
                        var markup = "<option value='0'> ---- Selectionnez ----- </option>";
                        for (var x = 0; x < data.length; x++) {
                            markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                        }
                        //document.getElementById('IDCreancier').disabled = false;
                        $(".IDActeur").html(markup).show();
                    }
                    else {
                        if (data = null || data.length == 0) {
                            var markup = "<option value='0'>Vide</option>";
                            //document.getElementById('communeId').disabled = true;

                            $(".IDActeur").html(markup).show();;
                            //document.getElementById('IDCreancier').disabled = true;
                        }
                    }
                },
                error: function (msg) {
                    alert($(this).id);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#idTypeActe').on('change', function () {
            var ves = document.getElementById('idTypeActe').value;
            if (ves == '1011') {
                //document.getElementById('Subro').style.visibility = 'visible';
                $('#Subro').show();
            }
            else {
                //document.getElementById('Subro').style.visibility = 'hidden';
                $('#Subro').hide();
            }
        });
    });
    if (document.getElementById('idTypeActe').value == '1017') {
        $('#numacte').hide();
        $('#numacteValue').prop('required', false);
    }
    else {
        $('#numacte').show();
        $('#numacteValue').prop('required', true);
    }
    $(document).ready(function () {
        $('#idTypeActe').on('change', function () {
            var kes = document.getElementById('idTypeActe').value;
            if (kes == '1017') {
                //document.getElementById('Subro').style.visibility = 'visible';
                $('#numacte').hide();
                $('#numacteValue').prop('required', false);
            }
            else {
                //document.getElementById('Subro').style.visibility = 'hidden';
                $('#numacte').show();
                $('#numacteValue').prop('required', true);
            }
        });
    });

    //ajout par ikram
   /* $(document).ready(function () {
        $('#idTypeActe').on('change', function () {
            var ges = document.getElementById('idTypeActe').value;
            if (ges == '1026') {
                //document.getElementById('Subro').style.visibility = 'visible';
                $('#numacp').hide();
                $('#numacpValue').prop('required', false);
            }
            else {
                //document.getElementById('Subro').style.visibility = 'hidden';
                $('#numacp').show();
                $('#numacpValue').prop('required', true);
            }
        });
    });*/


    //ajout par ikram
   /* $(document).ready(function () {
        $('#idTypeActe').on('change', function () {
            var tes = document.getElementById('idTypeActe').value;
            if (tes == '1026') {
                //document.getElementById('Subro').style.visibility = 'visible';
                $('#dateacp').hide();
                $('#dateacpValue').prop('required', false);
            }
            else {
                //document.getElementById('Subro').style.visibility = 'hidden';
                $('#dateacp').show();
                $('#dateacpValue').prop('required', true);
            }
        });
    });*/



</script>

