﻿@model GestionTitreFoncierApp.Models.Actes

@{
    ViewBag.Title = "Delete";
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title" id="myModalLabel">Etes vous sûre de vouloir supprimer cet Acte ?</h3>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

       
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.numacte)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.numacte)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dateacte)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dateacte)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.numacp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.numacp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.dateacp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dateacp)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.datecreation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.datecreation)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.datemodification)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.datemodification)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TypeActes.nomacte)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TypeActes.nomacte)
                </dd>

            </dl>



        </div>
        <div class="modal-footer">
            <button class="btn" type="button" data-dismiss="modal">Annuler</button>
            <input class="btn btn-primary" type="submit" value="Supprimer" />
        </div>
        }

