﻿@using GestionTitreFoncierApp.Helpers
@model IEnumerable<GestionTitreFoncierApp.Models.Actes>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#97cfcb;">
        <h2 class="panel-title" style="text-align:center;"><strong><b> Acte(s) </b></strong></h2>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <th>
                    @Html.DisplayName("Répresentant")
                </th>
                <th>
                    @Html.DisplayName("Nom du Répresentant")
                </th>

                <th>
                    @Html.DisplayName("Type de l'acte")
                </th>
                <th>
                    @Html.DisplayName("Numéro de l'acte")
                </th>
                <th>
                    @Html.DisplayName("Date de l'acte")
                </th>
                <th>
                    @*@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-zoom-in'> Consulter les Details</span>", "Consulter les Details", "Details", "Operations", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "modalActe btn btn-default" })*@
                </th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acteurs.TypeActeur.libelle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Acteurs.nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeActes.nomacte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numacte)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dateacte)
                    </td>
                    <td>
                        <div class="pull-right">
                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Détails </span>", "Details", "Details", "Actes", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = "modalActe btn btn-default" })

                        </div>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        @: <div class="text-muted">&nbsp;Cette Opération ne contient aucun Acte</div>
    }
</div>

<script type="text/javascript">


        $(function () {
            $.ajaxSetup({ cache: false });

            $(".modalActe").on("click", function (e) {
               // alert(" PAGE ACTES");
                // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
                //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

                $('#saadModalContent').load(this.href, function () {
                   // alert(" saadModalContent load");
                    $('#saadModal').modal({
                        /*backdrop: 'static',*/
                        keyboard: true
                    }, 'show');
                   // alert(" saadModalContent apres show");
                    bindForm(this);
                });
                return false;
            });

            $("#idTypeActeur").on("change", function (e) {
                alert(" CHOIX ACTEUR");
                var select = $("#idTypeActeur");
                var url = "/Actes/ChoixTypeActeur/";

                select.empty();
                $.ajax({
                    type: "POST",
                    url: url,
                    cache: false,
                    data: false,
                    success: function (data) {
                        if (data.length > 0) {
                            var markup = "<option value='0'> ---- Selectionnez ----- </option>";
                            for (var x = 0; x < data.length; x++) {
                                markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                            }
                            $("#idTypeActeur").html(markup).show();
                        }
                    },
                    error: function (reponse) {
                        alert("error : " + reponse);
                    }

                });
            });
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
               // alert(" bindForm form");
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            //alert(" bindForm form saadModalContent succes");
                            $('#saadModal').modal('hide');
                            $('#replaceactes').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                        } else {
                           // alert(" bindForm form saadModalContent echec");
                            $('#saadModalContent').html(result);
                            bindForm(dialog);
                        }
                    }
                });
                return false;
            });
        }
</script>