﻿@model IEnumerable<GestionTitreFoncierApp.Models.DriversMapped>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="~/css/IndexinfoLableStyle.css" rel="stylesheet" />
<script type="text/javascript" language="javascript">

    function btnfunc(id, optyp) {

        if (optyp == 'details') {
            var url = '@Url.Action("details", "DriversMappeds")?id=' + id;
            $('#right_col1').load(url);
        }
        else if (optyp == 'edit') {
            //alert("yes");
            @*var url = '@Url.Action("DeleteConfirmed", "tfs")?id=' + id;*@
            //var url = "/tfs/Edit/";
            var url = "/DriversMappeds/Edit?id=" + id;
            window.location.href = url;
            $.ajax({
                type: "get",
                url: url,
                data: { id: id },
                success: function (data) {
                    if (data == true) {


                    }
                },
                error: function (msg) {
                    alert($(this).id);
                }
            });
        }
        //else if(optyp=='delete')
        //{
        @*var url = '@Url.Action("DeleteConfirmed", "tfs")?id=' + id;*@
        //var url = "/tfs/DirectDelete/";
        //    $.ajax({
        //        type: "POST",
        //        url: url,
        //        data: { id: id },
        //        success: function (data) {
        //            if (data==true ) {
        //            //    alert("ce numerotf est déjà existant");
        //            //    $('#numerotf').css('background', 'pink');
        //            //    return false;
        //            //}
        //            //else {
        //            }
        //        },
        //        error: function (msg) {
        //            alert($(this).id);
        //        }
        //    });
        //}
    }
</script>
@*<div id="Divcontainer" style="height:auto;border:thin">
    <div id="left_col" style="float:left;width:auto;height:auto;border:inset;margin-right:auto">
        <div style="font-family:Arial">*@
<div class="panel panel-warning" style="overflow:scroll;float:left;width:100%;height:100%;background-color:white">
    @*<div class="panel-heading"><left><h3><b>Modifier un  Location</b></h3></left></div>*@
    <div class="panel-body" style="height:100%;width:100%;background-color:whitesmoke">
        <h2>Liste des serveurs</h2>
        <p>


            <a href="/DriversMappeds/create" class="btn btn-success btn-xs">
                <span class="glyphicon glyphicon-plus"></span> Créer un nouveau
            </a>

        </p>
      


        <table class="table table-striped">
            <thead>
                <tr class="warning">
                    <th>
                        @Html.DisplayName("IP address")
                    </th>
                    <th>
                        @Html.DisplayName("Nom d'utilisateur")
                    </th>
                    @*<th>
                        @Html.DisplayName("Mot de passe")
                    </th>*@
                   
                    <th>
                        @Html.DisplayName("Chemin partagé")
                    </th>
                    <th>
                        @Html.DisplayName("Disponibilité")
                    </th>
                    
                    @*<th>
                        @Html.DisplayName("Actif")
                    </th>*@
                    <th style="text-align:center">Opération</th>
                </tr>
            </thead>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td colspan="4">
                        No records match search criteria
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Domian)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.username)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>*@
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Drive)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.SharedPath)
                        </td>
                        @*<td id="@item.id">
                            @*<script>
                               var serverid =@item.id;
                               var url = "/DriversMappeds/testServer/";
                               var isavialbe = $.ajax({
                                   type: "Post",
                                   url: url,
                                   data: { serverID: serverid },
                                   async: false,
                                   success: function (data) {


                                   },
                                   error: function (msg) {
                                       // return false;
                                   }
                               }).responseText;
                                var tdid='#'+@item.id;

                               if(isavialbe=="True")
                               {
                                  // alert(isavialbe);
                                   $(tdid).html("Online");
                               }
                               else
                               {
                                   //alert(isavialbe);
                                  $(tdid).html("Offline");
                               }
                            </script>
                        </td>*@
                            
                   
                        <td>
                            <text>Oui</text>
                            @*@{
                                var actf = item.IsActive;
                                if (actf == true)
                                {
                                    <text>Oui</text>
                                }
                                else
                                {
                                    <text>Non</text>
                                }
                            }*@
                        </td>

                        



                      
                        <td>
                            @*<input class="btn-xs btn btn-info" id='btn' type='button' onclick='btnfunc(@item.id,"details")' value='Détails'>*@
                            @*<input class="btn-xs btn btn-info" id='btnsupr' type='button' onclick='btnfunc(@item.id,"delete")' value='Suprimer'>*@
                            <input class="btn-xs btn btn-warning" id='btnEdit' type='button' onclick='btnfunc(@item.id,"edit")' value='Modifier'>
                        </td>
                    </tr>
                                    }
                                }
        </table>
        @*</div>

                </div>
                <div id="right_col1" class="form-inline" style="float:unset;width:105%;height:auto;border:inset">


                </div>
            </div>*@

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
