﻿@using GestionTitreFoncierApp.Helpers
@model IEnumerable<GestionTitreFoncierApp.Models.Historiques>


@if (Model.Count() > 0)
{
<div class="panel panel-default Pan">
    <div class="panel-heading" style="background-color:#e4e4e4;">
        <h3 class="panel-title" style="color:#000000;">
            <b class="col-md-offset-5">  </b>
        </h3>
        <span class="pull-right clickables"><i id="ii" class="glyphicon glyphicon-chevron-down shev"></i></span>
    </div>

    <div class="panel-body bod">
       
            <div class="table-responsive">
                <table class="table table-bordered" id="example">
                    <thead style="">
                        <tr>
                            <th>
                                @Html.DisplayName("Actions")
                            </th>
                            <th>
                                @Html.DisplayName("Elements")
                            </th>
                            <th>
                                @Html.DisplayName("Date")
                            </th>

                            <th>
                                @Html.DisplayName("Description")
                            </th>
                            <th>
                                @Html.DisplayName("Utilisateurs")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                {

                            <tr>

                                <td>
                                    @if (item.ActionName == "Validation")
                                    {
                                        <b style="color:#45af40;">@Html.DisplayFor(modelItem => item.ActionName)</b>
                                    }
                                    else if (item.ActionName == "Annulation")
                                    {
                                        <b style="color:#ff0000;">@Html.DisplayFor(modelItem => item.ActionName)</b>
                                    }
                                    else
                                    {
                                        <b style="color:#000000;">@Html.DisplayFor(modelItem => item.ActionName)</b>
                                    }
                                </td>
                                <td>
                                    <b> @Html.DisplayFor(modelItem => item.Operations):</b>  @Html.DisplayFor(modelItem => item.TypesOperations)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateActions)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descriptions)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.utilisateur.nom)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        

    </div>
</div>
}
else
{
    @:
    <div class="text-muted" style="text-align:center">&nbsp;Aucune action n'est enregistré à ce TF</div>
}