﻿@model GestionTitreFoncierApp.Models.TF_Cooproprietes
@{
    ViewBag.Title = "Create";
}

<div class="alert-success modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Nouveau Cooproprietaire</h4>
</div>
@using (Html.BeginForm())
{
    <div class="modal-body">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (TempData["message"] != null)
            {

                if (TempData["status"].ToString() == "Erreur")
                {
                    <div class="alert-message alert-message-warning">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>	<i class="glyphicon glyphicon-ok"></i> Erreur!</h4>
                        <p> <strong class="text-warning"> @TempData["message"]</strong></p>
                    </div>
                }
            }
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID_TF)
            <div class="form-group">
                @Html.Label("N° Lot :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.N_Lot, htmlAttributes: new { @class = "form-control", required = "required",type="number" })
                    @Html.ValidationMessageFor(model => model.N_Lot)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Nom du Proprietaire :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.Noms_Proprios, htmlAttributes: new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Noms_Proprios)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Superficie :", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Superficie, htmlAttributes: new { @class = "form-control", required = "required", type = "number" })
                </div>
                      <div class="col-md-3">
                        @Html.DropDownList("ID_unites", null, htmlAttributes: new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.N_Lot)
                    </div>
            </div>

            <div class="form-group">
                @Html.Label("Valeur du lot (en FDJ):", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-5">
                    @Html.TextBoxFor(model => model.Valeur, htmlAttributes: new { @class = "form-control", required = "required", type = "number" })
                    @Html.ValidationMessageFor(model => model.Valeur)
                </div>
            </div>

            


        </div>

    </div>
    <div class="alert-success modal-footer">
        <button class="btn" type="button" data-dismiss="modal">Annuler</button>
        <input class="btn btn-primary" type="submit" value="Enregistrer" />
    </div>
}
