﻿@model GestionTitreFoncierApp.Models.tf

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numerotf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerotf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomrepertoire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomrepertoire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.complet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.complet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numacp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numacp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valeurterrain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valeurterrain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valeurterrainconstruit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valeurterrainconstruit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estbati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estbati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cheminimage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cheminimage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeropiece)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeropiece)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numerolot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numerolot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nomillot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomillot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estillot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estillot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeoperation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeoperation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeliaison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeliaison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usercreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usercreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usermodified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usermodified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.superficie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.superficie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgindex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgindex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.piecejustificative.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.piecejustificative.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quartier.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quartier.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typelieu1.libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typelieu1.libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typetf1.libell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typetf1.libell)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
