﻿@using GestionTitreFoncierApp.Helpers
@model GestionTitreFoncierApp.Models.TFSViewModel
@{
    ViewBag.Title = "DetailsTFS";
}

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<script>
    var indeximage = 0;
    var lstSelectedtextvalue;
    var fielcount;
</script>

<script type="text/javascript" language="javascript">

    $(document).ready(function() {
        $('#detail').hide();
        $('.toggle').click(function() {
            $input = $( this );
            $target = $('#'+$input.attr('data-toggle'));
            $target.slideToggle();
        });
    });

    $(document).ready(function () {
        $('#action').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                success: function (html) {
                    // $('#dividtarget').html(html);
                }
            });
        });
    });



    function btnfunc1() {

        var imgpath =@Model.numerotf;
        var pathofimagefromftp = getimagepath(imgpath).toString();
        var url = "/tfs/imageviewer/";
        $.ajax({
            url: url,
            data: { pathofimg1: pathofimagefromftp, imgnvaindex: 1, typview: 2, numerotf: imgpath },
            success: function (data) {
                $("#myModal").find(".modal-body").html(data);
                $("#myModal").modal({ backdrop: true });
                $('.modal-header').html('<p><h1 style=text-align:center;font-size:24px;align:center><b>Images des TF</b></h1><button type="button" class="close btn-danger btn-lg" onclick="clearcontents()">&times;</button></p>');
                $('#myModal').modal('show');

            }
        });
    }
    function btnfctAnnuler() {

        var idtf =@Model.id;
        var url = "/tfs/AnnulerTF/";
        $.ajax({
            url: url,
            data: { id:idtf},
            success:location.reload(),


        });
    }

    function clearcontents()
    {
        $('#myModal').modal('hide');
    }



    function getimagepath(numerotf) {
        //  var numerotf = $('#numerotf').val();
        var url = "/tfs/returnimagepath/";
        var returnedresult = $.ajax({
            type: "Post",
            url: url,
            data: { imagepathcritera: numerotf, imageindex: 1 },
            async: false,
            success: function (data) {
                return data;

            },
            error: function (msg) {
                // return false;
            }
        }).responseText;
        return (returnedresult);
    }
    function update(chem) {
        $("#myModal3").modal({ backdrop: "static" });

    }

</script>
@*<script type="text/javascript" language="javascript">
        $(document).ready(function () {



            $('#DivPros').append(radioPhysic); $('#DivPros').append(radioMoral); $('#DivPros').append(addbttn);
        });
    </script>*@

@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

<!--

    Modal -->
<div id="myModal" class="modal fade" role="dialog" style="height:100%;width:100%">
    <div class="modal-dialog" style="height:47%;width:47%">

        <!-- Modal content-->
        <div class="modal-content" style="overflow:scroll">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@

            </div>
            <div class="modal-body">

            </div>
        </div>

    </div>
</div>




<div class="row col-md-offset-1" style="margin-top:50px;margin-right:10px;margin-bottom:80px;">
    <div class="col-md-10">
        <div class="panel panel-info">

            <div class="panel panel-info" style="margin-bottom:0px;">

                @if (ViewBag.Yes == 1)
            {
                    <img src="~/Images/Hypothéqué.jpg" class="col-md-offset-4" />
                }
                <div class="panel-heading">
                    <p style="position:relative;font-weight:bold;font-size: 30px;text-align:center;">
                        TF N° @Html.DisplayFor(model => model.numerotf)
                        @if (ViewBag.Promesse == 1)
                        {
                            <b style="color:white;background-color:red;font-size: 16px;text-align:right;font-family:'Baskerville Old Face'">En promesse de vente</b>
                        }
                    </p>
                </div>

                <div class="panel-body" style="">
                    <dl class="dl-horizontal" style="">
                        <div class="col-md-4">
                            Immatriculation <hr />
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.numerotf)</dt>
                            <dd class="lblInfoFontStyle">@Html.DisplayFor(model => model.numerotf)</dd>
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.datetf)</dt>

                            @if (Model.datetf != null)
                            {
                                <dd class="lblInfoFontStyle">@Html.DisplayFor(model => model.datetf)</dd>
                            }
                            else
                            {
                                <dd class="lblInfoFontStyle"></dd>

                            }
                            @*<dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.numacp)</dt>
                                <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.numacp)</dd>*@
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.typetf)</dt>
                            <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.typetf1.libell)</dd>
                            @*<dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.PIECEJUSTIFICATIVE_id)</dt>
                                <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.piecejustificative.libelle)</dd>*@
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.superficie)</dt>
                            <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.superficie)&nbsp;@Html.DisplayFor(model => model.Unites_Surface.Libelle) </dd>
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.valeurterrain)</dt>
                            <dd class="lblInfoFontStyle">
                                @if (Model.valeurterrain != null)
                                {
                                    @Html.DisplayFor(model => model.valeurterrain)<sup>FDJ</sup>
                                }
                            </dd>
                            <dt class="lblFontStyle">  @Html.DisplayName("Terrain bâti:")</dt>
                            @if (Model.estbati == true)
                            {
                                <dd class="lblInfoFontStyle">Oui</dd>

                            }
                            else
                            {
                                <dd class="lblInfoFontStyle">Non</dd>
                            }
                            @*<dt class="lblFontStyle">  @Html.DisplayName("Date d'operation:")</dt>
                                <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.DateOperation)</dd>*@
                            @*if (mode(x => x.typeproprietaire == 1))*@

                        </div>
                        <div class="col-md-4">
                            Localisation  <hr />

                            <dt class="lblFontStyle">  @Html.DisplayName("Région:")</dt>
                            <dd class="lblInfoFontStyle">@Html.DisplayFor(model => model.quartier.Ville.libelle)</dd>
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.typelieu)</dt>
                            @if (Model.typelieu == 1)
                            {

                                <dd class="lblInfoFontStyle">Quartier</dd>
                            }
                            else
                            {
                                <dd class="lblInfoFontStyle">Lotissement</dd>
                            }

                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.idquartier)</dt>
                            <dd class="lblInfoFontStyle">@Html.DisplayFor(model => model.quartier.libelle)</dd>
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.estillot)</dt>

                            @if (Model.estillot == true)
                            {
                                <dd class="lblInfoFontStyle">Oui</dd>

                            }
                            else
                            {
                                <dd class="lblInfoFontStyle">Non</dd>
                            }
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.nomillot)</dt>
                            <dd class="lblInfoFontStyle"> &nbsp;@Html.DisplayFor(model => model.nomillot)</dd>
                            <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.numerolot)</dt>
                            <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.numerolot)</dd>

                        </div>
                        <div class="col-md-4" style="text-align:center;">
                            Nouvelle Opération <hr />
                            <div class="" style="margin-top:10px;padding:0; text-align:center;margin-left:15px;">
                                @if (User.IsInRole("Creer Hypotheque") || User.IsInRole("Creer Mutation") || User.IsInRole("Special"))
                                {
                                    if ((Model.Actif == null) || (Model.Actif == true))
                                    {
                                        <div class="form-group">
                                            @*@if (ViewBag.Yes == 1)
                                            {

                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-folder-close'> Mutation </span>", "Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-default col-md-11", disabled = "disabled", @style = "margin-right:04px;" })

                                            }
                                            else
                                            {*@
                                                @if (User.IsInRole("Creer Mutation") || User.IsInRole("Special"))
                                                {

                                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-folder-close'> Mutation </span>", "Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-info col-md-11", @style = "margin-right:04px;" })
                                                }
                                                else
                                                {
                                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-folder-close'> Mutation </span>", "Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-default col-md-11", disabled = "disabled", @style = "margin-right:04px;" })

                                                }
                                            @*}*@
                                        </div>
                                        <div class="form-group" style="margin-bottom:15px;">
                                            @if (User.IsInRole("Creer Hypotheque") || User.IsInRole("Special"))
                                            {
                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-file'> Hypothèque </span>", "Hypothèque", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-info col-md-11 ", @style = "margin-right:04px;" })
                                            }
                                            else
                                            {
                                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-file'> Hypothèque </span>", "Hypothèque", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-11 ", disabled = "disabled", @style = "margin-right:04px;" })

                                            }
                                        </div>
                                        <div class="form-group">

                                            <button type="button" class="btn btn-info  col-md-11" style="margin-right:04px;" data-toggle="modal" data-target="#myModall"> <span class='glyphicon glyphicon-folder-open'> Autres Operations </span></button>

                                        </div>

                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-transfer'> Mutation </span>", "Ajouter Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-default col-md-10", disabled = "disabled", @style = "margin-right:04px;" })
                                        </div>
                                        <div class="form-group">
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-file'> Hypothèque </span>", "Hypothèque", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-10", disabled = "disabled", @style = "margin-right:04px;" })
                                        </div>
                                            <div class="form-group">

                                                <button type="button" class="btn btn-info col-md-11" style="margin-right:04px;" data-toggle="modal" data-target="#myModall" disabled> <span class='glyphicon glyphicon-folder-open'> Autres Operations </span></button>

                                            </div>



                                    }
                                }
                                else
                                {
                                    <div class="form-group">
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-transfer'> Mutation </span>", "Ajouter Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-default col-md-11", disabled = "disabled", @style = "margin-right:04px;" })
                                    </div>
                                    <div class="form-group">
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-file'> Hypothèque </span>", "Hypothèque", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-11", disabled = "disabled", @style = "margin-right:04px;" })
                                    </div>
                                            <div class="form-group">

                                                <button type="button" class="btn btn-info col-md-11" style="margin-right:04px;" data-toggle="modal" data-target="#myModall" disabled> <span class='glyphicon glyphicon-folder-open'> Autres Operations </span></button>

                                            </div>
                                }


                            </div>

                        </div>
                    </dl>
                </div>
                <div class="panel-footer">

                    <p class="col-md-offset-3">
                        @if (User.IsInRole("Consultation Images") || User.IsInRole("Special"))
                        {
                            <button type="button" class="btn btn-success " onclick="btnfunc1()">
                                <span class="glyphicon glyphicon-picture"></span> Consulter les images
                            </button>
                        }

                        @if (User.IsInRole("Creer Hypotheque") || User.IsInRole("Creer Mutation") || User.IsInRole("Special"))
                        {
                            <a href="/tfs/edit?id=@Html.Raw(Model.id)" class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>  Mettre à jour ce TF
                            </a>
                        }
                        @if (User.IsInRole("Annuler TF"))
                        {
                            if (Model.Actif == true)
                            {
                                <button type="button" class="btn btn-danger " onclick="btnfctAnnuler()">
                                    <span class="glyphicon glyphicon-off"></span> Annuler ce TF
                                </button>
                            }
                            @*@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-off'>  Annuler le TF</span>", "Annuler ce TF", "Annulation", "tfs", routeValues: new { id = Model.id }, htmlAttributes: new { data_modal = "", @class = "modalActe btn btn-danger" })*@
                        }
                        @*@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-file'> Imprimer la fiche de renseignement </span>", "Imprimer la fiche de renseignement", "EtatReports", "Reportings", routeValues: new {id=Model.id  }, htmlAttributes: new { data_modal = "", @class = "btn btn-default" })*@




                    </p>
                    <script>
                        $(document).ready(function(){
                            $("#myBtn3").click(function(){
                                $("#myModal3").modal({backdrop: "static"});
                            });
                        });
                    </script>
                </div>

            </div>
            <div class="panel panel-info" style="margin-bottom:0px;">
                <div class="panel-heading">
                    <p style="font-weight:bold;font-size: 17px;text-align:center;">Propriétaire(s)</p>
                </div>
                <div class="panel-body " style="">

                    <div style="padding-top:5px;">


                        @foreach (var item in Model.proprietaires)
                        {



                            if (item.typeproprietaire == 1)
                            {
                                var nom = item.prenom + " " + item.nome2 + " " + item.nom3;
                                <ul>
                                    <center> <b style="font-size:18px;">  @(Html.Raw((nom)))</b></center>
                                </ul>


                            }
                            else
                            {
                                var nom = item.nomestablishment;
                                <ul>

                                    <center> <b style="font-size:18px;">  @(Html.Raw((nom)))</b></center>
                                </ul>

                            }




                        }



                    </div>
                </div>
            </div>
            <div class="panel panel-info" style="">
                <div class="panel-heading" style="text-align:center;">
                    <p style="font-weight:bold;font-size:17px">Reglement de Coopropriété</p>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal" style=""></dl>
                    <div class="col-md-12" id="ListCoops">
                        @{ Html.RenderAction("List_Coopropriete", "tfs", new { id = Model.id }); }
                    </div>
                </div>
            </div>
            <div class="panel panel-info" style="">

                <div class="panel-heading" style="text-align:center;">
                    <p style="font-weight:bold;font-size:17px">Opération(s)</p>
                </div>
                <div class="panel-body">

                    <dl class="dl-horizontal" style=""></dl>
                    <div class="col-md-12">
                        @{ Html.RenderAction("List", "Operations", new { id = Model.id }); }
                    </div>
                </div>
            </div>
            <div class="panel panel-info" style="">
                <div class="panel-heading" style="text-align:center;">
                    <p style="font-weight:bold;font-size:17px">Historique(s)</p>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal" style=""></dl>
                    <div class="col-md-12">
                        @{ Html.RenderAction("HistoriquesTF", "Historiques", new { id = Model.id }); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModall" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div class="modal-content" style="background-color: rgba(0,0,0,.0001) !important;">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;color:white;font:bold 22px arial;"> Autres Opérations </h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" style="">
                    @*<div class="col-md-4" style="text-align:center;">*@

                    <div class="" style="margin-top:10px;padding:0px;text-align:center;margin-bottom:15px;margin-left:45px;">
                        @if (User.IsInRole("Creer Hypotheque") || User.IsInRole("Creer Mutation") || User.IsInRole("Special"))
                        {
                            if ((Model.Actif == null) || (Model.Actif == true))
                            {
                                <div class="form-group">

                                    @if (ViewBag.Yes == 1)
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-globe'> Concession définitive </span>", "TF définitif", "Create", "TFDefinitifs", new { id = @Html.DisplayFor(model => model.id) }, new { @class = "btn btn-default col-md-11 ", @style = "margin-right:04px;", disabled = "disabled" })

                                    }
                                    else
                                    {
                                        if (Model.typetf != 1)
                                        {
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-globe'> Concession définitive </span>", "TF définitif", "Create", "TFDefinitifs", new { id = @Html.DisplayFor(model => model.id) }, new { @class = "btn btn-info col-md-11", @style = "margin-right:04px;" })
                                        }
                                        else
                                        {
                                            @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-globe'> Concession définitive</span>", "TF définitif", "Create", "TFDefinitifs", new { id = @Html.DisplayFor(model => model.id) }, new { @class = "btn btn-default col-md-11", @style = "margin-right:04px;", disabled = "disabled" })

                                        }
                                    }

                                    @if (ViewBag.Yes == 1)
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-resize-small'> Fusion  </span>", "Ajouter Fusion", "Create", "Fusions", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-11", disabled = "disabled", @style = "margin-right:04px;" })

                                    }
                                    else
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-resize-small'> Fusion  </span>", "Ajouter Fusion", "Create", "Fusions", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-info col-md-11", @style = "margin-right:04px;" })
                                    }
                                    @if (ViewBag.Yes == 1)
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-resize-full'> Distraction </span>", "Ajouter Distraction", "Create", "Distractions", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-11", disabled = "disabled", @style = "margin-right:04px;" })

                                    }
                                    else
                                    {
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-resize-full'> Distraction </span>", "Ajouter Distraction", "Create", "Distractions", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-info col-md-11", @style = "margin-right:04px;" })
                                    }
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-flag'> Rectification de superficie </span>", "Ajouter Rectification superficie", "Create", "AutresOperations", new { id = @Html.DisplayFor(model => model.id), idop = 6, idTypeop = 19 }, new { @class = "btn btn-info col-md-11", @style = "margin-right:04px;" })
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-retweet'> Réevaluation de valeur</span>", "Ajouter Réevaluation de valeur", "Create", "AutresOperations", new { id = @Html.DisplayFor(model => model.id), idop = 6, idTypeop = 18 }, new { @class = "btn btn-info col-md-11", @style = "margin-right:04px;" })
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'> Incorporation </span>", "Ajouter Incorporation", "Create", "AutresOperations", new { id = @Html.DisplayFor(model => model.id), idop = 6, idTypeop = 16 }, new { @class = "btn btn-info col-md-11", @style = "margin-right:04px;" })








                                </div>

                            }
                            else
                            {
                                <div class="form-group">
                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-globe'> Concession définitive </span>", "Rendre Difinitive", "Create", "TFDefinitifs", new { id = @Html.DisplayFor(model => model.id) }, new { @class = "btn btn-default col-md-10", @style = "margin-right:04px;", disabled = "disabled" })

                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-import'> Fusion  </span>", "Ajouter Fusion", "Create", "Fusions", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-10", @style = "margin-right:04px;", disabled = "disabled" })

                                    @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-export'> Distraction </span>", "Ajouter Distraction", "Create", "Distractions", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-10", @style = "margin-right:04px;", disabled = "disabled" })

                                </div>

                            }

                        }
                        else
                        {
                            <div class="form-group">
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-globe'> Concession définitive </span>", "Rendre Difinitive", "Create", "TFDefinitifs", new { id = @Html.DisplayFor(model => model.id) }, new { @class = "btn btn-default col-md-11", @style = "margin-right:04px;", disabled = "disabled" })

                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-export'> Distraction </span>", "Ajouter Distraction", "Create", "Distractions", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-11", @style = "margin-right:04px;", disabled = "disabled" })

                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-import'> Fusion  </span>", "Ajouter Fusion", "Create", "Fusions", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default col-md-11", @style = "margin-right:04px;", disabled = "disabled" })
                            </div>

                        }
                    </div>
                </div>
                @*<div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>*@
            </div>

        </div>
    </div>
</div>
@*</div>*@

