﻿@model GestionTitreFoncierApp.Models.TFSViewModel

@{
    ViewBag.Title = "Ajouter nouveau TF";
}
@{
    Layout = null;
}
<script src="@Url.Content("~/Scripts/jquery.jquery-1.5.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

<script>
    var indeximage = 0;
    var lstSelectedtextvalue;
    var fielcount;
</script>

<script type="text/javascript" language="javascript">

    $(document).ready(function() {
        $('#detail').hide();
        $('.toggle').click(function() {
            $input = $( this );
            $target = $('#'+$input.attr('data-toggle'));
            $target.slideToggle();
        });
    });

    $(document).ready(function () {
        $('#action').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                success: function (html) {
                    // $('#dividtarget').html(html);
                }
            });
        });
    });

    @*$(document).ready(function () {
        $('.lienmut').on('click', function(){
        var url = '@Url.Action("Create", "Mutations", new { id = @Html.DisplayFor(model => model.id , idmut = "---") })';
            url = url.replace("---", $('#TypeMutation').val());
        window.location = url;
    });
    });*@
    function btnfunc1() {
       
        var imgpath =@Model.numerotf;
        var pathofimagefromftp = getimagepath(imgpath).toString();
            var url = "/tfs/imageviewer/";
            $.ajax({
                url: url,
                data: { pathofimg1: pathofimagefromftp, imgnvaindex: 1, typview: 2, numerotf: imgpath },
                success: function (data) {
                    //$("#myModal").find(".modal-body").html("");
                    //$("#myModal").find(".modal-header").html("");
                    // $("#myModal").html("");
                   // $("#myModal").html("");
                   
                      
                    $("#myModal").find(".modal-body").html(data);
                    $("#myModal").modal({ backdrop: true });
                    $('.modal-header').html('<p><button type="button" class="btn btn-default btn-sm" onclick="reset()"><span class="glyphicon glyphicon-align-justify"></span></button><h1 style=text-align:center;font-size:24px;align:center><b>Images des TF</b></h1><button type="button" class="close btn-danger btn-lg" onclick="clearcontents()">&times;</button></p>');
                    $('#myModal').modal('show');
                   
                }
               
               

                
            });
            //$("#imp").css("background-color", "white");
        //$("#numerotf").val(imgpath);

        //    alert("test")
    }


    function clearcontents()
    {
        // $("#myModal").find(".modal-body,.modal-body,select").val('').end();
      //  $('#myModal').data('bs.modal', null);
        //$('#myModal').modal('toggle');
        //$('#myModal').removeClass('show');
        $('#myModal').modal('hide');
        

       // $("#myModal").html("");
        //$("#myModal").find(".modal-body").html("");
        //$("#myModal").find(".modal-dialog").html("");
        //$("#myModal").find(".modal-content").html("");
       // $("#myModal").find(".modal-dialog").html("");


    }
    

    
    function getimagepath(numerotf) {
        //  var numerotf = $('#numerotf').val();
        var url = "/tfs/returnimagepath/";
        var returnedresult = $.ajax({
            type: "Post",
            url: url,
            data: { imagepathcritera: numerotf, imageindex: 1 },
            async: false,
            success: function (data) {
                return data;

            },
            error: function (msg) {
                // return false;
            }
        }).responseText;
        return (returnedresult);
    }
    function update(chem) {
        $("#myModal3").modal({ backdrop: "static" });
      //  var idpro = '#' + idp;
      //  $(idpro).prop('disabled', false);
        @*var url = "/tfs/imageviewer?pathofimg1=" + @(Html.Raw(Json.Encode(Model.cheminimage))) + "&imgnvaindex="+0;
     
        // var url = "/tfs/tes";
        $.ajax({
            type: "get",
            url: url,
            success: function (data) {

                $(".modal-body").html(data);
                $("#myModal3").modal({ backdrop: "static" });
                $(".modal-header").html("");
                //$(".modal-header").append("<div class='Container' <h1 style='text-align:center;font-size:24px;align:center'><b>Ajouter un nouveau TF</b></h1><button style='float:right' type='button' class='btn btn-info btn-xs' data-dismiss='modal'>Fermer</button></div>");
                $(".modal-header").append("<div class='Container' <h1 style='text-align:center;font-size:24px;align:center'><b>Modifier un propriétaire</b></h1></div>");

            },
            error: function (msg) {
            }
        })*@




        //var idpro = '#' + idp;
        //$(idpro).prop('disabled', false);
        //var url = "/proprietaires/edit?id=" + idp;
        //// var url = "/tfs/tes";
        //$.ajax({
        //    type: "get",
        //    url: url,
        //    success: function (data) {

        //        $(".modal-body").html(data);
        //        $("#myModal3").modal({ backdrop: "static" });
        //        $(".modal-header").html("");
        //        //$(".modal-header").append("<div class='Container' <h1 style='text-align:center;font-size:24px;align:center'><b>Ajouter un nouveau TF</b></h1><button style='float:right' type='button' class='btn btn-info btn-xs' data-dismiss='modal'>Fermer</button></div>");
        //        $(".modal-header").append("<div class='Container' <h1 style='text-align:center;font-size:24px;align:center'><b>Modifier un propriétaire</b></h1></div>");

        //    },
        //    error: function (msg) {
        //    }
        //})
    }
   
    function choixTypeMut()
    {
        alert('Debut Fonction');
        var url = '@Url.Action("ChoixTypeMut", "Mutations")';
        var nvid= $("#divIdTypeMut");
        var idtypemut= $("#TypeMutation").val();

        $.getJSON(url, { idtype: idtypemut}, function (response) {
            nvid.empty();
            debugger;
            $.each(response, function (index, item) {
                debugger;
                var p = new Option(item.Text, item.Value);
                nvid.append(p);
            });
        });

        alert('Fin Fonction');
    }
</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
       
            
        
        $('#DivPros').append(radioPhysic); $('#DivPros').append(radioMoral); $('#DivPros').append(addbttn);
    });
</script>

@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

<!-- 
    
    Modal -->
<div id="myModal" class="modal fade" role="dialog" style="height:100%;width:100%">
    <div class="modal-dialog" style="height:47%;width:47%">

        <!-- Modal content-->
        <div class="modal-content" style="overflow:scroll">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@

            </div>
            <div class="modal-body">
            </div>
        </div>

    </div>
</div>

 


<div id="wrap888" style="width:100%;height:100%;border:inset">
    <div class="panel panel-info" style="overflow:scroll;float:left;width:100%;height:100%;">

        <div class="panel panel-info" style="float:left;width:120%;height:100%;">
            @if (ViewBag.Yes == 1)
            {
                <img src="~/Images/Hypothéqué.jpg" class="col-md-offset-2" />
            }
            <div class="panel-heading">
                <p style="position:relative;font-weight:bold;font-size: 17px">Principale Information</p>
            </div>
            <div class="panel-body container-inner" style="height:25%;width:100%">
                <dl class="dl-horizontal" style="float:left">
                    Immatricule <hr />
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.numerotf)</dt>
                    <dd class="lblInfoFontStyle">@Html.DisplayFor(model => model.numerotf)</dd>
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.datetf)</dt>
                    
                    @if (Model.datetf != null)
                    {
                        <dd class="lblInfoFontStyle">@Html.DisplayFor(model => model.datetf)</dd>
                    }
                    else
                    {
                        <dd class="lblInfoFontStyle"></dd>

                    }
                </dl>
                <br /><br />
                <div class="form-inline" style="float:left">
                    @*<input style="float:left" class="btn-xs btn btn-info" id='btn' type='button'  onclick='btnfunc1(@Html.Raw(Json.Encode(Model.id)),"img")' value='Image'>*@
                    @*<input style="float:left" class="btn-xs btn btn-info" id='btnEdit' type='button' onclick='btnfunc1(@Html.Raw(Json.Encode(Model.id)),"edit")' value='Modifier'>*@
                 <br />
                      <p style="float:right">

                        @*<button type="button" class="btn btn-success btn-xs" onclick="btnfunc1()">
                            <span class="glyphicon glyphicon-picture"></span> Image
                        </button>*@

                        <a href="/tfs/edit?id=@Html.Raw(Model.id)" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-edit"></span> Modifier
                        </a>
                       

                    </p>
                    <script>
$(document).ready(function(){


    $("#myBtn3").click(function(){
        $("#myModal3").modal({backdrop: "static"});
    });
});



                    </script>

                    
                </div>
            </div>
            @*</div>
                <div class="panel panel-info" style="position:relative;height:23%">*@
            <div class="panel-heading">
                <p style="font-weight:bold;font-size: 17px">Propriétaires</p>
            </div>
            <div class="panel-body" style="overflow:scroll;height:14%;width:auto">

                <div style="height:600%;width:100%">


                    @foreach (var item in Model.proprietaires)
                    {



                        if (item.typeproprietaire == 1)
                        {
                            var nom = item.prenom + " " + item.nome2 + " " + item.nom3;
                            <center> <b>  @(Html.Raw((nom)))</b></center>

                        }
                        else
                        {
                            var nom = item.nomestablishment;
                           <text> <center> <b>  @(Html.Raw((nom)))</b></center>                        </text>

    }




}
                    <br /><br />



                </div>
            </div>
            @*</div>
                <div class="panel panel-info" style="height:27%">*@
            <div class="panel-heading"><p style="font-weight:bold;font-size: 17px">Immatriculation</p></div>


            <div class="panel-body" style="height:35%;width:100%">
                <dl class="dl-horizontal" style="float:left">
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.numacp)</dt>
                    <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.numacp)</dd>
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.typetf)</dt>
                    <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.typetf1.libell)</dd>
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.PIECEJUSTIFICATIVE_id)</dt>
                    <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.piecejustificative.libelle)</dd>
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.superficie)</dt>
                    <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.superficie)</dd>
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.valeurterrain)</dt>
                    <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.valeurterrain)</dd>
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.DateOperation)</dt>
                    <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.DateOperation)</dd>
                    @*if (mode(x => x.typeproprietaire == 1))*@
                    <dt class="lblFontStyle">  @Html.DisplayName("Terrain bâti:")</dt>
                    @if (Model.estbati == true)
                    {
                        <dd class="lblInfoFontStyle">Oui</dd>

                    }
                    else
                    {
                        <dd class="lblInfoFontStyle">Non</dd>
                    }
                </dl>
            </div>



            <div class="panel-heading" style="float:left;height:8%;width:100%">
                <p style="font-weight:bold;font-size:17px">Location</p>
            </div>
            <div class="panel-body" style="height:10%;width:100%">
                <dl class="dl-horizontal" style="float:left">
                    <dt class="lblFontStyle">  @Html.DisplayName("Région:")</dt>
                    <dd class="lblInfoFontStyle">@Html.DisplayFor(model => model.quartier.regionid)</dd>@*kkk*@
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.typelieu)</dt>
                    @if (Model.typelieu == 1)
                    {

                        <dd class="lblInfoFontStyle">Quartier</dd>
                    }
                    else
                    {
                        <dd class="lblInfoFontStyle">Lotissement</dd>

                    }

                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.idquartier)</dt>
                    <dd class="lblInfoFontStyle">@Html.DisplayFor(model => model.quartier.libelle)</dd>
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.estillot)</dt>

                    @if (Model.estillot == true)
                    {
                        <dd class="lblInfoFontStyle">Oui</dd>

                    }
                    else
                    {
                        <dd class="lblInfoFontStyle">Non</dd>
                    }
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.nomillot)</dt>
                    <dd class="lblInfoFontStyle"> &nbsp;@Html.DisplayFor(model => model.nomillot)</dd>
                    <dt class="lblFontStyle">  @Html.DisplayNameFor(model => model.numerolot)</dt>
                    <dd class="lblInfoFontStyle">&nbsp;@Html.DisplayFor(model => model.numerolot)</dd>
                </dl>
            </div>
            <div class="panel-heading" style="float:left;height:8%;width:100%">
                <p style="font-weight:bold;font-size:17px">Historique du Tf</p>
            </div>
            <div class="panel-body" style="height:10%;width:100%">

                <dl class="dl-horizontal" style="float:left;">
                    <div class="row">
                        <div class="col-md-12">
                            @{ Html.RenderAction("HistoriquesTF", "Historiques", new { id = Model.id }); }
                        </div>
                    </div>

                </dl>
            </div>
            <div class="panel-heading" style="float:left;height:8%;width:100%">
                <p style="font-weight:bold;font-size:17px">Opérations</p>
            </div>
            <div class="panel-body" style="height:10%;width:100%">
               
                <dl class="dl-horizontal" style="float:left;">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#operations">Opérations</a></li>
                        
                    </ul>
                    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
                    <div class="tab-content">
                        <div id="operations" class="tab-pane fade in active">
                            <div class="row">
                                <div class="form-group">

                                    <p class="col-md-offset-3" style="padding:4px 2px 5px 2px;">
                                   @if(User.IsInRole("Directeurs") || User.IsInRole("Administrateur") || User.IsInRole("Agent TFs") || User.IsInRole("Responsables"))
                                   {
                                       if ((Model.Actif == null) || (Model.Actif == true))
                                       {
                                            @Html.ActionLink("Ajouter Hypothèque", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-success btn-lg" })

                                           if (ViewBag.Yes == 1)
                                           {
                                               @Html.ActionLink("Ajouter Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-default btn-lg", disabled = "disabled" })
                                           }
                                           else
                                           {
                                               @Html.ActionLink("Ajouter Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-success btn-lg" })
                                           }
                                       }
                                       else
                                       {
                                           @Html.ActionLink("Ajouter Hypothèque", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default btn-lg", disabled = "disabled" })
                                           @Html.ActionLink("Ajouter Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-default btn-lg", disabled = "disabled" })

                                       }
                                   }
                                   else
                                   {
                                    @Html.ActionLink("Ajouter Hypothèque", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 2 }, new { @class = "btn btn-default btn-lg", disabled = "disabled" })
                                    @Html.ActionLink("Ajouter Mutation", "Create", "Operations", new { id = @Html.DisplayFor(model => model.id), idop = 1 }, new { @class = "btn btn-default btn-lg", disabled = "disabled" })

                                   }
                                    </p>
                                </div>

                                <div class="col-md-12" >
                                    @{ Html.RenderAction("List", "Operations", new { id = Model.id }); }
                                </div>
                            </div>
                        </div>
                        </div>
                       
                </dl>
            </div>
        </div>
    </div>

    @*</div>*@

    @*<div id="right_col" style="overflow:scroll;float:right;width:50%;height:100%">
       
    </div>*@
</div>



@*</div>*@

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
@*<script>


    $(function () {
        $('#TypeMutation').change(function () {
            var value = $(this).val();
            alert(' Changement');
        });
    });


</script>*@