﻿@model GestionTitreFoncierApp.Models.TFSViewModel

@{
    Layout = null;
   // Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@
@*<script src="~/Scripts/jquery-1.10.2.js"></script>*@
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>*@
@*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@s
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>*@
@*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ValidateTheFormBeforePosting.js")" type="text/javascript"></script>

<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
<script src="@Url.Content("~/Scripts/Commoncustom.js")" type="text/javascript"></script>

<link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet" type="text/css">
<link href="~/css/EditorFormStyle1.css" rel="stylesheet" />


<

@*<script src="@Url.Content("~/js/bootstrap.js")" type="text/javascript"></script>*@

@*<script src="~/Scripts/Commoncustom.js"></script>*@
@*<link href="~/css/CalenderCSS/pikaday.css" rel="stylesheet" />
    <link href="~/css/CalenderCSS/site.css" rel="stylesheet" />
    <link href="~/css/CalenderCSS/theme.css" rel="stylesheet" />
    <link href="~/css/CalenderCSS/triangle.css" rel="stylesheet" />?
    <script src="~/Scripts/pikaday.js"></script>
    <script src="~/Scripts/DsiplayImageOnCreateForm.js"></script>*@

<script>
    var indeximage = 0;
    var lstSelectedtextvalue;
    var fielcount;
</script>
<script src="@Url.Content("~/Scripts/ValidateTheFormBeforePosting.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bttnAddPropritreCreateTF.js")" type="text/javascript"></script>

@*<script src="~/Scripts/ValidateTheFormBeforePosting.js"></script>
    <script src="~/Scripts/bttnAddPropritreCreateTF.js"></script>*@

<script>
    var indeximage = 0;
    var lstSelectedtextvalue;
    var fielcount;
</script>


<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#numerotf').prop('readonly', true);
        $("#imageupload").prop("disabled", true);
        $('#numerotf').css({ 'background-color': 'lightGrey' });
        $('#imageupload').css({ 'background-color': 'lightGrey' });


    });

    $(document).ready(function () {
        $(".date").datepicker(
             {
                 dateFormat: "dd/mm/yy"
             });
        $('input[name=protype]').on('change', function () {
            var v = $(this).val();
            if (v == 'physic') {
                $("#myTable2").find("input,button,textarea,select").css("background-color", "lightgrey");
                $("#myTable").find("input,button,textarea,select").css("background-color", "whitesmoke");
                $("#myTable").find("button").css("background-color", "red");
                $("#myTable2").find("input,button,textarea,select").attr("disabled", "disabled");
                $("table#myTable :text").prop("disabled", false);
                $("table#myTable :button").prop("disabled", false);
                $("#myTable2").find("input[type='text'],input[type='date'],select").val("");
                $("#myTableRowPhysic1").find("#prenom").focus();
            }
            else {

                $("#myTable2").find("input,button,textarea,select").css("background-color", "whitesmoke");
                $("#myTable").find("input,button,textarea,select").css("background-color", "lightgrey");
                $("#myTable2").find("button").css("background-color", "red");
                $("#myTable").find("input,button,textarea,select").attr("disabled", "disabled");
                $("table#myTable2 :text").prop("disabled", false);
                $("table#myTable2 :button").prop("disabled", false);
                // $("#myTable").find("input,button,textarea,select").val("");
                $("#myTable").find("input[type='text'],input[type='date'],select").val("");
                //("#myTable").find('.wrapperDivHidden input[type="hidden"]').val();
                $("#myTableRowMoral1").find("#nomestablishment").focus();

            }
        });
    });
    $(document).ready(function () {

    });

    function imageselectPrepare() {

        var inp = document.getElementById('imageupload');
        var filename = inp.files.item(0).name.toString();
        var str = "";
        //var b = filename.charAt(13);
        for (var i = 0; i < filename.length; i++) {
            // str = filename.charAt(p);
            if (filename.charAt(parseInt(i)) == " ") {
                break;
            }
            else {
                str += filename.charAt(parseInt(i));
            }

        }
        var numero = "";
        for (var i = str.length; i > 0; i--) {
            if (str.charAt(parseInt(i)) == "-") {
                break;
            }
            else {
                numero += str.charAt(parseInt(i));
            }
        }

        var no = numero.split("").reverse().join("");
        $("#numerotf").attr("readonly", true);
        $('#numerotf').val(no);
        $("#numerotf").css("background-color", "lightgrey");
        $('#cheminimage').val("D:\\Domaine\\" + str);
        var parentfolder = "D:\\Domaine\\" + str;
        var urlll = '@Url.Action("imageviewer", "tfs")?pathofimg1=' + parentfolder + '&imgnvaindex=' + 0;

        $('#right_col').load(urlll);


    }
    @*function btnfunc1(id, optyp) {

        if (optyp == 'img') {
            var urlll = '@Url.Action("imageviewer", "tfs")?pathofimg1=' + @Html.Raw(Json.Encode(Model.cheminimage)) + '&imgnvaindex=' + 0;
        
            $('#right_col').load(urlll);}}*@
</script>
<script src="~/Scripts/bttnDeletePropritreCreateTF.js"></script>
<link href="~/Content/themes/base/core.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />

@*<div class="panel panel-info" style="height:82%">
    <div class="panel-heading"><left><h3><b>Ajouter Un Location</b></h3></left></div>
    <div class="panel-body">

        <p>
            <a href="/tfs/index" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-arrow-left"></span> Retour à l'accueil
            </a>
        </p>*@

@*@using (Html.BeginForm("create", "quartiers", FormMethod.Post, new { onsubmit = "return validateForm()" }))

    {*@
@*<div id="wrapParent" style="height:100%;width:100%;border:inset;background-color:whitesmoke">*@

<div class="panel panel-info" style="background-color:whitesmoke;height:100%;width:100%;border:inset">
   
    <div class="panel-heading panel-success form-horizontal col-lg-5" style="height:5%;width:100%;overflow: hidden;white-space: nowrap;background-color:white">


        <center>
            <p style="font-size:22px">
                <a href="/tfs/index" class="btn-success btn-xs" style="float:left">
                    <span class="glyphicon glyphicon-arrow-left"></span> Retour à la liste
                </a> Mise a jour d'un TF
            </p>
        </center>


    </div>


        @*<div id="left_col" style="float:left;width:50%;height:100%;border:none;margin-right:auto;background-color:whitesmoke">*@

        <form class="form-inline" role="form" action="/tfs/edit/" method="post" onsubmit="return validateForm(2)" style="overflow:scroll;width:50%;height:100%;float:left;background-color:whitesmoke">


            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.cheminimage)
            <div class="panel panel-info" style="float:left;width:150%;height:120%;background-color:whitesmoke">

               

                <div class="panel-heading" style="height:6%;width:100%">
                    @*<br /><br />*@
                    <div class="form-inline">
                        <p style="font-size:19px;float:left">Principale Information</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn-sm btn btn-info btn-lg"><span class="glyphicon glyphicon-floppy-save"></span> </button>
                    </div>
                </div>
                <div class="panel-body container-inner" style="height:18%;width:100%;background-color:whitesmoke">

                    <div class="row">


                        @Html.LabelFor(model => model.numerotf)
                        @Html.EditorFor(model => model.numerotf)

                        @Html.LabelFor(model => model.datetf)
                        @Html.EditorFor(model => model.datetf)
                        <script>
                        $(".date").datepicker(
                        {
                        dateFormat: "dd/mm/yy"
                        });
                        </script>



                    </div>
                    <br />

                    <div class="row">

                        @*<label>Images:</label>*@
                        <input type="file" class="btn-success" name="imageupload" id="imageupload" onchange="imageselectPrepare()" />


                    </div>
                </div>

                <div class="panel-heading" style="height:8%;width:100%">
                    @*<p>Détails</p>*@
                    <ul id="tabs" class="nav nav-pills">
                        <li class="active"><a data-toggle="pill" href="#DivPros" style="font-weight: bold">Propriétaire(s)</a></li>
                        <li><a data-toggle="pill" href="#Immatricule" style="font-weight: bold">Immatriculation</a></li>
                        <li><a data-toggle="pill" href="#Location" style="font-weight: bold">Location</a></li>
                    </ul>
                </div>
                <div class="panel-body" style="height:45%;width:100%;background-color:whitesmoke">

                    <div class="tab-content">
                        <div id="DivPros" class="tab-pane fade in active" style="overflow:scroll">
                            <input type='radio' id='protype' name='protype' value='physic' checked /><text class="radioStyletext">Physic</text>
                            <input type='radio' id='protype' name='protype' value='moral' /><text class="radioStyletext">Moral</text>

                            <button id='btnadd' type='button' class='btn btn-success btn-xs' onclick='btnfunc()'><span class='glyphicon glyphicon-plus'></span></button>
                            @if (Model.proprietaires.Any(x => x.typeproprietaire == 1))
                            {
                                <table id='myTable' class='table' style='background-color:whitesmoke;width:auto;height:auto' border:'1px'>
                                    <thead>
                                        <tr id='myTableRowPhysic199' class='info'>
                                            <th>Supprimer</th>
                                            <th>Prénom</th>
                                            <th>Nom2</th>
                                            <th>Nom3</th>
                                            <th>PreNomMere</th>
                                            <th>NomMere2</th>
                                            <th>PreNomMere3</th>
                                            <th>LieuNaisance</th>
                                            <th>DateNaisance</th>
                                            <th>Nationalité</th>
                                            <th>Numero piece</th>
                                            <th>piece Date Emission</th>
                                            <th>Typepiece</th>
                                        </tr>
                                    </thead>
                                    @for (int i = 0; i < Model.proprietaires.Count(); i++)
                                    {
                                        var rowid = "myTableRowPhysic" + (i + 1);
                                        <tr id=@(Html.Raw(rowid))>
                                            <td style="position:relative;top:-22px;vertical-align:middle"><button type='button' class='btn-danger btn-xs' onclick='DeletRow(1, @(Html.Raw(Json.Encode(rowid))))'><span class='glyphicon glyphicon-remove'></span></button></td>

                                            <td><input id='prenom' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).prenom))) type='text' /></td>

                                            <td><input id='nome2' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nome2))) /></td>

                                            <td><input id='nom3' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nom3))) /></td>
                                         


                                            <td><input id='prenommere' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).prenommere))) type='text' /></td>

                                            <td><input id='nommere2' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nommere2))) /></td>

                                            <td><input id='nommere3' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nommere3))) /></td>
  
                                            
                                            <td><input id='lieuNaisance' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).lieuNaisance))) /></td>
                                            <td><input class="date"  id="dateNaissace"  type="text" value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).dateNaissace))) /></td>

                                              <td style="padding-top:9px;vertical-align:top">
                                                <select id='nationalite' style='width: 90px;background-color: white'>
                                                    <option value='0'>... Choisissez...</option>
                                                    <option value='1'>djiboutian</option>
                                                    <option value='2'>étranger</option>
                                                </select>
                                                <script>
                                                $(@(Html.Raw(rowid))).find('#' + "nationalite option").filter(function () { return this.value === @(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nationalite))) }).prop('selected', true);
                                                </script>
                                            </td>


                                            <td><input id='numeropiece' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).numeropiece))) /></td>
                                            <td><input class="date"  id="piecedateemission"  type="text" value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).piecedateemission))) /></td>

                                              <td style="padding-top:9px;vertical-align:top">
                                                <select id='typepiece' style='width: 90px;background-color: white'>
                                                    <option value='0'>... Choisissez...</option>
                                                    <option value='1'>Carte Identité</option>
                                                    <option value='2'>Passport</option>
                                                </select>
                                                <script>
                                                    $(@(Html.Raw(rowid))).find('#' + "typepiece option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).typepiece)))' }).prop('selected', true);
                                                </script>
                                            </td>


                                            <td><input id='id' name='id' type='hidden' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).id))) /></td>
                                        </tr>
                                    }

                                </table>
                                <table id='myTable2' class='table' style='background-color:whitesmoke;width:auto;height:auto' border:'1px'>
                                    <thead><tr id='myTableRowMoral188' class='info'><th>Nom Establissment</th><th>Nom Rsponsable</th><th>Type Establishment</th><th>Secteur Actif</th></tr></thead>
                                    @{ var rowidMoral = "myTableRowMoral1"; }

                                    <tr id=@(Html.Raw(Json.Encode(rowidMoral)))>
                                        <td style="position:relative;top:-22px;vertical-align:middle"><button type='button' class='btn-danger btn-xs' onclick='DeletRow(2, @(Html.Raw(Json.Encode(rowidMoral))))'><span class='glyphicon glyphicon-remove'></span></button></td>
                                        <td><input id='nomestablishment' style='background-color: white;' value='' type='text' /></td>

                                        <td><input id='nomeresponsable1' type='text' value='' style='background-color: white;' /></td>

                                        <td><input id='typestablishment' type='text' style='background-color: white;' value='' /></td>
                                        <td><input id='secturactivite' type='text' style='background-color: white;' value='' /></td>


                                        <td><input id='id' name='id' type='hidden' value='0' /></td>
                                    </tr>
                                </table>
                                <script>
                                var $radios = $('input:radio[name=protype]');
                                $radios.filter('[value=physic]').prop('checked', true);
                                $("#myTable2").find("input,button,textarea,select").css("background-color", "lightgrey");
                                $("#myTable").find("input,button,textarea,select").css("background-color", "whitesmoke");
                                $("#myTable").find("button").css("background-color", "red");
                                $("#myTable2").find("input,button,textarea,select").attr("disabled", "disabled");
                                $("table#myTable :text").prop("disabled", false);
                                //$("#myTable2").find("input,button,textarea,select").val("");
                                $("#myTable2").find("input[type='text'],input[type='date'],select").val("");
                                </script>
                                        }
                                        else // if Moral
                                        {
                                            <table id='myTable' class='table' style='width:auto;height:auto' border:'1px'>
                                                <thead><tr id='myTableRowPhysic88' class='info'><th>Supprimer</th><th>Prénom</th><th>Nom2</th><th>Nom3</th><th>Nationalité</th></tr></thead>


                                                @{ var rowid = "myTableRowPhysic1";
                                                }
                                                <tr id=@(Html.Raw(rowid))>
                                                    <td><button type='button' class='btn btn-danger btn-lg' onclick='DeletRow(1,@(Html.Raw(Json.Encode(rowid))))'><span class='glyphicon glyphicon-remove'></span></button></td>
                                                    <td><input id='prenom' style='background-color: white;' value='' type='text' /></td>

                                                    <td><input id='nome2' type='text' style='background-color: white;' value='' /></td>

                                                    <td><input id='nom3' type='text' style='background-color: white;' value='' /> </td>
                                                    <td>
                                                        <select id='nationalite' style='width: 90px;background-color: white'>
                                                            <option value='0'>... Choisissez...</option>
                                                            <option value='1'>djiboutian</option>
                                                            <option value='2'>étranger</option>
                                                        </select>
                                                    </td>
                                                    <td><input id='id' name='id' type='hidden' value='0' /></td>
                                                </tr>


                                            </table>
                                            <table id='myTable2' class='table' style='width:auto;height:auto' border:'1px'>
                                                <thead><tr id='myTableRowMoral188' class='info'><th>Nom Establissment</th><th>Nom Rsponsable</th><th>Type Establishment</th><th>Secteur Actif</th></tr></thead>
                                                @for (int i = 0; i < Model.proprietaires.Count(); i++)
                                                {
                                                    var rowidMoral = "myTableRowMoral" + (i + 1);
                                                    <tr id=@(Html.Raw(Json.Encode(rowidMoral)))>
                                                        <td style="padding-top:9px;vertical-align:top"><button type='button' class='btn btn-danger btn-lg' onclick='DeletRow(2,@(Html.Raw(Json.Encode(rowidMoral))))'><span class='glyphicon glyphicon-remove'></span></button></td>
                                                        <td><input id='nomestablishment' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nomestablishment))) type='text' /></td>

                                                        <td><input id='nomeresponsable1' type='text' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).nomeresponsable1))) style='background-color: white;' /></td>

                                                        <td><input id='typestablishment' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).typestablishment))) /></td>
                                                        <td><input id='secturactivite' type='text' style='background-color: white;' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).secturactivite))) /></td>


                                                        <td><input id='id' name='id' type='hidden' value=@(Html.Raw(Json.Encode(Model.proprietaires.ElementAt(i).id))) /></td>
                                                    </tr>
                                                }
                                            </table>
                                            <script>
                                            var $radios = $('input:radio[name=protype]');
                                            $radios.filter('[value=moral]').prop('checked', true);
                                            $("#myTable").find("input,button,textarea,select").css("background-color", "lightgrey");
                                            $("#myTable2").find("input,button,textarea,select").css("background-color", "white");
                                            $("#myTable2").find("button").css("background-color", "red");
                                            $("#myTable").find("input,button,textarea,select").attr("disabled", "disabled");
                                            $("table#myTable2 :text").prop("disabled", false);
                                            //$("#myTable").find("input,button,textarea,select").val("");
                                            $("#myTable").find("input[type='text'],input[type='date'],select").val("");
                                            </script>
                                                    }
                        </div>

                        <div id="Immatricule" class="tab-pane fade">
                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.numacp)
                                    @Html.EditorFor(model => model.numacp)
                                </div>
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.typetf)
                                    @*<select  id="typetf" name="typetf">
                                    <option>..Choisissez type..</option>
                                    </select>*@
                                    @Html.DropDownList("typetf", "..Choisissez type..")

                                    <script>
                                    $('#' + "typetf option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.typetf1.id)))'}).prop('selected', true);
                                    </script>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.DateOperation)
                                    @Html.EditorFor(model => model.DateOperation)
                                    
                                </div>
                                <script>
                        $(".date").datepicker(
                        {
                        dateFormat: "dd/mm/yy"
                        });
                                </script>
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.PIECEJUSTIFICATIVE_id)
                                    @*<select id="PIECEJUSTIFICATIVE_id" name="PIECEJUSTIFICATIVE_id">
                                    <option>..Choisissez type..</option>
                                    </select>*@
                                    @Html.DropDownList("PIECEJUSTIFICATIVE_id", "..Choisissez pièce..")
                                    <script>
                                    $('#' + "PIECEJUSTIFICATIVE_id option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.piecejustificative.id)))'}).prop('selected', true);
                                    </script>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.valeurterrain)
                                 @Html.EditorFor(model => model.valeurterrain)
                                    @*<input type="text" id="valeurterrain" name="valeurterrain"  />*@
                                    <script>
                                    $("#valeurterrain").val(@(Html.Raw(Json.Encode(Model.valeurterrain))));
                                    </script>
                                </div>
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.superficie)
                                    @Html.EditorFor(model => model.superficie)
                                    <script>
                                    $("#superficie").val(@(Html.Raw(Json.Encode(Model.superficie))));
                                    </script>


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8 input-lg">
                                    @Html.LabelFor(model => model.estbati)
                                    @*@Html.CheckBoxFor(model => model.estbati, new { @checked = "checked" })*@
                                    @Html.EditorFor(model => model.estbati)




                                </div>
                            </div>



                        </div>

                        <div id="Location" class="tab-pane">


                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    <label>Région:</label>
                                    @Html.DropDownList("RegId", "... Choisissez Région...")

                                    <script>
                                    $('#' + "RegId option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.quartier.region.id)))'}).prop('selected', true);
                                    </script>


                                </div>
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.estillot)
                                    @*<input type="checkbox" id="estillot" name="estillot" />*@
                                    @*<input type="checkbox" id="estillot" name="estillot"  />*@

                                    @*@Html.CheckBoxFor(model => model.estbati)*@
                                    @Html.EditorFor(model => model.estillot)


                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 input-lg" style="align-items:center">
                                    @Html.LabelFor(model => model.typelieu)


                                    @Html.RadioButton("typLieu", "Quart", true) <text>Quartier</text>
                                    @Html.RadioButton("typLieu", "Lotis") <text>Lotissement</text>
                                    @if (Model.typelieu == 1)
                                    {
                                        <script>
                                        var $radios = $('input:radio[name=typLieu]');
                                        $radios.filter('[value=Quart]').prop('checked', true);
                                        </script>
                                    }
                                    else
                                    {
                                        <script>
                                        var $radios = $('input:radio[name=typLieu]');
                                        $radios.filter('[value=Lotis]').prop('checked', true);
                                        </script>
                                    }

                                    @*@Html.RadioButton("typLieu", "Quart", true) <text>Quartier</text>
                                    @Html.RadioButton("typLieu", "Lotis") <text>Lottisment</text>*@
                                </div>
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.nomillot)


                                    @*<input id="nomillot" name="nomillot" type="text" />*@
                                    @Html.EditorFor(model => model.nomillot)

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.idquartier)
                                    @*<input type="text" id="valeurterrain" name="valeurterrain" />*@
                                  
                                    <script>
                                    $('#' + "idquartier option").filter(function () { return this.value === @(Html.Raw(Json.Encode(Model.quartier.region.id))) }).prop('selected', true);
                                    </script>                                  
                                      @Html.ValidationMessageFor(model => model.idquartier)

                                    <script>
                                    $('#' + "idquartier option").filter(function () { return this.value === '@(Html.Raw(Json.Encode(Model.quartier.id)))'}).prop('selected', true);
                                    </script>
                                </div>
                                <div class="col-lg-6 input-lg">
                                    @Html.LabelFor(model => model.numerolot)
                                    @Html.EditorFor(model => model.numerolot)


                                </div>
                            </div>

                        </div>




                    </div>

                </div>
            </div>
            @*</div>*@
        </form>



    <div id="right_col" style="overflow:scroll;width:50%;height:100%;float:right;background-color:whitesmoke">
        @*<script>
                    var url = '@Url.Action("imageviewer", "tfs")?pathofimg1=' + @(Html.Raw(Json.Encode(Model.cheminimage)))+ '&imgnvaindex=' + 0;

            $('#right_col').load(url);


        </script>*@
        @Html.Partial("imgViewer", new ViewDataDictionary { { "pathofimg1", Model.cheminimage } })


    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
@*<script src="@Url.Content("~/js/bootstrap.js")"></script>*@
<script src="@Url.Content("~/js/bootstrap.js")" type="text/javascript"></script>

@*<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>*@
