﻿@using PagedList.Mvc;
@using PagedList;
@using Ajax;
@using System.Web;
@model IPagedList<GestionTitreFoncierApp.Models.tf>
@{
    ViewBag.Title = "IndexTFS";
}

<script>
   var Formastate = 1;
</script>
<script type="text/javascript" language="javascript">

     $(document).ready(function () {
         var Operationmessage = @(Html.Raw(Json.Encode(ViewBag.Message)));

         if(Operationmessage!="" && Operationmessage!=null)
         {
             alert(Operationmessage);

         }
     });

     $(document).ready(function () {


         $("#pageindex1").val("1");
         $("#pageindex2").val("1");

         $(".date").datepicker(
              {
                  dateFormat: "dd/mm/yy"
              })




         $("[href=#collapse1]").click(function () {
             Formastate = 1;

         });

         $("[href=#collapse2]").click(function () {
             Formastate = 2;
         });

         $("#panelbodytbl2").load("/tfs/SearchTF",
           { searchBy: "", search: "" });


     });



     function parseBackward() {
         $("#right_col1").html("");
             var g = $('input[name=searchBy]:checked').val();
             var firstname = "";
             var Second = "";
             var Third = "";
             var isvalid = true;
             var spavceindex = [];
             if (g == 'proprietre') {
                 var serch = $("#searchinput").val();
                 if (serch.length > 0) {
                     for (var i = 0; i < serch.length; i++) {
                         if (serch.charAt(parseInt(i)) == " ") {
                             spavceindex.push(i);
                             if (serch.charAt(parseInt(i + 1)) == " " || serch.charAt(parseInt(0)) == " ") {
                                 isvalid = false;
                                 break;
                             }
                         }
                     }
                     if (isvalid) {
                         if (spavceindex.length == 0) {
                             // firstname = str.substring(1, 4);
                             firstname = serch.substring(0, (spavceindex[0]));
                             $('[name=firstname]').val(firstname);
                             $('[name=secondname]').val("");
                             $('[name=thirdname]').val("");


                         }
                         else if (spavceindex.length == 1) {
                             firstname = serch.substring(0, (spavceindex[0]));
                             Second = serch.substring((spavceindex[0]+1), (spavceindex[1]));  //ziad ahmed   space=5  length=10  6
                             $('[name=firstname]').val(firstname);
                             $('[name=secondname]').val(Second);
                             $('[name=thirdname]').val("");
                         }
                         else if (spavceindex.length == 2) {
                             firstname = serch.substring(0, (spavceindex[0]));
                             Second = serch.substring((spavceindex[0] + 1), (spavceindex[1]));
                             Third = serch.substring((spavceindex[1]+1), (spavceindex[2]));
                             $('[name=firstname]').val(firstname);
                             $('[name=secondname]').val(Second);
                             $('[name=thirdname]').val(Third);

                         }
                     }
                     else {
                         $('[name=firstname]').val("");
                         $('[name=secondname]').val("");
                         $('[name=thirdname]').val("");
                     }
                 }
                 else {
                     $('[name=firstname]').val("");
                     $('[name=secondname]').val("");
                     $('[name=thirdname]').val("");
                 }
                 return true;
             }


             else {
                 $('[name=firstname]').val("");
                 $('[name=secondname]').val("");
                 $('[name=thirdname]').val("");
             }
             return true;
         }
     //llllll
     function Backward() {
         $("#right_col1").html("");
             var firstname = "";
             var Second = "";
             var Third = "";
             var isvalid = true;
             var spavceindex = [];
             var serch = $("#pnom").val();
                 if (serch.length > 0) {
                     for (var i = 0; i < serch.length; i++) {
                         if (serch.charAt(parseInt(i)) == " ") {
                             spavceindex.push(i);
                             if (serch.charAt(parseInt(i + 1)) == " " || serch.charAt(parseInt(0)) == " ") {
                                 isvalid = false;
                                 break;
                             }
                         }
                     }
                     if (isvalid) {
                         if (spavceindex.length == 0) {
                             // firstname = str.substring(1, 4);
                             firstname = serch.substring(0, (spavceindex[0]));
                             $('[name=firstnom]').val(firstname);
                             $('[name=secondnom]').val("");
                             $('[name=thirdnom]').val("");


                         }
                         else if (spavceindex.length == 1) {
                             firstname = serch.substring(0, (spavceindex[0]));
                             Second = serch.substring((spavceindex[0] + 1), (spavceindex[1]));  //ziad ahmed   space=5  length=10  6
                             $('[name=firstnom]').val(firstname);
                             $('[name=secondnom]').val(Second);
                             $('[name=thirdnom]').val("");
                         }
                         else if (spavceindex.length == 2) {
                             firstname = serch.substring(0, (spavceindex[0]));
                             Second = serch.substring((spavceindex[0] + 1), (spavceindex[1]));
                             Third = serch.substring((spavceindex[1] + 1), (spavceindex[2]));
                             $('[name=firstnom]').val(firstname);
                             $('[name=secondnom]').val(Second);
                             $('[name=thirdnom]').val(Third);

                         }
                     }
                     else {
                         $('[name=firstnom]').val("");
                         $('[name=secondnom]').val("");
                         $('[name=thirdnom]').val("");
                     }
                 }
                 else {
                     $('[name=firstnom]').val("");
                     $('[name=secondnom]').val("");
                     $('[name=thirdnom]').val("");
                 }
                 return true;

         }
    //
</script>

<div class="panel panel-info col-md-10 col-md-offset-1" style="border-bottom:none; margin-top:20px;">
    <div class="panel panel-info" style="width:100%;height:100%;">

        <div class="panel-heading" style="width:100%;"> <p style="font-weight:bold">Effectuer une Recherche de TFs</p></div>

        <div id="panelbody" class="panel-body" style="width:100%;">


            <p>



                <a href="/tfs/create" class="btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-plus"></span> Créer un nouveau TF
                </a>

            </p>

            <script>
            </script>
            <div class="panel-group" id="accordion">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="font-weight:bold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Recherche simple</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @using (Html.BeginForm("SearchTF", "tfs", FormMethod.Get, new { searchtype = "Basic", id = "serchBasic" }))
                            {
                                <input type="hidden" id="firstname" name="firstname">
                                <input type="hidden" id="secondname" name="secondname" value="">
                                <input type="hidden" id="thirdname" name="thirdname" value="">
                                <input type="hidden" id="pageindex1" name="pageindex1" value="">
                                <div class="form-inline">
                                    <div class="form-group col-lg-12">
                                        <label style="font-size:14px;font-weight:bold"><b>Rechercher par:</b></label>
                                        <input type="radio" id="n" name="searchBy" value="numerotf" checked /><text class="radioStyletext">Numéro TF</text>
                                        <input type="radio" id="p" name="searchBy" value="proprietre" /><text class="radioStyletext">Propriétaire</text>

                                    </div>
                                    <div class="form-group">
                                        <p>
                                            <input id="searchinput" class="EditorStyle" style="font-size:14px;font-weight:bold" name="searchinput" type="search" />
                                            <button class="btn btn-success btn-xs" id='btn' type='submit'>
                                                <span class="glyphicon glyphicon-search"></span> Rechercher
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title" style="font-weight:bold">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Recherche Avancée</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            @using (Ajax.BeginForm("SearchTF", "tfs", new { searchBy = "numerotf", searchtype = "Advanced" }, new AjaxOptions { }, new { id = "serchadvanced" }))
                            {


                                <input type="hidden" id="firstnom" name="firstnom">
                                <input type="hidden" id="secondnom" name="secondnom" value="">
                                <input type="hidden" id="thirdnom" name="thirdnom" value="">
                                <input type="hidden" id="pageindex2" name="pageindex2" value="">

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="clearfix"></div>

                                        <div class="form-group">
                                            @Html.Label("N° de TF:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="numerotf" name="numerotf" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Proprietaire", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="pnom" name="pnom" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Immatriculé le:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="datetf" name="datetf" class="date" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        Localisation <hr />
                                        <div class="form-group">
                                            @Html.Label("Région", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                @Html.DropDownList("RegId", "..Choisissez Région..")
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Type du Lieu", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                <input id="typLieu" name="typLieu" value="all" type="radio" checked /> <text style="font-size:10px;font-weight:bold">Tout</text>
                                                <input id="typLieu" name="typLieu" value="Quart" type="radio" /> <text style="font-size:10px;font-weight:bold">Quartier</text>
                                                <input id="typLieu" name="typLieu" value="Lotis" type="radio" /> <text style="font-size:10px;font-weight:bold">Lotissement</text>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Lieu:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <select id="idquartier" name="idquartier" style="width: 160px"></select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Est un ilot:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="estilot" name="estilot" value="all" type="radio" checked /> <text>Tout</text>
                                                <input id="estilot" name="estilot" value="yes" type="radio" /> <text>Oui</text>
                                                <input id="estilot" name="estilot" value="no" type="radio" /> <text>Non</text>

                                                @*<input id="estillot" name="estillot" type="checkbox" />*@
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="form-group">
                                            @Html.Label("Nomilot:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="nomillot" name="nomillot" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("numerolot:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="numerolot" name="numerolot" />
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-md-6">
                                        Immatricule <hr />
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("N° ACP:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="numacp" name="numacp" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Date d'opération:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="DateOperation" name="DateOperation" class="date" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Type du TF:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                @Html.DropDownList("typetf", "..Choisissez Type..")
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Piéce:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                @Html.DropDownList("PIECEJUSTIFICATIVE_id", "..Choisissez pièce..")
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Valeur du terrain:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="valeurterrain" name="valeurterrain" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Superficie:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="superficie" name="superficie" />
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group">
                                            @Html.Label("Terrain bâti:", htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                <input id="estbati" name="estbati" value="all" type="radio" checked /> <text>Tout</text>
                                                <input id="estbati" name="estbati" value="yes" type="radio" /> <text>Oui</text>
                                                <input id="estbati" name="estbati" value="no" type="radio" /> <text>Non</text>

                                                @*<input id="estbati" name="estbati" type="checkbox" />*@
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                        <div class="form-group">
                                            <p>
                                                <button class="btn btn-success btn-xs" id='btn' type='submit' onclick="Backward()">
                                                    <span class="glyphicon glyphicon-search"></span> Rehcercher
                                                </button>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>





            @*@using (@Html.BeginForm("Search", "tfs", FormMethod.Get))
                {

                    <div class="form-inline">
                        <div class="form-group col-lg-12">
                            <label style="font-size:14px;font-weight:bold"><b>Rechercher par:</b></label>
                            <input type="radio" id="searchBy" name="searchBy" value="numerotf" checked /><text class="radioStyletext">Numéro TF</text>
                            <input type="radio" id="searchBy" name="searchBy" value="proprietre" /><text class="radioStyletext">Propriétaire</text>

                        </div>


                        <div class="form-group">
                            @*<input class="EditorStyle" style="position:relative;left:-100px;text-align:right;font-size:17px;text-align:center" name="search" id="search" type="search" onblur="CreateWaterMark('Entrez votre recherche ici', this);" onfocus="    ClearWaterMark('Entrez votre recherche ici', this)" />
                            <p>

                                <input class="EditorStyle" style="font-size:14px;font-weight:bold" name="search" id="search" type="search" onblur="CreateWaterMark('Entrez votre recherche ici', this);" onfocus=" ClearWaterMark('Entrez votre recherche ici', this)" />


                                <button type="submit" class="btn btn-info btn-lg">
                                    <b> <span class="glyphicon-search"></span>Rehcercher</b>
                                </button>
                            </p>
                        </div>



                    </div>
                }*@
        </div>

        @*<div class="panel panel-info container-inner" style="top:-40px;width:550px;height:350px">*@
        <div class="panel-heading" style="height:7%;width:100%"><p style="font-weight:bold">Liste des TF trouvés</p></div>
        <div id="panelbodytbl" class="panel-body" style="height:90%;width:100%">
            <table class="table table-striped">
                <thead>
                    <tr class="info">
                        <th>
                            <P style="font-size:14px;font-weight:bold">  @Html.DisplayName("N° du TF")</P>
                        </th>
                        <th>
                            <P style="font-size:14px;font-weight:bold"> @Html.DisplayName("Nom du Propriétaire")</P>
                        </th>
                        <th><P style="font-size:14px;font-weight:bold">Opérations</P></th>
                    </tr>
                </thead>
                @if (Model.Count() == 0)
            {
                    <tr>
                        <td colspan="4">
                            Aucun enregistrement ne correspond critères de recherche !
                        </td>
                    </tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <b>  @Html.DisplayFor(modelItem => item.numerotf)</b>
                            </td>
                            @if ( item.proprietaires.ElementAt(0).NomComplet != null)
                            {
                            <td>
                                <b> @Html.DisplayFor(modelItem => item.proprietaires.ElementAt(0).prenom)&nbsp; &nbsp; @Html.DisplayFor(modelItem => item.proprietaires.ElementAt(0).nome2) &nbsp; &nbsp; @Html.DisplayFor(modelItem => item.proprietaires.ElementAt(0).nom3)</b>
                            </td>
                            }
                            else
                            {
                                <td>
                                    <b> @Html.DisplayFor(modelItem => item.proprietaires.ElementAt(0).nomestablishment)&nbsp; &nbsp;</b>
                                </td>
                            }

                            <td>
                                @Html.ActionLink("Detaille", "Details", "tfs", new { id = item.id }, new { @class = "btn btn-success" })
                                @*<input class="btn-xs btn btn-info" id='btn' type='button' onclick='btnfunc(@item.id,"details")' value='Détails'>*@
                                @*<input class="btn-xs btn btn-info" id='btnEdit' type='button' onclick='btnfunc(@item.id,"edit")' value='Modifier'>*@
                            </td>
                        </tr>
                    }
                }
            </table>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("index", "tfs",
                             new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

            @*@Html.PagedListPager(Model, page => Url.Action("index", "tfs", new
                {
                    page,
                    searchBy = Request.QueryString["searchBy"],
                    search = Request.QueryString["search"]
                }),*@
            @*/*PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "panelbodytbl" }))*/*@

        </div>
    </div>
</div>





