﻿@using PagedList.Mvc;
@using PagedList;
@model IPagedList<GestionTitreFoncierApp.Models.tf>

@{
    ViewBag.Title = "Index";
}
@{
//Layout = null;
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

@*<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>*@
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
@*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@

<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



@*<link href="~/css/IndexStyle1.css" rel="stylesheet" />*@
<script type="text/javascript" language="javascript">


    $(document).ready(function () {
        var Operationmessage = @(Html.Raw(Json.Encode(ViewBag.Message)));

        if(Operationmessage!="" && Operationmessage!=null)
        {
             alert(Operationmessage);

        }

        @*@{
            var v = "";
            if (ViewBag.message!=null && ViewBag.message!="")
            {
                 v = ViewBag.message;
            }
            else
            {
                 v = "";
            }
        }*@


    });

    function CreateWaterMark(defaultText, textBoxControl) {
        if (textBoxControl.value.length == 0) {
            textBoxControl.style.color = "gray";
            textBoxControl.value = defaultText;
        }
        // alert(textBoxControl);
    }

    function ClearWaterMark(defaultText, textBoxControl) {
        if (textBoxControl.value == defaultText) {
            textBoxControl.style.color = "black";
            textBoxControl.value = "";
        }
        //alert("Bonjour");
    }
    function btnfunc(id, optyp) {

        if (optyp == 'details') {
            var url = '@Url.Action("details", "tfs")?id=' + id;
            $('#right_col1').load(url);
        }
        else if (optyp == 'edit') {
            //var url = "/tfs/Edit?id=" + id;
            //window.location.href = url;
            //$.ajax({
            //    type: "Post",
            //    url: url,
            //    data: { id: id },
            //    success: function (data) {
            //        if (data == true) {


            //        }
            //    },
            //    error: function (msg) {
            //        alert($(this).id);
            //    }
            //});
            var url = "/tfs/edit?id=" + id;
            // location.reload();
            // var url = "/tfs/tes";
            $.ajax({
                type: "get",
                url: url,
                success: function (data) {

                    $(".modal-body").html(data);


                    $("#myModal3").modal({ backdrop: "static" });
                    $(".modal-header").html("");
                    //$(".modal-header").append("<div class='Container' <h1 style='text-align:center;font-size:24px;align:center'><b>Mise à jour d'un TF</b></h1><button style='float:right' type='button' class='btn btn-info btn-xs' data-dismiss='modal'>Fermer</button></div>");
                    $(".modal-header").append("<div class='Container' <h1 style='text-align:center;font-size:24px;align:center'><b>Mise à jour d'un TF</b></h1><button style='float:right' type='button' class='btn btn-info btn-xs' onclick='NavigateToIndex()'>Fermer</button></div>");
                    $("#myModal3").css({
                        "height": "100%",
                        "width": "100%",
                    });
                    $(".modal-header").css({
                        "height": "8%",
                        "width": "100%",
                    });
                    $(".modal-body").css({
                        "height": "92%",
                        "width": "100%",
                    });
                    $(".modal-dialog").css({
                        "height": "100%",
                        "width": "100%",
                    });
                    $(".modal-content").css({
                        "height": "100%",
                        "width": "100%",
                    });
                    $(".modal-footer").css({
                        "height": "0%",
                        "width": "0%",
                    });
                },
                error: function (msg) {
                }
            })
        }

        //else if(optyp=='delete')
        //{
        @*var url = '@Url.Action("DeleteConfirmed", "tfs")?id=' + id;*@
        //var url = "/tfs/DirectDelete/";
        //    $.ajax({
        //        type: "POST",
        //        url: url,
        //        data: { id: id },
        //        success: function (data) {
        //            if (data==true ) {
        //            //    alert("ce numerotf est déjà existant");
        //            //    $('#numerotf').css('background', 'pink');
        //            //    return false;
        //            //}
        //            //else {
        //            }
        //        },
        //        error: function (msg) {
        //            alert($(this).id);
        //        }
        //    });
        //}

        //var url = "/tfs/create/";
        //// var url = "/tfs/tes";
        //$.ajax({
        //    type: "get",
        //    url: url,
        //    success: function (data) {
        //        $('#myModal3').html(data);
        //        //  $("#myModal3").modal({ backdrop: "static" });
        //        $("#myModal3").modal({ backdrop: true });
        //    },
        //    error: function (msg) {
        //    }
        //})
        // }
    }
    function gettfCreateForm() {
        var url = "/tfs/create/";
        // var url = "/tfs/tes";
        $.ajax({
            type: "get",
            url: url,
            success: function (data) {

                $(".modal-body").html(data);
                $("#myModal3").modal({ backdrop: "static" });
                $(".modal-header").html("");
                //$(".modal-header").append("<div class='Container' <h1 style='text-align:center;font-size:24px;align:center'><b>Ajouter un nouveau TF</b></h1><button style='float:right' type='button' class='btn btn-info btn-xs' data-dismiss='modal'>Fermer</button></div>");
                $(".modal-header").append("<div class='Container' <h1 style='text-align:center;font-size:24px;align:center'><b>Ajouter un nouveau TF</b></h1><button style='float:right' type='button' class='btn btn-info btn-xs' onclick='NavigateToIndex()'>Fermer</button></div>");
                $("#myModal3").css({
                    "height": "100%",
                    "width": "100%",
                });
                $(".modal-header").css({
                    "height": "8%",
                    "width": "100%",
                });
                $(".modal-body").css({
                    "height": "92%",
                    "width": "100%",
                });
                $(".modal-dialog").css({
                    "height": "100%",
                    "width": "100%",
                });
                $(".modal-content").css({
                    "height": "100%",
                    "width": "100%",
                });
                $(".modal-footer").css({
                    "height": "0%",
                    "width": "0%",
                });



            },
            error: function (msg) {
            }
        })
        // alert("Ziad");
    }
    function NavigateToIndex() {
        location.reload();
    }
</script>
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*<right><p style="font-weight:bold;font-size:13px;position: relative;top:-0px">@ViewBag.username</p></right>*@

<div id="myModal3" class="modal fade" role="dialog" style="height:100%;width:100%">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body" style="height:100%;width:100%">

            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>

<div id="wrap" style="width:100%;height:100%;border:inset">
    <div class="panel panel-info" style="overflow:scroll;float:left;width:35%;height:100%">
        @*<div class="panel panel-info" style="width:135%;height:105%">*@
            <div class="panel panel-info" style="width:100%;height:100%">

                <div class="panel-heading" style="width:100%;height:7%"><p style="font-weight:bold">Effectuer une Recherche de TFs</p></div>

                <div id="panelbody" class="panel-body" style="width:100%;height:27%">


                    <p>



                        <a href="/tfs/create" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-plus"></span> Créer un nouveau TF
                        </a>

                    </p>

                    <script>
                    </script>
                    @using (@Html.BeginForm("index", "tfs", FormMethod.Get))
                    {

                        <div class="form-inline">
                            <div class="form-group col-lg-12">
                                <label style="font-size:14px;font-weight:bold"><b>Rechercher par:</b></label>
                                <input type="radio" id="searchBy" name="searchBy" value="numerotf" checked /><text class="radioStyletext">Numéro TF</text>
                                <input type="radio" id="searchBy" name="searchBy" value="proprietre" /><text class="radioStyletext">Propriétaire</text>

                            </div>


                            <div class="form-group">
                                @*<input class="EditorStyle" style="position:relative;left:-100px;text-align:right;font-size:17px;text-align:center" name="search" id="search" type="search" onblur="CreateWaterMark('Entrez votre recherche ici', this);" onfocus="    ClearWaterMark('Entrez votre recherche ici', this)" />*@
                                <p>

                                    <input class="EditorStyle" style="font-size:14px;font-weight:bold" name="search" id="search" type="search" onblur="CreateWaterMark('Entrez votre recherche ici', this);" onfocus="    ClearWaterMark('Entrez votre recherche ici', this)" />


                                    <button type="submit" class="btn btn-info btn-lg">
                                        <b> <span class="glyphicon-search"></span>Rehcercher</b>
                                    </button>
                                </p>
                            </div>



                        </div>
                    }
                </div>

                @*<div class="panel panel-info container-inner" style="top:-40px;width:550px;height:350px">*@
                <div class="panel-heading" style="height:7%;width:100%"><p style="font-weight:bold">Liste des TF trouvés</p></div>
                <div id="panelbodytbl" class="panel-body" style="height:90%;width:100%">
                    <table class="table table-striped">
                        <thead>
                            <tr class="info">
                                <th>
                                    <P style="font-size:14px;font-weight:bold">  @Html.DisplayName("N° du TF")</P>
                                </th>
                                <th>
                                    <P style="font-size:14px;font-weight:bold"> @Html.DisplayName("Nom du Propriétaire")</P>
</th>
                                <th><P style="font-size:14px;font-weight:bold">Opérations</p></th>
                            </tr>
                        </thead>
                        @if (Model.Count() == 0)
            {
                            <tr>
                                <td colspan="4">
                                    Aucun enregistrement ne correspond critères de recherche !
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <b>  @Html.DisplayFor(modelItem => item.numerotf)</b>
                                    </td>
                                    <td>
                                        <b> @Html.DisplayFor(modelItem => item.proprietaires.ElementAt(0).prenom)&nbsp; &nbsp; @Html.DisplayFor(modelItem => item.proprietaires.ElementAt(0).nome2) &nbsp; &nbsp; @Html.DisplayFor(modelItem => item.proprietaires.ElementAt(0).nom3)</b>
                                    </td>

                                    <td>
                                        <input class="btn-xs btn btn-info" id='btn' type='button' onclick='btnfunc(@item.id,"details")' value='Détails'>
                                        @*<input class="btn-xs btn btn-info" id='btnEdit' type='button' onclick='btnfunc(@item.id,"edit")' value='Modifier'>*@
                                    </td>
                                </tr>
                            }
                        }
                    </table>

                    @Html.PagedListPager(Model, page => Url.Action("index", "tfs", new
           {
               page,
               searchBy = Request.QueryString["searchBy"],
               search = Request.QueryString["search"]
           }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "panelbodytbl" }))


                </div>
            </div>
    </div>



    @*<div id="right_col1" style="float:unset;width:auto;height:auto;border:inset">*@
    @*<div id="right_col1" class="" style="float:unset;width:105%;height:auto">*@
    @*<div id="right_col1"  style="overflow-x:scroll;overflow-y:scroll;float:unset;width:90%;height:auto;border:inset">


        </div>*@
    <div id="right_col1" class="panel panel-info" style="float:right;width:65%;height:100%;">

        @*style="float:left;width:auto;height:100%;border:inset;margin-right:auto"*@
    </div>
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

