﻿
@{

    //   Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";



    AjaxOptions options = new AjaxOptions
    {

        //  UpdateTargetId = "lst",
        //Confirm = "Are you sure to start search?",
        // InsertionMode = InsertionMode.InsertAfter,
        //LoadingElementId = "divLoading"
        OnSuccess = "chargeindex()",
        //OnSuccess = "chargeindex("+Model.id+")"
        OnBegin = "return validateForm()",
        OnFailure = "OnFailure",
        OnComplete = "OnComplete"
    };
}

<link href="~/css/UploadFormStyle.css" rel="stylesheet" />
@*<script src="~/Scripts/Commoncustom.js"></script>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
<p style="font-size:100px"></p><br /><br />
<script>
    var str;
</script>
<script type="text/javascript" language="javascript">
    function chargeindex(data) {
        alert(data.msg);

    }
    function OnComplete(data) {
        alert(data);

    }

    function OnFailure(ajaxContext) {
        alert(data.msg);
    }

    function validateForm() {

        if (ValidateEmptyUploade()) {
            var reslt = ValidateImagesParentFolder();
            if (reslt == "1") {

                alert("Téléchargé avec succès");
                return false;
            }

            else if (reslt == "2") {
                alert("ce dossier a ete transfere dans le serveur deja"); return false;
            }
            else
            {
                alert("Le réseau à ne pas disponible"); return false;

            }
           // alert(str);
            return false;
        }

        else {
            alert("Vous ne choisissez pas les fichiers"); return false;
        }

    }



    function ValidateEmptyUploade() {
        var inputval = $("#fileuptxt").val();
        if (inputval == '' || inputval == null) {
            $("#fileuptxt").css('background', 'pink');
            return false;
        }
        else {
           
            str = "";
            // var b = filename.charAt(13);
            str = inputval;
            return true;
        }
    }
    function ValidateImagesParentFolder() {
        var url = "/tfs/CheckFolderPathExist/";
        var returnedresult = $.ajax({
            type: "Post",
            url: url,
            data: { parentpath: str },
            async: false,
            success: function (data) {
                return data;
            },
            error: function (msg) {
                // return false;
            }
        }).responseText;
        return (returnedresult);
    }






</script>
<div class="panel panel-info" style="height:82%">
    <div class="panel-heading"><left><h3><b>Téléchargement d'images de TF</b></h3></left></div>
    <div class="panel-body">

        @using (Html.BeginForm("UploadImages", "tfs", FormMethod.Post, new { onsubmit = "return validateForm()", OnSuccess = "chargeindex()", enctype = "multipart/form-data", name = "new_post" }))


        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="ParentFolder" id="ParentFolder" />

            @*<input type="hidden" id="ParentFolder" name="ParentFolder"  value="ll" />*@
            @*@Html.Hidden("ParentFolder");*@
            <div class="form-horizontal" style="float:left">


                @Html.ValidationSummary(true)
                @*<div class="form-group">
                    @Html.Label("Choisissez le dossier contenant les images:", htmlAttributes: new { @class = "control-label col-md-11" })
                  <br />
                      <input id="fileuptxt" name="fileuptxt" type="text" />
                    
                </div>*@


                <div class="form-group">
                    @Html.Label("Entrez le numéro de tf:", htmlAttributes: new { @class = "control-label col-lg-11" })
                    <div class="col-lg-1">
                        <input class="input-lg"  id="fileuptxt" name="fileuptxt" type="text" />
                    </div>
                </div>



                @*<div class="col-md-offset-2 col-md-10">*@
                <div style="position:relative;right:-500px">
                    @*<input type="submit" value="Créer" class="btn btn-default" />*@
                    <button type="submit" class="btn btn-info btn-lg" onclick="">
                        <span class="glyphicon glyphicon-upload"></span> Envoyer les images au serveur
                    </button>
                </div>



            </div>
        }





    </div>
</div>
