﻿
@{

    //   Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";



    AjaxOptions options = new AjaxOptions
    {

        //  UpdateTargetId = "lst",
        //Confirm = "Are you sure to start search?",
        // InsertionMode = InsertionMode.InsertAfter,
        //LoadingElementId = "divLoading"
        OnSuccess = "chargeindex()",
        //OnSuccess = "chargeindex("+Model.id+")"
        OnBegin = "return validateForm()",
        OnFailure = "OnFailure",
        OnComplete= "OnComplete"
    };
}

<link href="~/css/UploadFormStyle.css" rel="stylesheet" />
@*<script src="~/Scripts/Commoncustom.js"></script>*@
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
<p style="font-size:100px"></p><br /><br />
<script>
    var str;

</script>
<script type="text/javascript" language="javascript">
    function chargeindex(data) {
        alert(data.msg);

    }
    function OnComplete(data) {
        alert(data);

    }

    function OnFailure(ajaxContext) {
        alert(data.msg);
    }

    function validateForm() {
      
        if (ValidateEmptyUploade()) {
            var reslt = ValidateImagesParentFolder();
            if (reslt == "1") {

                //alert("Téléchargé avec succès");
                return true;
            }

            else if (reslt == "2") {
                alert("ce dossier a ete transfere dans le serveur deja"); return false;
            }
            else
            {
                alert("Coneection erro"); return false;

            }
           // alert(str);
            return false;
        }

        else {
            alert("Vous ne choisissez pas les fichiers"); return false;
        }

    }



    function ValidateEmptyUploade() {
        var inputval = $("#fileupload").val();
        if (inputval == '' || inputval == null) {
            $("#fileupload").css('background', 'pink');
            return false;
        }
        else {
            var inp = document.getElementById('fileupload');
            //var filename = inp.files.item(0).name.toString();
            var filename = inp.files.item(0);

            str = "";
            str = filename;
            // var b = filename.charAt(13);
            for (var i = 0; i < filename.length; i++) {
                if (filename.charAt(parseInt(i)) == " ") {
                    break;
                }
                else {
                   // str += filename.charAt(parseInt(i));
                }

            }


            return true;
        }
    }
    function ValidateImagesParentFolder() {
        $("#ParentFolder").val(str);
        var url = "/tfs/CheckFolderPathExist/";
        var returnedresult = $.ajax({
            type: "Post",
            url: url,
            data: { parentpath: str },
            async: false,
            success: function (data) {
                return data;
            },
            error: function (msg) {
                // return false;
            }
        }).responseText;
        return (returnedresult);
    }

    function imageselectPrepare() {
        var inp = document.getElementById('fileupload');
        var filename = inp.files.item(0).name.toString();
        var str = "";
        for (var i = 0; i < filename.length; i++) {
            if (filename.charAt(parseInt(i)) == " ") {
                break;
            }
            else {
                str += filename.charAt(parseInt(i));
            }
        }
        var numero = "";
        for (var i = str.length; i > 0; i--) {
            if (str.charAt(parseInt(i)) == "-") {
                break;
            }
            else {
                numero += str.charAt(parseInt(i));
            }
        }
        var no = numero.split("").reverse().join("");
        
        $('#numerotf').val(no);
    }




</script>
<div class="panel panel-info" style="height:82%">
    <div class="panel-heading"><left><h3><b>Téléchargement d'images de TF</b></h3></left></div>
    <div class="panel-body">

      @using (Html.BeginForm("UploadImages", "tfs", FormMethod.Post, new { onsubmit = "return validateForm()", OnSuccess = "chargeindex()", enctype = "multipart/form-data", name = "new_post" }))


      {
        @Html.AntiForgeryToken()
        <input type="hidden" name="ParentFolder" id="ParentFolder" />
        <input type="hidden" id="numerotf" name="numerotf" />

            @*<input type="hidden" id="ParentFolder" name="ParentFolder"  value="ll" />*@
            @*@Html.Hidden("ParentFolder");*@
            <div class="form-horizontal" style="float:left">


                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.Label("Choisissez le dossier contenant les images:", htmlAttributes: new { @class = "control-label col-md-11" })
                    @*<label for"lblchoose" value="">choisissez un dossier:</label>*@
                    <div id="FileuploadDiv " class="col-md-1">
                        <input id="fileupload" name="fileupload" type="File" class="inputFile" multiple="multiple" onchange="imageselectPrepare()" />
                    </div>
                </div>

                @*<div class="col-md-offset-2 col-md-10">*@
                <div style="position:relative;right:-500px">
                    @*<input type="submit" value="Créer" class="btn btn-default" />*@
                    <button type="submit" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-upload"></span> Envoyer les images au serveur
                    </button>
                </div>



            </div>
      }
    </div>
</div>
