﻿
@model GestionTitreFoncierApp.Models.Tfs_Distraction

<div class="alert-success modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Details du tf N° @Html.DisplayFor(model => model.NumeroTF) </h4>
</div>
<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Numero TF :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroTF)
        </dd>
        <dt>
            @Html.DisplayName("Superficie :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Superficie)
        </dd>
        <dt>
            @Html.DisplayName("Valeur du terrain :")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValeurTerrain)
        </dd>

        <dt>
            @Html.DisplayName("Proprietaires :")
        </dt>
        @foreach (var item in Model.Tfs_Distraction_Proprios )
        {
        <dd>
                <li> @item.NomComplet </li>
        </dd>
        }
       
    </dl>
</div>

