﻿@using GestionTitreFoncierApp.Helpers
@model IEnumerable<GestionTitreFoncierApp.Models.Tfs_Distraction>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#cff5f2;">
        <h2 class="panel-title" style="text-align:center;"><strong><b> Liste des tf final </b></strong></h2>
    </div>

    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayName("Numeros Tf")
            </th>
            <th>
                @Html.DisplayName("Superficie")
            </th>

            <th>
                @Html.DisplayName("Valeur terrain")
            </th>
            <th>
                @Html.DisplayName("Proprietaires")
            </th>
            <th>
            </th>
        </tr>
        @*@if (Model.Count() > 0)
            {*@
        @foreach (var item in Model)
            {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Superficie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValeurTerrain)
                </td>
                <td>
                    @if (item.Tfs_Distraction_Proprios.Count() > 0)
                    {
                        <table>
                            @foreach (var itemProp in item.Tfs_Distraction_Proprios)
                            {
                                <tr style="border:none;border-top:none;">
                                    <td style="font:bold 14px arial;">@itemProp.NomComplet</td>
                                </tr>
                            }
                        </table>
                    }
                </td>
                <td>
                    <div class="pull-right">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-th-list'> Voir Détails </span>", "Details", "DetailsDistraction", "Distractions", routeValues: new { id = item.ID }, htmlAttributes: new { data_modal = "", @class = "modalDistraction btn btn-default" })
                        </div>
                </td>
            </tr>
        }
        @*}
            else
            {
                @:
                <div class="text-muted">&nbsp;Cette Distraction ne contient aucun tf </div>
                }*@

    </table>

</div>

<script type="text/javascript">


        $(function () {
            $.ajaxSetup({ cache: false });

            $(".modalDistraction").on("click", function (e) {
               // alert(" PAGE ACTES");
                // hide dropdown if any (this is used wehen invoking modal from link in bootstrap dropdown )
                //$(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');

                $('#DisFuModalContent').load(this.href, function () {
                   // alert(" saadModalContent load");
                    $('#DisFuModal').modal({
                        /*backdrop: 'static',*/
                        keyboard: true
                    }, 'show');
                   // alert(" saadModalContent apres show");
                    bindFor(this);
                });
                return false;
            });
        });


        function bindFor(dialog) {
            $('form', dialog).submit(function () {
               // alert(" bindForm form");
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            //alert(" bindForm form saadModalContent succes");
                            $('#DisFuModal').modal('hide');
                            $('#replacedist').load(result.url); //  Load data from the server and place the returned HTML into the matched element
                        } else {
                           // alert(" bindForm form saadModalContent echec");
                            $('#DisFuModalContent').html(result);
                            bindForm(dialog);
                        }
                    }
                });
                return false;
            });
        }
</script>


