﻿@model GestionTitreFoncierApp.Models.Operations
@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>*@
<div class="row col-md-offset-1" style="margin-right:10px;">

    @{ Html.RenderAction("DetailsTF", "Operations", new { id = Model.tf.id }); }
    <div class="col-md-10">
        <div class="panel panel-default Pan">
            <div class="panel-heading" style="background-color:#70cfd5;">
                <h3 class="panel-title" style="color:#000000;">
                    <b class="col-md-offset-5"> Images du TF </b>
                </h3>
                <span class="pull-right clickables"><i id="ii" class="glyphicon glyphicon-chevron-down shev"></i></span>
            </div>

            <div class="panel-body bod">
                @{ Html.RenderAction("DisplayImages", "Other", new { numerotf = Model.tf.numerotf, typview = 1, imageindex = 1 }); }

            </div>
        </div>
    </div>

    <div class="col-md-10">

        @using (Html.BeginForm("Create", "Distractions", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color:#9dacad;">
                        <h3 class="panel-title" style="color:#ffffff;">
                            <b style="text-align:left;"> Enregistrement d'une nouvelle Distraction <u class="col-md-offset-7"> Etape 1/2</u></b>
                        </h3>

                    </div>
                    <div class="panel-body">
                        @if (TempData["message"] != null)
                        {
                            if (TempData["status"].ToString() == "Success")
                            {
                                <div class="alert-message alert-message-success">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4>
                                        <i class="glyphicon glyphicon-ok"></i> Success!
                                    </h4>
                                    <p>
                                        <strong> @TempData["message"]</strong>
                                        <a href="@Url.Action("Details", "Hypotheques", new { id = TempData["IDHypo"].ToString() })"><i> voir detaille</i></a>
                                    </p>
                                </div>
                            }
                            if (TempData["status"].ToString() == "Erreur")
                            {
                                <div class="alert-message alert-message-warning">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4>
                                        <i class="glyphicon glyphicon-ok"></i> Erreur!
                                    </h4>
                                    <p>
                                        <strong class="text-warning"> @TempData["message"]</strong>
                                    </p>
                                </div>
                            }
                        }
                        @Html.ValidationSummary(true)
                        @Html.Hidden("idNatureOperation")
                        @Html.Hidden("IDTF")
                        @Html.Hidden("idTypeOperation")
                        @Html.Hidden("superficie")
                        @Html.Hidden("valeur")


                        @* ---------------- Partie Gauche ------------------------*@

                        <div align="center" style="border-right:1px solid #000000;">
                            <div>
                                <fieldset>
                                    <legend class="success"> Informations des Tf Finals </legend>
                                    <div class="form-group col-md-offset-2">
                                        <label class="control-label col-md-4"> Date d'operation :</label>
                                        <div class="col-md-4">
                                            @Html.TextBox("dateOperation", "", htmlAttributes: new { @class = "form-control", type = "date", required = "required" })

                                        </div>
                                        <div class="col-md-1">
                                            <label id="ReponseDate"></label>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                            <label class="control-label col-md-6"> Nombre de TFs a fusionné :</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    @Html.TextBox("NbreTFS", "", htmlAttributes: new { @class = "form-control", type = "number", required = "required", @id = "NbreTFS" })
                                                    @*<input type="text" value="" class="form-control required" name="NbreTFS" id="NbreTFS" />
                                                    <div class="input-group-addon">
                                                       <i class="glyphicon glyphicon-ok"  id="PassTrueAPOk" style="color:forestgreen;"></i>
                                                     <i class="glyphicon glyphicon-remove" id="PassTrueAPNoOk" style="color:red;"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    @*<table class="table table-hover table-bordered" id="TablePrincipale">
                                            <thead>
                                                <tr>
                                                    <th>Numero TF</th>
                                                    <th>Superficie</th>
                                                    <th>Valeur</th>
                                                    <th>Proprietaires</th>
                                                    <th>
                                                        <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal"> Ajouter un TF</button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="TableTfs"></tbody>


                                        </table>*@
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1" id="replacedist">
                                            @{ Html.RenderAction("List", "Distractions", new { id = Model.idTF ,idd = Model.id}); }
                                        </div>
                                    </div>


                                </fieldset>
                            </div>
                        </div>
                        <div>
                            @* ------------------- Partie Droite -------------------------*@
                            @*<div class="col-md-6" align="center">
                <div style="margin-bottom:10px;">
                    <fieldset>
                        <legend class="success">TF principal</legend>
                        <ul id="" class="megaliste">
                            <li>
                                <label class="control-label col-md-4">N° TF :</label>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(model => model.tf.numerotf, htmlAttributes: new { @class = "form-control ", @readonly = "true", disabled = "true" })

                                </div>
                            </li>
                            <li>
                                <label class="control-label col-md-4">Valeur TF :</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        @Html.TextBox("valeurtxt", null, htmlAttributes: new { @class = "form-control ", @id = "valeurtxt" })
                                        <div class="input-group-addon">
                                            <i class=""><sup>FDJ</sup></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label class="control-label col-md-4">Superficie TF :</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        @Html.TextBox("supertxt", null, htmlAttributes: new { @class = "form-control ", @id = "supertxt" })
                                        <div class="input-group-addon">
                                            <i class="">m&sup2;</i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <footer></footer>
                    </fieldset>

                </div>
            </div>*@
                        </div>
                    </div>
                    <footer>
                        <button type="submit" class="btn btn-success btn-lg col-md-offset-5"> Continuer l'operation <span class="glyphicon glyphicon-play"></span></button>
                    </footer>
                </div>
            </div>}
    </div>
</div>


