﻿@using GestionTitreFoncierApp.Helpers
@*@model PagedList.IPagedList<GestionTitreFoncierApp.Models.utilisateur>
    @using PagedList.Mvc;*@
@model IEnumerable<GestionTitreFoncierApp.Models.utilisateur>
@{

    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link href="~/css/IndexinfoLableStyle.css" rel="stylesheet" />
<script type="text/javascript" language="javascript">

    function btnfunc(id, optyp) {

        if (optyp == 'details') {
            var url = '@Url.Action("details", "utilisateurs")?id=' + id;
            $('#right_col1').load(url);
        }
        else if (optyp == 'edit') {
            //alert("yes");
            @*var url = '@Url.Action("DeleteConfirmed", "tfs")?id=' + id;*@
            //var url = "/tfs/Edit/";
            var url = "/utilisateurs/Edit?id=" + id;
            window.location.href = url;
            $.ajax({
                type: "Post",
                url: url,
                data: { id: id },
                success: function (data) {
                    if (data == true) {


                    }
                },
                error: function (msg) {
                    // alert($(this).id);
                }
            });
        }
        //else if(optyp=='delete')
        //{
        @*var url = '@Url.Action("DeleteConfirmed", "tfs")?id=' + id;*@
        //var url = "/tfs/DirectDelete/";
        //    $.ajax({
        //        type: "POST",
        //        url: url,
        //        data: { id: id },
        //        success: function (data) {
        //            if (data==true ) {
        //            //    alert("ce numerotf est déjà existant");
        //            //    $('#numerotf').css('background', 'pink');
        //            //    return false;
        //            //}
        //            //else {
        //            }
        //        },
        //        error: function (msg) {
        //            alert($(this).id);
        //        }
        //    });
        //}
    }
</script>
<div class="row col-md-offset-1" style="margin-top:50px;margin-right:10px;margin-bottom:80px;">
    @*<div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title" style="text-align:center;font-size:18px;"><strong> Recherche des localisations </strong></h1>
                </div>
                @using (Html.BeginForm("Index", "quartiers", FormMethod.Get, new { enctype = "multipart/form-data", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="panel-body">


                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.Label("Région :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownList("RegId", null, " --------- Tout -------", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group" id="Communes">
                                @Html.Label("Commune :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownList("CommuneId", null, " --------- Tout -------", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.Label("Ville :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownList("VilleId", null, " --------- Tout -------", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="form-group" id="Arrond">
                                @Html.Label("Arrondissement :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.DropDownList("ArrondId", null, " --------- Tout -------", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="col-lg-6">

                            <div class="form-group" style="margin-top:15px;">
                                @Html.Label("Type du Lieu :", htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.RadioButton("typLieu", "all", isChecked: true, htmlAttributes: new { @class = "" })<text style="font-size:14px;font-weight:bold">Tout</text>
                                    @Html.RadioButton("typLieu", "Quart", isChecked: true, htmlAttributes: new { @class = "" })<text style="font-size:14px;font-weight:bold">Quartier</text>
                                    @Html.RadioButton("typLieu", "Lotis", isChecked: true, htmlAttributes: new { @class = "" })<text style="font-size:14px;font-weight:bold">Lotissement</text>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">

                        <div class="col-md-offset-8">
                            <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span> Rechercher
                            </button>
                            <button class="btn btn-danger" onclick="Reset()">
                                <span class="glyphicon glyphicon-remove"></span>
                                Réinitialiser
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>*@
    <div class="col-md-10">
        <div class="panel panel-primary" style="border:hidden;">
            <div class="panel-heading">
                <h1 class="panel-title" style="text-align:center;">Liste des utilisateurs</h1>
            </div>
            <div class="panel-body">
                @*<p>

                        <a href="/utilisateurs/create" class="btn btn-success btn-xs">
                            <span class="glyphicon glyphicon-plus"></span> Créer un nouveau
                        </a>

                    </p>*@


                <div class="table-responsive">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr class="info">
                                <th>
                                    @Html.ActionLink("Nom", "_UtilisateurMiseaJour", new { sortOrder = ViewBag.NameSortParm })
                                </th>
                                <th>
                                    @Html.DisplayName("Login")
                                </th>
                                <th>
                                    @Html.DisplayName("Statut")
                                </th>
                                <th>
                                    @Html.DisplayName("Type")
                                </th>
                                <th style="text-align:center">Opérations</th>
                            </tr>
                        </thead>
                        @if (Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="4">
                                    No records match search criteria
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nom)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.login)
                                    </td>
                                    <td>
                                        @*@if(Convert.ToBoolean(item.etat) ==1)*@
                                        @{
                                            var eta = item.etat;
                                            if (eta == true)
                                            {
                                                @*@Html.Display("Oui");*@
                                                <text> Actif</text>
                                            }
                                            else
                                            {
                                                <text> Inactif</text>
                                            }
                                        }
                                        @*@if ((item.etat).ToString() == "1")
                                             {
                                                @Html.Display("Oui");
                                            }
                                            else
                                            {
                                                @Html.Display("Non");
                                            }*@

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.typeutilisatur1.libelle)
                                    </td>
                                    <td>
                                        @*<input class="btn-xs btn btn-info" id='btn' type='button' onclick='btnfunc(@item.id,"details")' value='Détails'>*@
                                        @*<input class="btn-xs btn btn-info" id='btnsupr' type='button' onclick='btnfunc(@item.id,"delete")' value='Suprimer'>*@
                                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil'> Modifier</span>", "", "Edit", "utilisateurs", routeValues: new { id = item.id }, htmlAttributes: new { data_modal = "", @class = " btn btn-primary" })
                                        @*<input class="btn-xs btn btn-info" id='btnEdit' type='button' onclick='btnfunc(@item.id,"edit")' value='Modifier'>*@
                                    </td>
                                </tr>
                                                }
                                            }
                    </table>
                </div>
                @*<div class="panel-footer">

                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))


                    </div>*@
            </div>
        </div>
    </div>
</div>



@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
