﻿@model GestionTitreFoncierApp.Models.utilisateur


<div class="row col-md-offset-1" style="margin-right:10px;">
    <div class="col-md-10">
        <div class="panel panel-primary" style="border:hidden;">
            <div class="panel-heading">
                <h3 class="panel-title">Nom: @Html.DisplayFor(model => model.nom)</h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    @if (TempData["message"] != null)
                    {
                        if (TempData["status"].ToString() == "Erreur")
                        {
                            <div class="alert-message alert-message-warning">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4>	<i class="glyphicon glyphicon-ok"></i> Erreur!</h4>
                                <p> <strong class="text-warning"> @TempData["message"]</strong></p>
                            </div>
                        }
                    }



                    <div class="form-horizontal col-md-offset-3">
                        @Html.HiddenFor(model => model.id, htmlAttributes: new { @class = "ID" })
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.Label("Login: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(model => model.login, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.login)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Actuel mot de passe: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                <div class="input-group">
                                    @Html.PasswordFor(model => model.motdepasse, htmlAttributes: new { @class = "Pass form-control", required = "required" })
                                    <div class="input-group-addon" id="PassTrueAP">
                                        <i class="" id="PassTrueAPOk"><span class="glyphicon glyphicon-ok " style="color:seagreen;"></span></i>
                                        <i class="" id="PassTrueAPNoOk"><span class="glyphicon glyphicon-remove " style="color:red;"></span></i>
                                    </div>
                                </div>
                                      @Html.ValidationMessageFor(model => model.motdepasse)
                                </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Nouveau mot de passe: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                @Html.Password("NewPassword", null, htmlAttributes: new { @class = "form-control", required = "required" })
                                @Html.ValidationMessage("NewPassword")
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Confirmation mot de passe: ", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-5">
                                <div class="input-group">
                                    @Html.Password("ConfNewPassword", null, htmlAttributes: new { @class = "form-control", required = "required" })

                                    <div class="input-group-addon" id="PassTrueCP">
                                        <i class="" id="PassTrueCPOk"><span class="glyphicon glyphicon-ok " style="color:seagreen;"></span></i>
                                        <i class="" id="PassTrueCPNoOk"><span class="glyphicon glyphicon-remove " style="color:red;"></span></i>
                                    </div>
                                </div>
                                @Html.ValidationMessage("ConfNewPassword")
                            </div>
                        </div>

                    </div>
                </div>
                    <div class="panel-footer" style="margin:1px 1px 1px 1px;">
                        <button type="submit" class="btn btn-success btn-lg col-md-offset-5"> Enregistrer <span class="glyphicon glyphicon-save"></span></button>
                    </div>

            }
        </div>
    </div>
</div>


<script>
    $('#PassTrueAP').hide();
    $('#PassTrueAPOk').hide();
    $('#PassTrueAPNoOk').hide();
    $('#PassTrueCP').hide();
    $('#PassTrueCPOk').hide();
    $('#PassTrueCPNoOk').hide();


    
    var TeamURL = '/utilisateurs/VerifiePass';
        $(function () {
            $('.Pass').change(function () {
                var value = $(this).val();
                var v = document.getElementById('id').value;
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "POST",
                    url: TeamURL,
                    cache: false,
                  
                    data: {id:v ,pass:value },
                    datatype: "json",
                    success: function (data) {
                        //debugger;

                        if (data.success) {
                            $('#PassTrueAP').show();
                            $('#PassTrueAPOk').show();
                            $('#PassTrueAPNoOk').hide();
                        }
                        else {
                            $('#PassTrueAP').show();
                            $('#PassTrueAPNoOk').show();
                            $('#PassTrueAPOk').hide();
                        }
                    },
                   
                });
            });  
        });


        $(function () {
            $('#ConfNewPassword').change(function () {
                var value = $(this).val();
                var v = document.getElementById('NewPassword').value;
                if (value == v) {
                    $('#PassTrueCP').show();
                    $('#PassTrueCPOk').show();
                    $('#PassTrueCPNoOk').hide();
                }
                else {
                    $('#PassTrueCP').show();
                    $('#PassTrueCPNoOk').show();
                    $('#PassTrueCPOk').hide();
                }
            });
        });
</script>