﻿@model GestionTitreFoncierApp.Models.utilisateur

@{
    ViewBag.Title = "Create";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.ui.unobtrusive.js"></script>
<link href="~/css/QuartierCss.css" rel="stylesheet" />

<script type="text/javascript" language="javascript">

    $("form").on("submit", function (event) {
        var currentform = $(this);

        $.ajax({
            type: "POST",
            url: currentform.attr('action'),
            data: currentform.serialize(),
            error: function (xhr, status, error) {
                //do something about the error
            },
            success: function (response) {
                //do something with response
                //  LoadBooks();
                alert("hei");
            }
        })
    });



    function validateForm() {
        var isValid = false;
        var nom = $('#nom').val();
        var login = $('#login').val();
        var password = $('#motdepasse').val();
        var type = $('#' + 'typeutilisatur' + ' option:selected').val();
        var url = "/utilisateurs/verfyuserLogin/";
        if (nom == '' || login == null) {
            $('#nom').css({ 'background-color': 'pink' });
            alert("nom d'utilisateur est obligatoire!");
            isValid = false; return isValid;
        }
        else {
            $('#nom').css({ 'background-color': 'white' });
        }

        if (login == '' || login == null) {
            alert("login d'utilisateur est obligatoire!");
            $('#login').css({ 'background-color': 'pink' });
            isValid = false; return isValid;

        }
        else {
            $.ajax({
                type: "Post",
                url: url,
                data: { loginvalue: login },
                success: function (data) {
                    if (data == true) {
                        $('#login').css({ 'background-color': 'pink' });
                        alert("ce Login existe deja!");
                        isValid = false;
                        return isValid;

                    }
                    else {
                        $('#login').css({ 'background-color': 'white' });

                    }
                },
                error: function (msg) {
                    alert($(this).id);
                }
            });
        }
        if (password == '' || password == null) {
            $('#motdepasse').css({ 'background-color': 'pink' });
            alert("Mot de passe d'utilisateur est obligatoire!");
            isValid = false; return isValid;
        }
        else {
            $('#motdepasse').css({ 'background-color': 'white' });
        }

        if (type == '' || type == null) {
            alert("Type  d'utilisateur est obligatoire!");
            $('#typeutilisatur').css({ 'background-color': 'pink' });
            isValid = false; return isValid;

        }
        else {
            $('#typeutilisatur').css({ 'background-color': 'white' });
        }
        isValid = true;
        return isValid;
    }
</script>
@*<link href="~/css/utilisateurLabelStyle.css" rel="stylesheet" />*@




<div class="row col-md-offset-1" style="margin-right:10px;">
    <div class="col-md-10">
        @*@using (Html.BeginForm("Create", "utilisateurs", FormMethod.Post, new { onsubmit = "return validateForm()" }))*@
        <form class="form-horizontal" role="form" action="/utilisateurs/Create/" method="post" onsubmit="return validateForm()">
            <div class="form-horizontal">
                <div class="panel panel-success">
                    <div class="panel-heading" style="background-color:#9dacad;">
                        <h3 class="panel-title" style="color:#ffffff;">
                            <b style="text-align:center;"> Création d'un utilisateur </b>
                        </h3>

                    </div>
                    <div class="panel-body">
                        
                                @*<p>
                                    <a href="/tfs/index" class="btn btn-success btn-xs">
                                        <span class="glyphicon glyphicon-arrow-left"></span> Retour à l'accueil
                                    </a>
                                </p>*@
                                @*{*@
                                @Html.AntiForgeryToken()

                                    @if (TempData["message"] != null)
                                    {

                                        if (TempData["status"].ToString() == "Erreur")
                                        {
                                            <div class="alert-message alert-message-warning">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                                <h4>	<i class="glyphicon glyphicon-ok"></i> Erreur!</h4>
                                                <p> <strong class="text-warning"> @TempData["message"]</strong></p>
                                            </div>
                                        }
                                    }

                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                         @*@Html.Label("Nom complete:", htmlAttributes: new { @class = "lblFontfamily lblFontsize  control-label col-lg-6" })*@
                                        @Html.Label(" Nom de l'utilisateur :", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.nom, htmlAttributes: new { @class = "form-control" })
                                            @* @Html.EditorFor(model => model.nom)*@
                                            @Html.ValidationMessageFor(model => model.nom)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Login :", htmlAttributes: new { @class = "control-label col-md-4" })
                                        @*@Html.Label("Login:", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-lg-6" })*@
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.login, htmlAttributes: new { @class = "form-control" })
                                            @*@Html.EditorFor(model => model.login)*@
                                            @Html.ValidationMessageFor(model => model.login)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Mot de passe :", htmlAttributes: new { @class = "control-label col-md-4" })
                                        @*@Html.Label("Mot de passe:", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-lg-6" })*@
                                        <div class="col-md-3">
                                            @Html.TextBoxFor(model => model.motdepasse, htmlAttributes: new { @class = "form-control",type="Password" })
                                            @Html.ValidationMessageFor(model => model.motdepasse)
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                        @Html.Label("Actif?:", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-lg-6" })
                                        <div class="col-lg-1">
                                            @Html.EditorFor(model => model.etat)
                                            @Html.ValidationMessageFor(model => model.etat)
                                        </div>
                                    </div>*@

                                    <div class="form-group">
                                        @*@Html.Label("Type d'utilisateur:", htmlAttributes: new { @class = "lblFontfamily lblFontsize control-label col-lg-6" })*@
                                        @Html.Label("Type d'utilisateur :", htmlAttributes: new { @class = "control-label col-md-4" })
                                        <div class="col-md-3">
                                            @*@Html.EditorFor(model => model.datecreate)*@
                                            @Html.DropDownList("typeutilisatur", null, "..Choisissez type..", htmlAttributes: new { @class = "form-control select2", style = "width:300px;", required = "required" })
                                            @Html.ValidationMessageFor(model => model.typeutilisatur)
                                        </div>
                                    </div>



                                        <div class="panel-footer">

                                            <button type="submit" class="btn btn-success col-md-offset-5"><span class="glyphicon glyphicon-floppy-save"></span> Enregistrer</button>
                                        </div>
                          
                                </div>
                                @*}*@


                            </div>
                        </div>
            
        </form>
        </div>
    </div>

