﻿
<style>
    .mag {
        width: 200px;
        margin: 0 auto;
        float: none;
    }

    .north {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg); /* Safari and Chrome */
    }

    .south {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg); /* Safari and Chrome */
    }

    .mag img {
        max-width: 100%;
    }

    .magnify {
        position: relative;
        cursor: none;
    }

    .magnify-large {
        position: absolute;
        display: none;
        width: 175px;
        height: 175px;
        -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
    }
</style>





<script>
    var indeximage = 0;
    @*var lstSelectedtextvalue =@Html.Raw(Json.Encode(ViewData["pathofimg1"]));*@
    var fielcount;
    var imgpt=  @Html.Raw(Json.Encode(ViewData["realphysicpath"]));
    var notf= @Html.Raw(Json.Encode(ViewData["numerotf"]));
    var CountOfFiles= @Html.Raw(Json.Encode(ViewData["nbrimages"]));
    var viewtyp= @Html.Raw(Json.Encode(ViewData["typview"]));

    var pathindexed;
</script>



<script type="text/javascript" language="javascript">
    function Displaysmthng(sens)
    {

        if (sens == 2) //next
        {
            if (indeximage != CountOfFiles)
            {
                indeximage = indeximage + 1;
            }
            else
            {
                indeximage = CountOfFiles;
            }

        }
        else if (sens == 1)//previous
        {
            if (indeximage != 0) {
                indeximage = indeximage - 1;
            }
            else {
                indeximage = 0;
            }
        }

        else if (sens == 0) { // FirstImage
            indeximage = 0;
        }
        else {  //last image
            indeximage = CountOfFiles;
        }
        $.ajax({
            url: '/tfs/AfficheImage',
            data: { indeximg : indeximage },
            success: function (retour) {
                var monimage = JSON.parse(retour);
                $(img).html("");
                $(img).html('<img class="north img-responsive" data-toggle="magnify" height="504" width="650" src="'+monimage+'" />  ');

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Impossible d'afficher cette image  ");
            }
        });
    }
    @*function Displaysmthng(b) {


        if (b == 2) //next
        {
            fielcount = CountOfFiles;
            if (indeximage != fielcount)
            {
                indeximage = indeximage + 1;
            }
            else
            {
                indeximage = 1;
            }

        }
        else if (b == 1)//previous
        {

            if (indeximage != 1) {
                indeximage = indeximage - 1;
            }
            else {
                indeximage = 1;
            }
        }

        else if (b == 0) { // FirstImage
            indeximage = 1;

        }
        else {  //last image
            fielcount =CountOfFiles;

            indeximage = fielcount;

        }
        if(viewtyp==1)
        {
            $("#rt").val(0);
           rot();
        }
        else
        {
            $("#myModal").find("#rt").val(0);
            rot();

        }
        var returnedresult = '@Html.Raw((ViewBag.pathofimg1))';
        var indexofdot=returnedresult.indexOf("g");
        if(indeximage<=9)
        {
            var intindexofdot=parseInt(indexofdot)-4;
            pathindexed = returnedresult.substr(0, intindexofdot) + indeximage+ returnedresult.substr(intindexofdot + 1);

            $(img).html("");
            $(img).html('<img class="north img-responsive" data-toggle="magnify" height="504" width="650" src="'+pathindexed+'" />  ');
        }
        else
        {
            var intindexofdot=parseInt(indexofdot)-5;
            pathindexed = returnedresult.substr(0, intindexofdot) + indeximage+ returnedresult.substr(intindexofdot +2);
            //alert(pathindexed);
            //alert(returnedresult);
            $(img).html("");
            $(img).html('<img class="north img-responsive" data-toggle="magnify" height="504" width="650" src="'+pathindexed+'" />  ');

        }


    }*@
    function rotation() {
        var img = $('img');
        if(img.hasClass('north')){
            img.attr('class','south img-responsive');
        }else {
            img.attr('class','north img-responsive');
        }
    }
    function zoom() {
        var h= $('#zm').val();
        var pic_real_height =  '704px';
        var pic_real_width ='630px';

        if(h==1)
        {
            $('img').width(630);
            $('img').height(704);
        }
        else  if(h==2)
        {
            $('img').width(830);
            $('img').height(930);
        }
        else  if(h==3)
        {

            $('img').width(1030);
            $('img').height(1130);
        }
        else
        {
            $('img').width(1230);
            $('img').height(1330);
        }
        //$(function() {
        //    $("#img1").elevateZoom();
        //});
        //$(function() {
      //  $('img').elevateZoom();
        //});
    };

    function rot()
    {
        if(viewtyp==1)
        { var deg =$("#rt").val();

            var rotate = 'rotate(' + deg + 'deg)';
            //  alert(deg);s
            $(img).css({
                '-webkit-transform': rotate,
                '-moz-transform': rotate,
                '-o-transform': rotate,
                '-ms-transform': rotate,
                'transform': rotate
            })
        }
        else
        {
            var deg =$("#myModal").find("#rt").val();

            var rotate = 'rotate(' + deg + 'deg)';
            //  alert(deg);s
            $(img).css({
                '-webkit-transform': rotate,
                '-moz-transform': rotate,
                '-o-transform': rotate,
                '-ms-transform': rotate,
                'transform': rotate
            })
        }
    }

</script>

<div id="imageContainer" class="container-inner col-md-offset-2" style="border:0px solid navy;height:704px;width:550px">
    @*<button type="button" class="btn btn-default btn-sm" onclick="reset()"><span class="glyphicon glyphicon-align-justify"></span></button>*@
    <button type="button" class="btn-xs btn btn-info" onclick="Displaysmthng(0)"><<</button>
    <button type="button" class="btn-xs btn btn-info" onclick="Displaysmthng(1)"> < </button>
    <button type="button" class="btn-xs btn btn-info" onclick="Displaysmthng(2)"> > </button>
    <button type="button" class="btn-xs btn btn-info" onclick="Displaysmthng(3)"> >></button>

    @*<span class="label label-info">Rotate</span>
        <input class="btn-xs btn" type="range" onclick="rot()" name="Rotate" id="rt" min="0" max="100" style="background: #BABABA;display:inline;width:170px">*@
    <button class="btn-info" value="Rotate" onclick="rotation()"> <span class="glyphicon glyphicon-repeat"></span> Rotation</button>


    <br />
    <br />
    <div id="img">
        <img class="north img-responsive" data-toggle="magnify" height="504" width="650" src="@ViewBag.ImageData" />
    </div>


</div>
